@using Forestry.Flo.Services.FileStorage.Configuration
@using Forestry.Flo.Services.Common
@using Microsoft.Extensions.Options
@using System.Linq
@inject IOptions<UserFileUploadOptions> Settings
@model Forestry.Flo.External.Web.Models.Compartment.UploadMapModel

@{
    ViewData["Title"] = "Supporting documentation";

    var allowedTypes = (Settings?.Value ?? new UserFileUploadOptions()).AllowedFileTypes
        .Where(a => a.Description == "Image" && a.FileUploadReasons.Contains(FileUploadReason.SupportingDocument))
        .ToArray();

    var allowedExtensions = allowedTypes.SelectMany(x => x.Extensions).ToArray();
    var maxFileSize = (Settings?.Value ?? new UserFileUploadOptions()).MaxFileSizeBytes;
    var maxNumberDocs = (Settings?.Value ?? new UserFileUploadOptions()).MaxNumberDocuments;
}

<form id="attachSupportingDocumentationForm" method="post" enctype="multipart/form-data" asp-controller="Compartment" asp-action="UploadMap">

    <input type="hidden" asp-for="@Model.ApplicationId">
    <input id="allowed-extensions" aria-hidden="true" class="govuk-visually-hidden" type="hidden" value="@string.Join(", ", allowedExtensions)" />
    <input id="allowed-max-size" aria-hidden="true" class="govuk-visually-hidden" type="hidden" value="@maxFileSize" />
    <input id="allowed-max-size-description" aria-hidden="true" class="govuk-visually-hidden" type="hidden" value="@FileSizeToStringConverter.SizeSuffix(maxFileSize)" />
    <input id="allowed-number-documents" aria-hidden="true" class="govuk-visually-hidden" type="hidden" value="@maxNumberDocs" />
    <input id="current-number-documents" aria-hidden="true" class="govuk-visually-hidden" type="hidden" value="@Model.DocumentCount" />

    <div class="govuk-form-group" id="file-select-group">
        <label for="supporting-documentation-files" class="govuk-label">Upload a file</label>
        <p id="supporting-documentation-files-error" class="govuk-error-message govuk-visually-hidden" aria-hidden="true">
            <span class="govuk-visually-hidden">Error:</span><span id="file-upload-error-text"></span>
        </p>
        <input type="file" multiple class="custom-file-input govuk-file-upload" id="supporting-documentation-files" name="imageFiles" runat="server" />
    </div>

    <fieldset class="govuk-fieldset">
        <div class="govuk-hint">You must select one or more files above to upload them</div>
        <button id="submit-supporting-document-button" type="submit" class="govuk-button" data-module="govuk-button" name="store-supporting-documents" value="Upload" disabled="disabled">
            Upload
        </button>
    </fieldset>
</form>