@model Forestry.Flo.External.Web.Models.Compartment.CompartmentCreationMethodModel
@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.External.Web.Models.Compartment
@{
    ViewData.ManuallySetBackLink(Model.ApplicationId is not null
        ? Url.Action("SelectCompartments", "FellingLicenceApplication", new { applicationId = Model.ApplicationId, agencyId = Model.AgencyId })
        : Url.Action("Edit", "PropertyProfile", new { id = Model.PropertyProfileId, woodlandOwnerId = Model.WoodlandOwnerId, agencyId = Model.AgencyId })
    );

    ViewData.ShowBackLink();
    ViewData["Title"] = "How would you like to create compartments?";
}

<partial name="Partials/_ConfirmationMessageDisplay" />
<partial name="Partials/_UserGuideDisplay" />

<div class="govuk-grid-column-two-thirds">
    <form asp-action="ChooseCreationMethod" asp-controller="Compartment"
          method="post"
          id="chooseCreationMethod">

        <input type="hidden" asp-for="CompartmentId" />
        <input type="hidden" asp-for="PropertyProfileId" />
        <input type="hidden" asp-for="ApplicationId" />
        <input type="hidden" asp-for="WoodlandOwnerId" />
        <input type="hidden" asp-for="IsForRestockingCompartmentSelection" />
        <input type="hidden" asp-for="FellingCompartmentName" />
        <input type="hidden" asp-for="FellingCompartmentId" />
        <input type="hidden" asp-for="ProposedFellingDetailsId" />
        <input type="hidden" asp-for="FellingOperationType" />
        <input type="hidden" asp-for="AgencyId" />


        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        @ViewData["Title"]
                    </h1>
                </legend>

                <div id="choice-hint" class="govuk-hint">
                    You can upload shapefiles from your GIS system, maps drawn on paper, or create compartments using an interactive map.
                </div>
                
                <validation asp-for="CreationMethod"></validation>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input type="radio" class="govuk-radios__input" id="uploadShapefiles" asp-for="@Model.CreationMethod" value="@CreationMethod.UploadShapefiles">
                        <label class="govuk-label govuk-radios__label" for="uploadShapefiles">
                            I want to upload shapefiles
                        </label>
                        <div class="govuk-hint govuk-radios__hint">
                            You can upload geojson, KML, ESRI file types.
                        </div>
                    </div>
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input type="radio" class="govuk-radios__input" id="useMap" asp-for="@Model.CreationMethod" value="@CreationMethod.UseMap">
                        <label class="govuk-label govuk-radios__label" for="useMap">
                            I want to use the map
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-button-group">
            <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </div>
    </form>
</div>