@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.Agency.FcUserAgencyCreationModel
@{
    ViewData["Title"] = "Confirm agency details";
    ViewData.ShowBackLink();
}
<div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">
        @ViewData["Title"]
    </h1>
    
    <div class="govuk-summary-card">

        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Agency</h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" asp-action="RegisterAgencyDetails">Change</a>
                </li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                @if (Model.IsOrganisation)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Agency name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationName
                        </dd>
                    </div>
                }
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ContactName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ContactEmail
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Address?.Line1<br/>
                        @if (string.IsNullOrWhiteSpace(Model.Address.Line2) is false)
                        {
                            @Model.Address.Line2

                            <br/>
                        }
                        @Model?.Address?.Line3<br/>
                        @if (string.IsNullOrWhiteSpace(Model.Address.Line4) is false)
                        {
                            @Model.Address.Line4

                            <br/>
                        }
                        @Model.Address.PostalCode
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <form method="post">
        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                
                <a class="govuk-link" asp-controller="Home" asp-action="Index" title="Cancel creating a new agency">Cancel</a>
            </div>
        </div>
    </form>
</div>