@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.Agency.FcUserAgencyCreationModel
@{
    ViewData["Title"] = "What are the agency details?";
    ViewData.ShowBackLink();
}
<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        @ViewData["Title"]
    </h1>
        
    <partial name="Partials/_PageErrors" />

    <form method="post">

        <fieldset class="govuk-fieldset">
            <input type="hidden" asp-for="@Model.IsOrganisation" />
            <input type="hidden" asp-for="@Model.OrganisationStatus" />

            <div class="govuk-form-group">
                <label asp-for="ContactName" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactName"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactName" />
            </div>

            <div class="govuk-form-group">
                <label asp-for="ContactEmail" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactEmail"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactEmail" />
            </div>
            
            @if (Model.IsOrganisation)
            {
                <div class="govuk-form-group">
                    <label asp-for="OrganisationName" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationName"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationName" autocomplete="organization" />
                </div>
            }

            <h2 class="govuk-heading-s">
                Agency address
            </h2>

            <div class="govuk-form-group">
                <label asp-for="Address.Line1" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="Address.Line1"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="Address.Line1" autocomplete="address-line1"/>
            </div>
            <div class="govuk-form-group">
                <label asp-for="Address.Line2" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="Address.Line2"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="Address.Line2" autocomplete="address-line2"/>
            </div>
            <div class="govuk-form-group">
                <label asp-for="Address.Line3" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="Address.Line3"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="Address.Line3" autocomplete="address-level2"/>
            </div>
            <div class="govuk-form-group">
                <label asp-for="Address.Line4" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="Address.Line4"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="Address.Line4" autocomplete="address-level1"/>
            </div>
            <div class="govuk-form-group">
                <label asp-for="Address.PostalCode" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="Address.PostalCode"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="Address.PostalCode" autocomplete="postal-code"/>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">

                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                    <a class="govuk-link" asp-controller="FcUser" asp-action="Index" title="Abandon changes and go to the home page">Cancel</a>

                </div>
            </div>
        </fieldset>
    </form>
</div>    