@{
    ViewData["Title"] = "Constraints Check";

    var user = new InternalUser(User);
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.Internal.Web.Infrastructure
@model Forestry.Flo.Internal.Web.Models.AdminOfficerReview.ConstraintsCheckModel

@{  
   var hasAttachedLisReport = Model.FellingLicenceApplicationSummary?.MostRecentFcLisReport.HasValue ?? false;  
   if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")  
   {  
       hasAttachedLisReport = true;
   }  
}

<div class="govuk-grid-column-full">
    
    <partial name="Partials/_ConfirmationMessageDisplay"/>
    <partial name="Partials/_UserGuideDisplay"/>

    <h1 class="govuk-heading-l">Check for constraints</h1>
    
    <partial name="Partials/_PageErrors"/>
    
    <p class="govuk-body">
        Use the constraints check to compare mapped compartments against Land Information Search (LIS) data.
        This generates a report that helps identify anything that might affect the application.
    </p>
    
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            You must be signed in to the Forestry Commission VPN to run the constraints check.
        </strong>
    </div>
    
    <h2 class="govuk-heading-m">To run the check:</h2>
    <ol class="govuk-list govuk-list--number">
        <li>Select @(hasAttachedLisReport ? "Run" : "Run or re-run") constraints check. This opens the map browser in a new tab.</li>
        <li>In the new tab, select Upload Case Report.</li>
        <li>Select Save to Felling Licence Online.</li>
        <li>Return to this page and refresh.</li>
    </ol>
    
    <div class="govuk-!-padding-bottom-3"></div>

    <partial name="Partials/_ConstraintReportDownloadLink" model="@Model.FellingLicenceApplicationSummary"/>
    
    <form id="form-without-lis-report" condition="@(hasAttachedLisReport == false)">
        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <a target="_blank" condition-disabled="@(!Model.Editable(user))" class="govuk-button" data-module="govuk-button" asp-controller="ConstraintsCheck" asp-action="Run" asp-route-id="@Model.ApplicationId">
                    Run constraints check
                </a>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-action="Index" asp-route-id="@Model.ApplicationId">
                    Back to admin officer review
                </button>
            </div>
        </div>
    </form>

    <form id="form-with-list-report" method="post" condition="@hasAttachedLisReport">
        
        <input asp-for="ApplicationId" />

        <div class="govuk-form-group">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <validation asp-for="@Model.IsComplete"></validation>
                    <input condition-disabled="@(!Model.Editable(user))" class="govuk-checkboxes__input" asp-for="IsComplete" id="is-complete" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label" for="is-complete">
                        I've reviewed the constraints report and confirm it reflects the current application
                    </label>
                </div>
            </div>
        </div>

        <div class="govuk-form-group" condition="@Model.Editable(user)">
            <div style="display: flex;">
                <a target="_blank" condition-disabled="@(!Model.Editable(user))" class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-controller="ConstraintsCheck" asp-action="Run" asp-route-id="@Model.ApplicationId">
                    Run or re-run constraints check
                </a>
                <p class="govuk-body">(Opens in new tab)</p>
            </div>
            <label class="govuk-hint">This will replace the current LIS report.</label>
        </div>
        
        <div class="govuk-!-padding-bottom-3"></div>

        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button type="submit" condition-disabled="@(!Model.Editable(user))" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-action="Index" asp-route-id="@Model.ApplicationId">
                    Back to admin officer review
                </button>
            </div>
        </div>
    </form>
</div>