@{
    ViewData["Title"] = "Operations admin officer review";

    var user = new InternalUser(User);
}
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@using Forestry.Flo.Services.Common.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.Internal.Web.Infrastructure
@using Forestry.Flo.Services.FellingLicenceApplications.Extensions
@using Forestry.Flo.Internal.Web.Controllers.FellingLicenceApplication
@using Forestry.Flo.Services.FellingLicenceApplications.Models
@model Forestry.Flo.Internal.Web.Models.AdminOfficerReview.AdminOfficerReviewModel

<div class="govuk-grid-column-full">

    <partial name="Partials/_ConfirmationMessageDisplay"/>
    <partial name="Partials/_UserGuideDisplay"/>
    <partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary"/>

    <h1 class="govuk-heading-m">@ViewData["Title"]</h1>

    <partial name="Partials/_PageErrors"/>

    <form id="admin-officer-review" method="post" asp-action="ConfirmAdminOfficerReview">

        <input asp-for="ApplicationId" />
        <input type="hidden" asp-for="AssignedWoodlandOfficer"/>
        <input type="hidden" condition="@(!Model.Editable || Model.ApplicationSource == FellingLicenceApplicationSource.ApplicantUser)" asp-for="DateReceived.Day"/>
        <input type="hidden" condition="@(!Model.Editable || Model.ApplicationSource == FellingLicenceApplicationSource.ApplicantUser)" asp-for="DateReceived.Month" />
        <input type="hidden" condition="@(!Model.Editable || Model.ApplicationSource == FellingLicenceApplicationSource.ApplicantUser)" asp-for="DateReceived.Year" />
        <input type="hidden" condition="@(!Model.Editable || Model.ApplicationSource == FellingLicenceApplicationSource.ApplicantUser)" asp-for="ApplicationSource" />

        <input id="steps-complete" type="hidden" value="@Model.AdminOfficerReviewTaskListStates.IsCompletable().ToString()" />

        @* todo: populate hrefs for task list items *@

        <ul class="app-task-list__items">
            <li condition="@Model.AgentApplication" class="app-task-list__item">
                <span class="app-task-list__task-name">
                    <a href="@Url.Action(nameof(AdminOfficerReviewController.AgentAuthorityFormCheck), new { id = Model.FellingLicenceApplicationSummary.Id })" aria-describedby="agent-authority-form">
                        Agent authority form
                    </a>
                </span>
                <strong class="govuk-tag @Model.AdminOfficerReviewTaskListStates.AgentAuthorityFormStepStatus.GetStatusStyleName() app-task-list__tag" id="agent-authority-form">@Model.AdminOfficerReviewTaskListStates.AgentAuthorityFormStepStatus.GetDisplayName()</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    <a href="@Url.Action(nameof(AdminOfficerReviewController.MappingCheck), new { id = Model.FellingLicenceApplicationSummary.Id })" aria-describedby="mapping-check">
                        Mapping check
                    </a>
                </span>
                <strong class="govuk-tag @Model.AdminOfficerReviewTaskListStates.MappingCheckStepStatus.GetStatusStyleName() app-task-list__tag" id="mapping-check">@Model.AdminOfficerReviewTaskListStates.MappingCheckStepStatus.GetDisplayName()</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    @if (Model.AdminOfficerReviewTaskListStates.ConstraintsCheckStepStatus is InternalReviewStepStatus.CannotStartYet)
                    {
                        <a aria-describedby="constraints-check">
                            Constraints check
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action(nameof(AdminOfficerReviewController.ConstraintsCheck), new { id = Model.FellingLicenceApplicationSummary.Id })" aria-describedby="constraints-check">
                            Constraints check
                        </a>
                    }
                </span>
                <strong class="govuk-tag @Model.AdminOfficerReviewTaskListStates.ConstraintsCheckStepStatus.GetStatusStyleName() app-task-list__tag" id="constraints-check">@Model.AdminOfficerReviewTaskListStates.ConstraintsCheckStepStatus.GetDisplayName()</strong>

                @if (Model.AdminOfficerReviewTaskListStates.ConstraintsCheckStepStatus is InternalReviewStepStatus.CannotStartYet)
                {
                    <a class="govuk-hint" condition="@Model.AgentApplication">
                        <br>(Agent authority form and mapping checks must have passed)
                    </a>
                    <a class="govuk-hint" condition="@(Model.AgentApplication == false)">
                        <br>(Mapping checks must have passed)
                    </a>
                }
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    @if (Model.AdminOfficerReviewTaskListStates.LarchApplicationStatus is InternalReviewStepStatus.NotRequired || Model.AdminOfficerReviewTaskListStates.LarchApplicationStatus is InternalReviewStepStatus.CannotStartYet)
                    {
                        <a aria-describedby="larch-check">
                            Larch check
                        </a>
                        @if (Model.AdminOfficerReviewTaskListStates.LarchApplicationStatus is InternalReviewStepStatus.NotRequired)
                        {
                            <a class="govuk-hint">
                                <br>(The application is not felling Larch species in Zone 1)
                            </a>
                        }
                    }
                    else
                    {
                        <a href="@Url.Action(nameof(AdminOfficerReviewController.LarchCheck), new { id = Model.FellingLicenceApplicationSummary.Id })" aria-describedby="larch-check">
                            Larch check
                        </a>
                    }
                </span>
                <strong class="govuk-tag @Model.AdminOfficerReviewTaskListStates.LarchApplicationStatus.GetStatusStyleName() app-task-list__tag" id="licence-sub-type-check">@Model.AdminOfficerReviewTaskListStates.LarchApplicationStatus.GetDisplayName()</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    @if (Model.AdminOfficerReviewTaskListStates.LarchFlyoverStatus is InternalReviewStepStatus.NotRequired || Model.AdminOfficerReviewTaskListStates.LarchFlyoverStatus is InternalReviewStepStatus.CannotStartYet)
                    {
                        <a aria-describedby="larch-check">
                            Larch flyover update
                        </a>
                        @if (Model.AdminOfficerReviewTaskListStates.LarchApplicationStatus is InternalReviewStepStatus.NotRequired)
                        {
                            <a class="govuk-hint">
                                <br>(The application is not felling Larch species in Zone 1)
                            </a>
                        }
                    }
                    else
                    {
                        <a href="@Url.Action(nameof(AdminOfficerReviewController.LarchFlyover), new { id = Model.FellingLicenceApplicationSummary.Id })" aria-describedby="larch-check">
                            Larch flyover update
                        </a>
                    }
                </span>
                <strong class="govuk-tag @Model.AdminOfficerReviewTaskListStates.LarchFlyoverStatus.GetStatusStyleName() app-task-list__tag" id="licence-sub-type-check">@Model.AdminOfficerReviewTaskListStates.LarchFlyoverStatus.GetDisplayName()</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    @if (Model.AdminOfficerReviewTaskListStates.CBWStatus is InternalReviewStepStatus.NotRequired || Model.AdminOfficerReviewTaskListStates.CBWStatus is InternalReviewStepStatus.CannotStartYet)
                    {
                        <a aria-describedby="cbw-check">
                            Cricket bat willow check
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action(nameof(AdminOfficerReviewController.CBWCheck), new { id = Model.FellingLicenceApplicationSummary.Id })" aria-describedby="cbw-check">
                            Cricket bat willow check
                        </a>
                    }
                </span>
                <strong class="govuk-tag @Model.AdminOfficerReviewTaskListStates.CBWStatus.GetStatusStyleName() app-task-list__tag" id="licence-sub-type-check">@Model.AdminOfficerReviewTaskListStates.CBWStatus.GetDisplayName()</strong>
            </li>
            <li class="app-task-list__item">
                <span class="app-task-list__task-assign-woodland-officer">
                    @if ((Model.AdminOfficerReviewTaskListStates.CBWStatus is InternalReviewStepStatus.NotRequired || Model.AdminOfficerReviewTaskListStates.CBWStatus is InternalReviewStepStatus.Completed) && Model.Editable)
                    {
                        if (Model.RequireWOReview)
                        {
                            <a class="govuk-link"
                            asp-controller="AssignFellingLicenceApplication"
                            asp-action="SelectUser"
                            asp-route-id="@Model.FellingLicenceApplicationSummary.Id"
                            asp-route-selectedRole="@AssignedUserRole.WoodlandOfficer"
                            asp-route-returnUrl="@Url.Action("Index", "AdminOfficerReview", new { Model.FellingLicenceApplicationSummary.Id })"
                            aria-describedby="assign-woodland-officer">
                                Assign woodland officer
                            </a>
                        }
                        else
                        {
                            <a class="govuk-link"
                               asp-controller="AssignFellingLicenceApplication"
                               asp-action="SelectUser"
                               asp-route-id="@Model.FellingLicenceApplicationSummary.Id"
                               asp-route-selectedRole="@AssignedUserRole.FieldManager"
                               asp-route-returnUrl="@Url.Action("Index", "AdminOfficerReview", new { Model.FellingLicenceApplicationSummary.Id })"
                               aria-describedby="assign-woodland-officer">
                                Assign approver
                            </a>
                        }
                    }
                    else
                    {
                        if (Model.AdminOfficerReviewTaskListStates.CBWStatus is InternalReviewStepStatus.CannotStartYet || Model.AdminOfficerReviewTaskListStates.CBWStatus is InternalReviewStepStatus.NotStarted)
                        {
                            <a aria-describedby="assign-woodland-officer">
                                Assign woodland officer / approver
                            </a>
                        }
                        else
                        {
                            <a aria-describedby="assign-woodland-officer">
                                Assign woodland officer
                            </a>
                        }
                    }
                </span>
                <strong class="govuk-tag @Model.AdminOfficerReviewTaskListStates.AssignWoodlandOfficerStatus.GetStatusStyleName() app-task-list__tag" id="licence-sub-type-check">@Model.AdminOfficerReviewTaskListStates.AssignWoodlandOfficerStatus.GetDisplayName()</strong>
            </li>
        </ul>

        <div class="govuk-form-group">
            <h2 class="govuk-heading-s">Review actions</h2>

            <fieldset class="govuk-fieldset" condition="@Model.Editable">
                <div id="return-to-applicant-hint" class="govuk-hint">
                    If there are issues with the application that require changes from the applicant, click here.
                </div>
                <a id="assign-to-applicant" class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-controller="AssignFellingLicenceApplication" asp-action="AssignBackToApplicant" asp-route-applicationId="@Model.FellingLicenceApplicationSummary.Id" asp-route-returnUrl="@Url.Action("Index", "AdminOfficerReview", new { Model.FellingLicenceApplicationSummary.Id })">Return to applicant</a>
            </fieldset>

            <fieldset condition="@(Model.Editable && Model.ApplicationSource != FellingLicenceApplicationSource.ApplicantUser)" class="govuk-fieldset" role="group" aria-describedby="DateReceived-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-s">
                        When was the application received?
                    </h2>
                </legend>
                <div class="govuk-hint">
                    For example, 24 6 2022
                </div>
                @Html.EditorFor(m => m.DateReceived)
                <br/>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" asp-for="ApplicationSource">Application type:</label>
                    <label class="govuk-label" asp-for="ApplicationSource">@(Model.ApplicationSource.GetDisplayName())</label>
                </div>
            </fieldset>
            <br/>
            <br/>

            <fieldset class="govuk-fieldset">
                <p condition="@Model.Editable" class="govuk-body">When you've completed all your checks, submit your review to move the application to the next stage.</p>
                <br/>
                <div class="govuk-form-group">
                    <button condition="@Model.Editable" id="submit-admin-officer-review" data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" disabled="disabled">
                        Submit review
                    </button>

                    <a id="return-admin-officer-review" class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-controller="FellingLicenceApplication" asp-action="ApplicationSummary" asp-route-id="@Model.FellingLicenceApplicationSummary.Id">
                        Return to application
                    </a>
                </div>
            </fieldset>
        </div>
    </form>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <partial name="Partials/_ActivityFeed" model="@Model.AdminOfficerReviewCommentsFeed"/>

</div>


@section Scripts
    {
    <script src="~/js/admin-officer-review.js" asp-append-version="true"></script>
    <script src="~/js/add-case-note.js" asp-append-version="true"></script>
    <script src="~/js/display-user-icon.js" asp-append-version="true"></script>
    <script src="~/js/filter-activity-feed.js" asp-append-version="true"></script>
}

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}