@{
    ViewData["Title"] = "Mapping check";

    var user = new InternalUser(User);
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.Internal.Web.Infrastructure.Display
@using Forestry.Flo.Internal.Web.Infrastructure
@model Forestry.Flo.Internal.Web.Models.AdminOfficerReview.MappingCheckModel

<div class="govuk-grid-column-full map-check-containter">

    <partial name="Partials/_ConfirmationMessageDisplay" />
    <partial name="Partials/_UserGuideDisplay" />

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <partial name="Partials/_PageErrors" />

    <p class="govuk-body">
        The mapping must be clear and include all compartments in the application. It must only cover the area to be felled or restocked.
        <br />
        It cannot be a generic shape on the map, as it needs to specify precisely where the felling and restocking will take place.
        <br />
        It cannot include any feature that is too large for the tree canopy to close over if trees were planted around it – a few examples would be:
    </p>
    <ul>
        <li>A small shed could be included as the canopy could close over the top, whereas a large barn would likely be too wide for the canopy to cover.</li>
        <li>A farm track would be fine, but a 2-carriageway tarmac road would be too wide.</li>
        <li>A layby for a car to pull off the road would be fine, but a large parking area for several cars or agricultural vehicles would be too big.</li>
        <li>A small pond would be acceptable, but a large fishing lake would be too big.</li>
    </ul>

    <input type="hidden" id="runningMode" value="felling" />
    @foreach (var item in Model.FellingAndRestockingDetails)
    {
        <input type="hidden" id="@item.CompartmentId" value="@item.GISData" data-label="@item.CompartmentName" data-group="compartments_GIS" data-type="felling" />
        @foreach (var restocking in item.RestockingDetail)
        {
            <input type="hidden" id="@restocking.RestockingCompartmentId" value="@restocking.GISData" data-label="@restocking.RestockingCompartmentName" data-group="compartments_GIS" data-type="restocking" />
        }
    }

    <calcite-shell id="shell" content-behind>
        <h2 id="header-title" slot="header">
            Felling
        </h2>
        <calcite-shell-panel id="panelMenu" slot="panel-start" display-mode="float" detached closed>

            <calcite-action-bar slot="action-bar" expanded>
                <calcite-action data-action-id="basemaps"
                                icon="basemap"
                                text="Basemaps"
                                scale="l"
                                text-enabled></calcite-action>
                <calcite-action id="view"
                                icon="analysis"
                                text="View Restocking"
                                scale="l"
                                text-enabled></calcite-action>
            </calcite-action-bar>

            <calcite-panel heading="Basemap Selection" description="Please select an base map to view" height-scale="s" data-panel-id="basemaps" hidden>
                <calcite-action icon="question" text="Help" slot="header-actions-start" id="help-basemap-button" scale="s"></calcite-action>
                <calcite-action icon="x" text="close" slot="header-actions-end" id="close-basemap-button" scale="s"></calcite-action>
                <div id="basemaps-container"><arcgis-basemap-gallery></arcgis-basemap-gallery></div>
            </calcite-panel>

        </calcite-shell-panel>
        <arcgis-map id="viewDiv" class="profileMap" >
            <arcgis-scale-bar slot="bottom-right" unit="dual"></arcgis-scale-bar>
            <arcgis-zoom slot="top-right"></arcgis-zoom>
            <arcgis-compass slot="top-right"></arcgis-compass>
        </arcgis-map>
    </calcite-shell>


    <form id="admin-officer-review" method="post">
        <input aria-hidden="True" type="hidden" asp-for="ApplicationId" />

        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

                    <h1 class="govuk-fieldset__heading">
                        Is the mapping for this application correct?
                    </h1>

                </legend>

                <validation asp-for="@Model.CheckPassed"></validation>

                <div class="govuk-radios" data-module="govuk-radios">

                    <div class="govuk-radios__item">

                        <input condition-disabled="@(!Model.Editable(user))" class="govuk-radios__input check-radios" id="check-passed" asp-for="CheckPassed" type="radio" value="true" />

                        <label class="govuk-label govuk-radios__label" for="check-passed">
                            Yes, the mapping is correct
                        </label>

                    </div>

                    <div class="govuk-radios__item">

                        <input condition-disabled="@(!Model.Editable(user))" class="govuk-radios__input check-radios" id="check-failed" asp-for="CheckPassed" type="radio" value="false" />

                        <label class="govuk-label govuk-radios__label" for="check-failed">
                            No, the mapping is not correct
                        </label>

                    </div>

                </div>

            </fieldset>

        </div>

        <div class="govuk-form-group" id="failure-reason-input">

            <label class="govuk-label" asp-for="CheckFailedReason">
                Reason for failure
            </label>

            <validation asp-for="CheckFailedReason"></validation>

            <textarea condition-disabled="@(!Model.Editable(user))" class="govuk-textarea" maxlength="400" asp-for="CheckFailedReason" rows="5"></textarea>

        </div>

        <div>

            <button condition="@Model.Editable(user)" type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <a class="govuk-button govuk-button--secondary" asp-action="Index" asp-route-id="@Model.ApplicationId">
                Back to admin officer review
            </a>

        </div>
    </form>
</div>

<link rel="stylesheet" href="https://js.arcgis.com/4.34/esri/themes/light/main.css" />

<script type="module">
    require(["../../js/mapping/maps/map-profile-page.js?v=" + Date.now()], function (ProfileMap) {
        var mapObj = new ProfileMap("viewDiv", true);
    });
</script>

@section Scripts
{
    <script src="~/js/agent-authority-form-check.js" asp-append-version="true"></script>
    <script src="https://js.arcgis.com/calcite-components/3.3.3/calcite.esm.js" type="module"></script>
    <script src="https://js.arcgis.com/4.34/"></script>
    <script type="module" src="https://js.arcgis.com/4.34/map-components/"></script>
}

@section Css
{
    <link rel="stylesheet" href="~/css/mapping-check.css" aria-busyasp-append-version="true" />
}

<style>
    #shell {
        position: unset !important;
        height: 600px;
    }

    #viewDiv {
        padding: 0;
        margin: 0;
        height: 100% !important;
        width: 100%;
    }
</style>
