@using Forestry.Flo.Services.Common.User
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.Common
@model IList<Forestry.Flo.Services.Applicants.Models.LegacyDocumentModel>

@{
    ViewData["Title"] = "Legacy Documents";

    var user = new ExternalApplicant(User);
}

<div class="govuk-grid-column-full">
    
    <partial name="Partials/_PageErrors" />
    
    <h1 class="govuk-heading-xl">Your legacy documents</h1>
    <p class="govuk-body">Your approved licences and shared application documents that were migrated from FLOv1 are shown below.</p>
    
    <table class="govuk-table" data-module="moj-sortable=table" id="legacy-documents-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th condition="@(user.AccountType != AccountTypeExternal.WoodlandOwner && user.AccountType != AccountTypeExternal.WoodlandOwnerAdministrator)" scope="col" class="govuk-table__header" aria-sort="ascending">Woodland owner</th>
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Document name</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Document type</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">File size</th>
            <th scope="col" class="govuk-table__header" aria-sort="none">Actions</th>
        </tr>
        </thead>
        
        <tbody class="govuk-table__body">

        @foreach (var document in Model)
        {
            <tr data-id="@document.Id" class="govuk-table__row data-row">
                <th condition="@(user.AccountType != AccountTypeExternal.WoodlandOwner && user.AccountType != AccountTypeExternal.WoodlandOwnerAdministrator)" scope="row" class="govuk-table__header" data-order="@document.WoodlandOwnerName">@document.WoodlandOwnerName</th>
                <th scope="row" class="govuk-table__header" data-order="@document.FileName">@document.FileName</th>
                <th scope="row" class="govuk-table__header" data-order="@document.DocumentType">@document.DocumentType.GetDisplayName()</th>
                <th scope="row" class="govuk-table__header" data-order="@document.FileSize">@FileSizeToStringConverter.SizeSuffix(document.FileSize)</th>
                <td class="govuk-table__cell"><a class="govuk-button govuk-button__primary" asp-route-id="@document.Id" asp-action="GetContent">Download</a></td>
            </tr>
        }
        </tbody>
    </table>
    @if (!Model.Any())
    {
        <div class="govuk-hint">
            No legacy documents are available.
        </div>
    }
</div>