@using Forestry.Flo.Services.Common.User
@model Forestry.Flo.External.Web.Models.Home.AgentUserHomePageModel

@{
    ViewData["Title"] = "Your managed clients";
    var breadcrumbs = new BreadcrumbsModel { Breadcrumbs = new List<BreadCrumb>(0), CurrentPage = "Home" };

    const bool legacyDocuments = false;  //FLOV2-2143 - hide this link
}

<div class="govuk-grid-column-full">

    <partial name="Partials/_PageErrors" />
    <partial name="Partials/_ConfirmationMessageDisplay" />
    <partial name="Partials/_UserGuideDisplay" />
    
    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

    <partial name="Partials/_WoodlandOwnerList" model="Model.WoodlandOwners" />
    
    <user-is-in-role-multiple role-names="new[] { AccountTypeExternal.AgentAdministrator, AccountTypeExternal.Agent, AccountTypeExternal.FcUser }">
        <br />
        <a asp-controller="AgentAuthorityForm" asp-action="ContactDetails" asp-route-reset="@true" asp-route-agencyId="@Model.AgencyId" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Create new client
        </a>
    </user-is-in-role-multiple>
    <user-is-in-role role-name="AgentAdministrator" condition="@legacyDocuments">
        <br />
        <a class="govuk-link" asp-controller="LegacyDocuments" asp-action="Index">
            View your legacy documents from FLOv1
        </a>
    </user-is-in-role>

@*    <user-is-in-role role-name="AgentAdministrator">
        <br />
        <form asp-action="InviteAgentToOrganisation" asp-controller="Account" method="Get">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Invite another user to your organisation
            </button>
        </form>
    </user-is-in-role>*@
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@breadcrumbs" />
}
