@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var showWoodlandOwnerOrganisationDetailsCard = Model.UserTypeModel is { AccountType: AccountType.WoodlandOwner or AccountType.Trust or AccountType.Tenant, IsOrganisation: true };
    var showAgencyDetailsCard = Model.UserTypeModel is { AccountType: AccountType.Agent, IsOrganisation: true };
    var showLandlordDetailsCard = Model.UserTypeModel.AccountType == AccountType.Tenant && Model.LandlordDetails is not null;
}

@{
    ViewData["Title"] = "Your profile details";
}


@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.External.Web.Models.UserAccount
@model Forestry.Flo.External.Web.Models.UserAccount.UserAccountSummaryModel

<div class="govuk-grid-column-two-thirds">
    
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
            @ViewData["Title"]
        </h1>
    </legend>

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Your role</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Role
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.UserTypeModel.AccountType?.GetDisplayName() ?? "Unknown")
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a condition="@(Model.AccountTypeReadOnly is false)" class="govuk-link" asp-controller="Account" asp-action="RegisterAccountType">
                            Change<span class="govuk-visually-hidden"> role</span>
                        </a>
                    </dd>
                </div>
            </dl>
            
            @if (Model.UserTypeModel.AccountType is AccountType.Agent)
            {
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Type of agent
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @(Model.UserTypeModel.IsOrganisation ? "Organisation" : "Individual")
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a condition="@(Model.AccountTypeReadOnly is false)" class="govuk-link" asp-controller="Account" asp-action="AgentTypeSelection">
                                Change<span class="govuk-visually-hidden"> agent type</span>
                            </a>
                        </dd>
                    </div>
                </dl>
            }

            @if (Model.UserTypeModel.AccountType is AccountType.WoodlandOwner)
            {
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Type of owner
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @(Model.UserTypeModel.IsOrganisation ? "Organisation" : "Individual")
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a condition="@(Model.AccountTypeReadOnly is false)" class="govuk-link" asp-controller="Account" asp-action="OwnerTypeSelection">
                                Change<span class="govuk-visually-hidden"> owner type</span>
                            </a>
                        </dd>
                    </div>
                </dl>
            }
            
            @if (Model.UserTypeModel.AccountType is AccountType.Trust)
            {
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Type of Trust
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @(Model.UserTypeModel.IsOrganisation ? "Organisational representative" : "Individual trustee")
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a condition="@(Model.AccountTypeReadOnly is false)" class="govuk-link" asp-controller="Account" asp-action="TrustTypeSelection">
                                Change<span class="govuk-visually-hidden"> Trust type</span>
                            </a>
                        </dd>
                    </div>
                </dl>
            }
            
            @if (Model.UserTypeModel.AccountType is AccountType.Tenant)
            {
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Tenant on Crown Land?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @(@showLandlordDetailsCard ? "Yes" : "No")
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a condition="@(Model.AccountTypeReadOnly is false)" class="govuk-link" asp-controller="Account" asp-action="TenantTypeSelection">
                                Change<span class="govuk-visually-hidden"> if tenant is on Crown Land</span>
                            </a>
                        </dd>
                    </div>
                </dl>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Type of tenant
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @(Model.UserTypeModel.IsOrganisation ? "Organisation" : "Individual")
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a condition="@(Model.AccountTypeReadOnly is false)" class="govuk-link" asp-controller="Account" asp-action="TenantOrgOrIndividualSelection">
                                Change<span class="govuk-visually-hidden"> type of tenant</span>
                            </a>
                        </dd>
                    </div>
                </dl>
            }

        </div>
    </div>

    <div condition="@showLandlordDetailsCard" class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Your landlord</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        First name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.LandlordDetails?.FirstName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a condition="@(Model.AccountTypeReadOnly is false)" class="govuk-link" asp-controller="Account" asp-action="LandlordDetails">
                            Change<span class="govuk-visually-hidden"> landlord first name</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Last name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.LandlordDetails?.LastName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a condition="@(Model.AccountTypeReadOnly is false)" class="govuk-link" asp-controller="Account" asp-action="LandlordDetails">
                            Change<span class="govuk-visually-hidden"> landlord last name</span>
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div condition="@showWoodlandOwnerOrganisationDetailsCard" class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Your organisation</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.WoodlandOwner?.OrganisationName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a condition="@(Model.OrganisationDetailsReadOnly is false)" class="govuk-link" asp-controller="Account" asp-action="RegisterOrganisationDetails">
                            Change<span class="govuk-visually-hidden"> organisation name</span>
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div condition="@showAgencyDetailsCard" class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Your agency</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Agency name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Agency?.OrganisationName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a condition="@(Model.OrganisationDetailsReadOnly is false)" class="govuk-link" asp-controller="Account" asp-action="RegisterAgencyDetails">
                            Change<span class="govuk-visually-hidden"> agency name</span>
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Your personal details</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PersonName.FirstName @Model.PersonName.LastName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" asp-controller="Account" asp-action="RegisterPersonName">
                            Change<span class="govuk-visually-hidden"> name</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Contact address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PersonContactsDetails?.ContactAddress?.Line1<br />
                        @if (string.IsNullOrEmpty(Model.PersonContactsDetails?.ContactAddress?.Line2) is false)
                        {
                            @Model.PersonContactsDetails?.ContactAddress?.Line2

                            <br />
                        }
                        @Model.PersonContactsDetails?.ContactAddress?.Line3<br />
                        @if (string.IsNullOrEmpty(Model.PersonContactsDetails?.ContactAddress?.Line4) is false)
                        {
                            @Model.PersonContactsDetails?.ContactAddress?.Line4

                            <br />
                        }
                        @Model.PersonContactsDetails?.ContactAddress?.PostalCode
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" asp-action="RegisterPersonContactDetails">
                            Change<span class="govuk-visually-hidden"> address</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Telephone number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PersonContactsDetails?.ContactTelephoneNumber
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" asp-action="RegisterPersonContactDetails" asp-fragment="PersonContactsDetails_ContactTelephoneNumber">
                            Change<span class="govuk-visually-hidden"> telephone number</span>
                        </a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div condition="!@Model.AccountTypeReadOnly" class="govuk-form-group">
        <div class="govuk-button-group">
            <a data-prevent-double-click="true" type="button" class="govuk-button" data-module="govuk-button" asp-action="TermsAndConditions">
                Continue
            </a>
        </div>
    </div>

</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}
