@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.External.Web.Models.UserAccount.AccountTypeViewModels
@model Forestry.Flo.External.Web.Models.UserAccount.AccountTypeViewModels.AgentTypeViewModel

@{
    ViewData["Title"] = "What type of agent are you?";
    ViewData.ShowBackLink();
}

<div class="govuk-grid-column-two-thirds">

    <form method="post">

        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        @ViewData["Title"]
                    </h1>
                </legend>

                <validation asp-for="@Model.OrganisationStatus"></validation>
                
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(x => x.OrganisationStatus, OrganisationStatus.Individual, new { @class = "govuk-radios__input", @id = "individual-agent" })
                        <label class="govuk-label govuk-radios__label" for="individual-agent">
                            Individual
                        </label>
                        <div class="govuk-hint govuk-radios__hint">
                            Relative or friend
                        </div>
                    </div>

                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(x => x.OrganisationStatus, OrganisationStatus.Organisation, new { @class = "govuk-radios__input", @id = "organisation-agent" })
                        <label class="govuk-label govuk-radios__label" for="organisation-agent">
                            Organisation
                        </label>
                        <div class="govuk-hint govuk-radios__hint">
                            I do this for my business
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>

            <div class="govuk-form-group">

                <div class="govuk-button-group">

                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        @(new ExternalApplicant(User).HasCompletedAccountRegistration == false ? "Continue" : "Save changes")
                    </button>

                </div>

            </div>


    </form>

</div>