@using Forestry.Flo.External.Web.Models.UserAccount
@using Forestry.Flo.Services.Common
@model Forestry.Flo.External.Web.Models.UserAccount.AgencyUserModel

@{
    ViewData["Title"] = "Invite a new user to manage applications for your agency";
    Layout = "_Layout";
}

<div class="govuk-grid-column-two-thirds">

    <form method="post">
        <input type="hidden" asp-for="AgencyId"/>
        <input type="hidden" asp-for="AgencyName"/>

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    @ViewData["Title"]
                </h1>
            </legend>

            <div class="govuk-form-group">
                <label asp-for="Name" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="Name"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="Name"/>
            </div>

            <div class="govuk-form-group">
                <label asp-for="Email" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="Email"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="Email"/>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            What role is this user being invited to have?
                        </h2>
                    </legend>
                    <validation asp-for="@Model.AgencyUserRole"></validation>
                    <div class="govuk-radios" data-module="govuk-radios">
                        @foreach (AgencyUserRole value in Enum.GetValues(typeof(AgencyUserRole)))
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="@Model.AgencyUserRole" type="radio" value="@value" id="role-@value.ToString()">
                                <label class="govuk-label govuk-radios__label" for="role-@value.ToString()">
                                    @value.GetDescription()
                                </label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">

                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                    <a class="govuk-link" asp-controller="Home" asp-action="Index" title="Abandon changes and go to the home page">Cancel</a>

                </div>
            </div>
        </fieldset>
    </form>
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}