@using Forestry.Flo.External.Web.Infrastructure

@model Forestry.Flo.External.Web.Models.UserAccount.AccountTypeViewModels.LandlordDetailsViewModel

@{
    ViewData["Title"] = "What is the name of your landlord?";
    ViewData.ShowBackLink();
}

<div class="govuk-grid-column-two-thirds">

    <form method="post">

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    @ViewData["Title"]
                </h1>
            </legend>

            <govuk-form-group asp-for="FirstName">

                <label asp-for="FirstName" class="@GdsConstants.GdsLabelCssClass"></label>

                <validation asp-for="FirstName"></validation>

                <input class="@GdsConstants.GdsInputCssClass" asp-for="FirstName"/>

            </govuk-form-group>

            <govuk-form-group asp-for="LastName">

                <label asp-for="LastName" class="@GdsConstants.GdsLabelCssClass"></label>

                <validation asp-for="LastName"></validation>

                <input class="@GdsConstants.GdsInputCssClass" asp-for="LastName"/>

            </govuk-form-group>

            <div class="govuk-form-group">

                <div class="govuk-button-group">

                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        @(new ExternalApplicant(User).HasCompletedAccountRegistration == false ? "Continue" : "Save changes")
                    </button>

                </div>

            </div>

        </fieldset>
    </form>
</div>