@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.UserAccount.UserAccountModel

@{
    ViewData["Title"] = "What are your contact details?";
    ViewData.ShowBackLink();
}

<div class="govuk-grid-column-two-thirds">

    <form method="post">
        <input type="hidden" class="govuk-visually-hidden" aria-hidden="true" asp-for="@Model.UserTypeModel.AccountType">
        <input type="hidden" class="govuk-visually-hidden" aria-hidden="true" asp-for="@Model.UserTypeModel.IsOrganisation">
        
        <fieldset class="govuk-fieldset" id="person-contact-details-fields">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    @ViewData["Title"]
                </h1>
            </legend>

            <govuk-form-group asp-for="PersonContactsDetails.ContactAddress.Line1">
                <label asp-for="PersonContactsDetails.ContactAddress.Line1" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="PersonContactsDetails.ContactAddress.Line1"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonContactsDetails.ContactAddress.Line1" autocomplete="address-line1"/>
            </govuk-form-group>

            <govuk-form-group asp-for="PersonContactsDetails.ContactAddress.Line2">
                <label asp-for="PersonContactsDetails.ContactAddress.Line2" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="PersonContactsDetails.ContactAddress.Line2"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonContactsDetails.ContactAddress.Line2" autocomplete="address-line2"/>
            </govuk-form-group>

            <govuk-form-group asp-for="PersonContactsDetails.ContactAddress.Line3">
                <label asp-for="PersonContactsDetails.ContactAddress.Line3" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="PersonContactsDetails.ContactAddress.Line3"></validation>
                <input class="@GdsConstants.GdsInputCssClass govuk-input--width-20" asp-for="PersonContactsDetails.ContactAddress.Line3" autocomplete="address-level2"/>
            </govuk-form-group>

            <govuk-form-group asp-for="PersonContactsDetails.ContactAddress.PostalCode">
                <label asp-for="PersonContactsDetails.ContactAddress.PostalCode" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="PersonContactsDetails.ContactAddress.PostalCode"></validation>
                <input class="@GdsConstants.GdsInputCssClass govuk-input--width-10" asp-for="PersonContactsDetails.ContactAddress.PostalCode" autocomplete="postal-code"/>
            </govuk-form-group>

            <govuk-form-group asp-for="PersonContactsDetails.ContactTelephoneNumber">
                <label asp-for="PersonContactsDetails.ContactTelephoneNumber" class="@GdsConstants.GdsLabelCssClass"></label>
                <div id="telephone-hint" class="govuk-hint">For international numbers include the country code</div>
                <validation asp-for="PersonContactsDetails.ContactTelephoneNumber"></validation>
                <input class="@GdsConstants.GdsInputCssClass govuk-input--width-20" asp-for="PersonContactsDetails.ContactTelephoneNumber" autocomplete="tel" aria-describedby="telephone-hint"/>
            </govuk-form-group>

        </fieldset>

        <div class="govuk-form-group">
            <div class="govuk-button-group">

                <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                    @(new ExternalApplicant(User).HasCompletedAccountRegistration == false ? "Continue" : "Save changes")
                </button>

            </div>
        </div>
    </form>
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}