@using Forestry.Flo.External.Web.Models.UserAccount
@using Forestry.Flo.External.Web.Infrastructure;
@using Forestry.Flo.Services.Common
@using Forestry.Flo.Services.Common.Extensions

@model UserAccountModel

@{
    ViewData["Title"] = "What type of account would you like to create?";
    ViewData.ShowBackLink();
}


<div class="govuk-grid-column-two-thirds">

    <form method="post">

        <govuk-form-group asp-for="UserTypeModel.AccountType">
            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        @ViewData["Title"]
                    </h1>
                </legend>


                <validation asp-for="UserTypeModel.AccountType"></validation>

                <div class="govuk-radios" data-module="govuk-radios">
                    
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" asp-for="UserTypeModel.AccountType" type="radio" value="@AccountType.Agent" condition-disabled="@Model.PageIsDisabled" aria-describedby="hint-agent">

                        <label class="govuk-label govuk-radios__label" asp-for="UserTypeModel.AccountType">
                            @AccountType.Agent.GetDisplayName()
                        </label>

                        <div class="govuk-hint govuk-radios__hint" id="hint-agent">
                            @AccountType.Agent.GetDescription()
                        </div>
                    </div>
                    
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" asp-for="UserTypeModel.AccountType" type="radio" value="@AccountType.WoodlandOwner" condition-disabled="@Model.PageIsDisabled" aria-describedby="hint-owner" id="accounttype-owner">

                        <label class="govuk-label govuk-radios__label" for="accounttype-owner">
                            @AccountType.WoodlandOwner.GetDisplayName()
                        </label>

                        <div class="govuk-hint govuk-radios__hint" id="hint-owner">
                            @AccountType.WoodlandOwner.GetDescription()
                        </div>
                    </div>
                    
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" asp-for="UserTypeModel.AccountType" type="radio" value="@AccountType.Tenant" condition-disabled="@Model.PageIsDisabled" aria-describedby="hint-tenant" id="accounttype-tenant">

                        <label class="govuk-label govuk-radios__label" for="accounttype-tenant">
                            @AccountType.Tenant.GetDisplayName()
                        </label>

                        <div class="govuk-hint govuk-radios__hint" id="hint-tenant">
                            @AccountType.Tenant.GetDescription()
                        </div>
                    </div>
                    
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" asp-for="UserTypeModel.AccountType" type="radio" value="@AccountType.Trust" condition-disabled="@Model.PageIsDisabled" aria-describedby="hint-trust" id="accounttype-trust">

                        <label class="govuk-label govuk-radios__label" for="accounttype-trust">
                            @AccountType.Trust.GetDisplayName()
                        </label>

                        <div class="govuk-hint govuk-radios__hint" id="hint-trust">
                            @AccountType.Trust.GetDescription()
                        </div>
                    </div>

                </div>

            </fieldset>
        </govuk-form-group>

        <div class="govuk-form-group">

            <div class="govuk-button-group">

                <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button" condition-disabled="@Model.PageIsDisabled">
                    Continue
                </button>

            </div>

        </div>


    </form>

</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}