@{
    ViewData["Title"] = "Review unconfirmed user account";
}

@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.Common.User
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Forestry.Flo.Internal.Web.Models.UserAccount.UserAccountModel

<div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
    
    <partial name="Partials/_UserGuideDisplay"/>

    <p class="govuk-body">Review the user and optionally approve (confirm) the account.</p>
    
    <h2 class="govuk-heading-m">Registration Information</h2>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Name
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.FirstName @Model.LastName
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Email
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.Email
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Job title
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.AccountType.GetDisplayName()
            </dd>
        </div>

        <div condition="@(Model.AccountType == AccountTypeInternal.Other)" class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Job title other
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.AccountTypeOther?.GetDisplayName()
            </dd>
        </div>

        <div condition="@(Model.AccountType is AccountTypeInternal.FieldManager or AccountTypeInternal.WoodlandOfficer)" class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                <label for="can-approve-applications">
                    Can this user approve applications
                </label>
            </dt>
            <dd class="govuk-summary-list__value">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input id="can-approve-applications" class="govuk-checkboxes__item" type="checkbox" value="@Model.CanApproveApplications" checked="@Model.CanApproveApplications"/>
                    </div>
                </div>
            </dd>
        </div>
    </dl>
    
    <h2 class="govuk-heading-m">Active Directory Information</h2>
    
    @{
        if (!ViewBag.UserIsInActiveDirectory)
        {
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            This user could not be found by email address in the configured Active Directory. This is an indicator that the
                            user might not be a Forestry Commission employee.
                        </strong>
                    </div>
        }
        else
        {
                    <p class="govuk-body">
                        This user was found by email address in the configured Active Directory account. This is an indicator that the
                        user is a Forestry Commission employee
                    </p>
        }
    }

    <div>
        
        <form id="confirm-user-account-form" asp-action="ConfirmUserAccount" method="POST">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.CanApproveApplications)
        </form>
        <form id="deny-user-account-form" asp-action="DenyUserAccount" method="POST">
            @Html.HiddenFor(x => x.Id)
        </form>

        <button condition-disabled="@(Model.CanBeApproved is false)" id="approve-user-account-btn" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
            Approve (Confirm)
        </button>
        <button condition-disabled="@(Model.CanBeDenied is false)" id="deny-user-account-btn" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
            Deny
        </button>
    </div>
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@ViewBag.Breadcrumbs" />
}

@section Scripts
{
    <script src="/js/review-unconfirmed-user-account.js"></script>
}


