@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.Common.User
@model Forestry.Flo.Internal.Web.Models.FellingLicenceApplication.ReturnApplicationModel

@{
    ViewBag.Title = "Return application";
}
<partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary" />

<div class="govuk-grid-column-two-thirds govuk-body">
    <h1 class="govuk-heading-l">Return to <b>@Model.RequestedStatus.GetDisplayNameByActorType(ActorType.InternalUser)</b></h1>
    <p>
        Use this page to return the application to @Model.RequestedStatus.GetDisplayNameByActorType(ActorType.InternalUser) and add any relevant case notes.
    </p>
	<form asp-action="ReturnApplication" method="post">

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                    Case note
                </h2>
            </legend>
            @Html.EditorFor(m => m.ReturnReason)
            <br />
        </fieldset>

        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button data-prevent-double-click="true" type="submit" asp-route-id="@Model.FellingLicenceApplicationSummary.Id" class="govuk-button" data-module="govuk-button">
                    Confirm
                </button>
                <a class="govuk-link" asp-action="Index" asp-controller="ApproverReview" asp-route-id="@Model.FellingLicenceApplicationSummary!.Id" title="Abandon changes and go to the previous page">Cancel</a>
            </div>
        </div>
    </form>
    
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}