@using Forestry.Flo.Services.Common.User
@model Forestry.Flo.Internal.Web.Models.AdminHub.ViewAdminHubModel

@{
    var adminHubManagers = new List<SelectListItem>()
    {
        new SelectListItem()
        {
            Text = Model.AllAdminOfficers.First(x => x.Id == Model.AdminHubs.First(x => x.Id == Model.Id).AdminManagerUserAccountId).FullName,
            Value = Model.AllAdminOfficers.First(x => x.Id == Model.AdminHubs.First(x => x.Id == Model.Id).AdminManagerUserAccountId).Id.ToString()
        }
    };

    foreach (var officer in Model.AllAdminOfficers)
    {
        if (officer.AccountType == AccountTypeInternal.AdminHubManager && Model.AdminHubs.All(x => x.AdminManagerUserAccountId != officer.Id))
        {

            var item = new SelectListItem()
                    {
                        Text = officer.FullName,
                        Value = officer.Id.ToString()
                    };
            adminHubManagers.Add(item);
        }

    }
}

<div>
    <h1 class="govuk-heading-m">
        Admin Hub details:
    </h1>
    <form method="post">
        <input asp-for="@Model.Id" />
        <div class="govuk-grid-column-full">
            <table class="govuk-table" id="admin-hub-details-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 25%">Hub Name</th>
                        <td class="govuk-table__cell" id="edit-name-field" style="display: none">
                            <input class="@GdsConstants.GdsInputCssClass" id="name-field-input" asp-for="@Model.Name"/>
                        </td>
                        <td class="govuk-table__cell" id="name-field" style="">@Model.Name</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="width: 25%">Hub Address</th>
                        <td class="govuk-table__cell" id="edit-address-field" style="display: none">
                            <textarea rows="5" class="@GdsConstants.GdsTextAreaCssClass" id="address-field-input" asp-for="@Model.Address"></textarea>
                        </td>
                        <td class="govuk-table__cell" id="address-field" style=""><span style="white-space: pre-line">@Model.Address</span></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Hub Manager</th>
                        <td class="govuk-table__cell" id="edit-manager-field">
                            <select class="govuk-select" id="admin-hub-managers" asp-items="@adminHubManagers" asp-for="@Model.SelectedOfficerId"></select>
                        </td>
                        <td class="govuk-table__cell" id="manager-field" style="">
                            @Model.AllAdminOfficers.First(x => x.Id == Model.AdminHubs.First(y => y.Id == Model.Id).AdminManagerUserAccountId).FullName
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Total Officers</th>
                        <td class="govuk-table__cell">@Model.AdminHubs.First(x => x.Id == Model.Id).AdminOfficers.Count</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Total Areas</th>
                        <td class="govuk-table__cell">@Model.AdminHubs.First(x=>x.Id == Model.Id).Areas.Count</td>
                    </tr>
                </tbody>
            </table>
            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <a class="govuk-link" id="enable-edit-options" href="#edit">Edit Admin Hub</a>
                    <a class="govuk-link" id="cancel-edit-options" href="">Cancel edit of Admin Hub</a>
                    <button id="save-admin-hub-button" data-prevent-double-click="true" type="submit" style="margin-bottom: 0px" class="govuk-button" data-module="govuk-button" formaction="EditAdminHubDetails">
                        Save changes
                    </button>
                </div>
            </div>
        </div>  
    </form>
</div>