@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.External.Web.Infrastructure.Display
@using Forestry.Flo.Services.Common.User
@model Forestry.Flo.External.Web.Models.WoodlandOwner.ManageWoodlandOwnerDetailsModel

@{
    Layout = "_Layout";
    ViewData.ShowBackLink();
    
    var user = new ExternalApplicant(User);

    var pronoun = user.AccountType is AccountTypeExternal.Agent or AccountTypeExternal.AgentAdministrator
        ? "the"
        : "your";

    var heading = Model.IsOrganisation
        ? $"What are the contact details for {pronoun} organisation?"
        : $"What are the contact details for {pronoun} woodland owner?";

    ViewData["Title"] = heading;
}

<div class="govuk-grid-column-two-thirds">

    <form method="post">
        <input asp-for="IsOrganisation"/>
        <input asp-for="Id"/>

        <fieldset class="govuk-fieldset">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    @ViewData["Title"]
                </h1>
            </legend>

            <govuk-form-group condition="@Model.IsOrganisation" asp-for="OrganisationName">
                <label asp-for="OrganisationName" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="OrganisationName"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationName" autocomplete="organization"/>
            </govuk-form-group>
            
            <govuk-form-group asp-for="ContactName">
                <label asp-for="ContactName" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactName"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactName"/>
            </govuk-form-group>
            
            <govuk-form-group asp-for="ContactEmail">
                <label asp-for="ContactEmail" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactEmail"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactEmail"/>
            </govuk-form-group>
            
            <govuk-form-group asp-for="ContactTelephoneNumber">
                <label asp-for="ContactTelephoneNumber" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactTelephoneNumber"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactTelephoneNumber" autocomplete="tel"/>
            </govuk-form-group>
            
            @if (Model.IsOrganisation)
            {
                <h2 class="govuk-heading-s">
                    Registered address
                </h2>
                <govuk-form-group asp-for="OrganisationAddress.Line1">
                    <label asp-for="OrganisationAddress.Line1" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationAddress.Line1"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line1" autocomplete="address-line1" />
                </govuk-form-group>
                <govuk-form-group asp-for="OrganisationAddress.Line2">
                    <label asp-for="OrganisationAddress.Line2" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationAddress.Line2"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line2" autocomplete="address-line2" />
                </govuk-form-group>
                <govuk-form-group asp-for="OrganisationAddress.Line3">
                    <label asp-for="OrganisationAddress.Line3" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationAddress.Line3"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line3" autocomplete="address-level2" />
                </govuk-form-group>
                <govuk-form-group asp-for="OrganisationAddress.Line4">
                    <label asp-for="OrganisationAddress.Line4" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationAddress.Line4"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line4" autocomplete="address-level1" />
                </govuk-form-group>
                <govuk-form-group asp-for="OrganisationAddress.PostalCode">
                    <label asp-for="OrganisationAddress.PostalCode" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationAddress.PostalCode"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.PostalCode" autocomplete="postal-code" />
                </govuk-form-group>

                <h1 class="govuk-heading-s">
                    Organisation contact address
                </h1>

                <div class="govuk-form-group">
                    <div class="govuk-checkboxes__item">
                        <input asp-for="ContactAddressMatchesOrganisationAddress" type="checkbox" class="govuk-checkboxes__input" />
                        <label asp-for="ContactAddressMatchesOrganisationAddress" class="@GdsConstants.GdsLabelCssClass govuk-checkboxes__label">Registered address matches the organisation registered address</label>
                    </div>
                </div>
            }

            <div id="contact-address-container">
                <govuk-form-group asp-for="ContactAddress.Line1">
                    <label asp-for="ContactAddress.Line1" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="ContactAddress.Line1"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line1" autocomplete="address-line1"/>
                </govuk-form-group>
                <govuk-form-group asp-for="ContactAddress.Line2">
                    <label asp-for="ContactAddress.Line2" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="ContactAddress.Line2"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line2" autocomplete="address-line2"/>
                </govuk-form-group>
                <govuk-form-group asp-for="ContactAddress.Line3">
                    <label asp-for="ContactAddress.Line3" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="ContactAddress.Line3"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line3" autocomplete="address-level2"/>
                </govuk-form-group>
                <govuk-form-group asp-for="ContactAddress.Line4">
                    <label asp-for="ContactAddress.Line4" class="@GdsConstants.GdsLabelCssClass"></label>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line4"/>
                </govuk-form-group>
                <govuk-form-group asp-for="ContactAddress.PostalCode">
                    <label asp-for="ContactAddress.PostalCode" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="ContactAddress.PostalCode"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.PostalCode" autocomplete="postal-code"/>
                </govuk-form-group>
            </div>

            <div class="govuk-button-group">

                <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                    Save changes
                </button>

            </div>
        </fieldset>
    </form>
</div>    

@section Scripts
{
    <script src="@Url.AbsoluteContent("~/js/manage-woodland-owner-details.js")" asp-append-version="true"></script>
}