@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.External.Web.Infrastructure.Display
@using Forestry.Flo.Services.Common.User
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Forestry.Flo.External.Web.Models.WoodlandOwner.ManageWoodlandOwnerDetailsModel

@{
    ViewBag.Title = "Manage Woodland Owner";
    Layout = "_Layout";
    ViewData.ShowBackLink();
    
    var user = new ExternalApplicant(User);

    var pronoun = user.AccountType is AccountTypeExternal.Agent or AccountTypeExternal.AgentAdministrator
        ? "the"
        : "your";

    var heading = Model.IsOrganisation
        ? $"What are the contact details for {pronoun} organisation?"
        : $"What are the contact details for {pronoun} woodland owner?";
}

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
        @heading
    </h1>
        
    <partial name="Partials/_PageErrors" />

    <form method="post">

        <fieldset class="govuk-fieldset">
            <input asp-for="IsOrganisation"/>
            <input asp-for="Id"/>

            <div condition="@Model.IsOrganisation" class="govuk-form-group">
                <label asp-for="OrganisationName" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="OrganisationName"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationName" autocomplete="organization"/>
            </div>
            
            <div class="govuk-form-group">
                <label asp-for="ContactName" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactName"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactName"/>
            </div>
            
            <div class="govuk-form-group">
                <label asp-for="ContactEmail" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactEmail"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactEmail"/>
            </div>
            
            <div class="govuk-form-group">
                <label asp-for="ContactTelephoneNumber" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactTelephoneNumber"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactTelephoneNumber" autocomplete="tel"/>
            </div>
            
            @if (Model.IsOrganisation)
            {
                <h1 class="govuk-heading-s">
                    Registered address
                </h1>
                <div class="govuk-form-group">
                    <label asp-for="OrganisationAddress.Line1" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationAddress.Line1"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line1" autocomplete="address-line1" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="OrganisationAddress.Line2" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationAddress.Line2"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line2" autocomplete="address-line2" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="OrganisationAddress.Line3" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationAddress.Line3"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line3" autocomplete="address-level2" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="OrganisationAddress.Line4" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationAddress.Line4"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line4" autocomplete="address-level1" />
                </div>
                <div class="govuk-form-group">
                    <label asp-for="OrganisationAddress.PostalCode" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="OrganisationAddress.PostalCode"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.PostalCode" autocomplete="postal-code" />
                </div>

                <h1 class="govuk-heading-s">
                    Organisation contact address
                </h1>

                <div class="govuk-form-group">
                    <div class="govuk-checkboxes__item">
                        <input asp-for="ContactAddressMatchesOrganisationAddress" type="checkbox" class="govuk-checkboxes__input" />
                        <label asp-for="ContactAddressMatchesOrganisationAddress" class="@GdsConstants.GdsLabelCssClass govuk-checkboxes__label">Registered address matches the organisation registered address</label>
                    </div>
                </div>
            }

            <div id="contact-address-container">
                <div class="govuk-form-group">
                    <label asp-for="ContactAddress.Line1" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="ContactAddress.Line1"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line1" autocomplete="address-line1"/>
                </div>
                <div class="govuk-form-group">
                    <label asp-for="ContactAddress.Line2" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="ContactAddress.Line2"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line2" autocomplete="address-line2"/>
                </div>
                <div class="govuk-form-group">
                    <label asp-for="ContactAddress.Line3" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="ContactAddress.Line3"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line3" autocomplete="address-level2"/>
                </div>
                <div class="govuk-form-group">
                    <label asp-for="ContactAddress.Line4" class="@GdsConstants.GdsLabelCssClass"></label>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line4"/>
                </div>
                <div class="govuk-form-group">
                    <label asp-for="ContactAddress.PostalCode" class="@GdsConstants.GdsLabelCssClass"></label>
                    <validation asp-for="ContactAddress.PostalCode"></validation>
                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.PostalCode" autocomplete="postal-code"/>
                </div>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">

                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        Save changes
                    </button>

                </div>
            </div>
        </fieldset>
    </form>
</div>    

@section Scripts
{
    <script src="@Url.AbsoluteContent("~/js/manage-woodland-owner-details.js")" asp-append-version="true"></script>
}