@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.Services.Applicants.Entities.UserAccount
@model Forestry.Flo.External.Web.Models.AccountAdministration.AmendExternalUserAccountModel

@{
    ViewData["Title"] = "Amend user account details";
    Layout = "_Layout";

    ViewData.ShowBackLink();
}

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

    <form method="post">
        <input type="hidden" class="govuk-visually-hidden" aria-hidden="true" asp-for="@Model.UserId">
        <input type="hidden" class="govuk-visually-hidden" aria-hidden="true" asp-for="@Model.IsFcAgent">
        <input type="hidden" class="govuk-visually-hidden" aria-hidden="true" asp-for="@Model.AccountType">
        
        <div condition="@Model.IsFcAgent" class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This agent user is part of the FC agency.
            </strong>
        </div>

        <govuk-form-group asp-for="PersonName.FirstName">
            <label asp-for="PersonName.FirstName" class="@GdsConstants.GdsLabelCssClass"></label>
            <validation asp-for="PersonName.FirstName"></validation>
            <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonName.FirstName"/>
        </govuk-form-group>
        
        <govuk-form-group asp-for="PersonName.LastName">
            <label asp-for="PersonName.LastName" class="@GdsConstants.GdsLabelCssClass"></label>
            <validation asp-for="PersonName.LastName"></validation>
            <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonName.LastName"/>
        </govuk-form-group>
        
        <govuk-form-group asp-for="PersonContactsDetails.ContactAddress.Line1">
            <label asp-for="PersonContactsDetails.ContactAddress.Line1" class="@GdsConstants.GdsLabelCssClass"></label>
            <validation asp-for="PersonContactsDetails.ContactAddress.Line1"></validation>
            <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonContactsDetails.ContactAddress.Line1" autocomplete="address-line1"/>
        </govuk-form-group>
        
        <govuk-form-group asp-for="PersonContactsDetails.ContactAddress.Line2">
            <label asp-for="PersonContactsDetails.ContactAddress.Line2" class="@GdsConstants.GdsLabelCssClass"></label>
            <validation asp-for="PersonContactsDetails.ContactAddress.Line2"></validation>
            <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonContactsDetails.ContactAddress.Line2" autocomplete="address-line2"/>
        </govuk-form-group>
        
        <govuk-form-group asp-for="PersonContactsDetails.ContactAddress.Line3">
            <label asp-for="PersonContactsDetails.ContactAddress.Line3" class="@GdsConstants.GdsLabelCssClass"></label>
            <validation asp-for="PersonContactsDetails.ContactAddress.Line3"></validation>
            <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonContactsDetails.ContactAddress.Line3" autocomplete="address-level2"/>
        </govuk-form-group>
        
        <govuk-form-group asp-for="PersonContactsDetails.ContactAddress.Line4">
            <label asp-for="PersonContactsDetails.ContactAddress.Line4" class="@GdsConstants.GdsLabelCssClass"></label>
            <validation asp-for="PersonContactsDetails.ContactAddress.Line4"></validation>
            <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonContactsDetails.ContactAddress.Line4"/>
        </govuk-form-group>
        
        <govuk-form-group asp-for="PersonContactsDetails.ContactAddress.PostalCode">
            <label asp-for="PersonContactsDetails.ContactAddress.PostalCode" class="@GdsConstants.GdsLabelCssClass"></label>
            <validation asp-for="PersonContactsDetails.ContactAddress.PostalCode"></validation>
            <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonContactsDetails.ContactAddress.PostalCode" autocomplete="postal-code"/>
        </govuk-form-group>

        <govuk-form-group asp-for="PersonContactsDetails.ContactTelephoneNumber">
            <label asp-for="PersonContactsDetails.ContactTelephoneNumber" class="@GdsConstants.GdsLabelCssClass"></label>
            <validation asp-for="PersonContactsDetails.ContactTelephoneNumber"></validation>
            <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonContactsDetails.ContactTelephoneNumber" autocomplete="tel" />
        </govuk-form-group>

        <govuk-form-group asp-for="PersonContactsDetails.ContactMobileNumber">
            <label asp-for="PersonContactsDetails.ContactMobileNumber" class="@GdsConstants.GdsLabelCssClass"></label>
            <input class="@GdsConstants.GdsInputCssClass" asp-for="PersonContactsDetails.ContactMobileNumber" autocomplete="mobile tel"/>
        </govuk-form-group>
        
        <govuk-form-group asp-for="PersonContactsDetails.PreferredContactMethod">
            <label class="govuk-label" asp-for="PersonContactsDetails.PreferredContactMethod"></label>
            <validation asp-for="PersonContactsDetails.PreferredContactMethod"></validation>
            <select class="govuk-select" asp-for="PersonContactsDetails.PreferredContactMethod" asp-items="Html.GetEnumSelectList<PreferredContactMethod>()">
                <option value="">- Please select -</option>
            </select>
        </govuk-form-group>

        <div class="govuk-button-group">

			<button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
				Continue
			</button>
			
			@if (TempData[ViewDataExtensions.BackLinkUrlKey] != null)
			{
				<a class="govuk-link" href="@TempData[ViewDataExtensions.BackLinkUrlKey]">Cancel</a>
			}
			else
			{
				<a class="govuk-link" asp-controller="Home" asp-action="Index" title="Abandon changes and go to the home page">Cancel</a>
			}
		</div>
    </form>
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}
