@{
    ViewData["Title"] = "User Account List";
    Layout = "_Layout";
    ViewData.ManuallySetBackLink(Model.ReturnUrl);
    ViewData.ShowBackLink();

    var currentUser = new ExternalApplicant(User);
}

@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.Services.Common.Extensions
@model Forestry.Flo.External.Web.Models.AccountAdministration.ExternalUserListModel;

<partial name="Partials/_ConfirmationMessageDisplay"/>
<partial name="Partials/_UserGuideDisplay"/>

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-m">Select a user account to amend or close</h1>

</div>

<div class="govuk-grid-column-three-quarters">
    <table class="govuk-table" id="external-user-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Email</th>
            <th scope="col" class="govuk-table__header">Account Type</th>
            <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var user in Model.ExternalUserList ?? [])
        {
            var username = $"{user.FirstName} {user.LastName}";

            <tr data-id="@user.UserAccountId" id="@user.UserAccountId" class="govuk-table__row">
                <td class="govuk-table__cell" data-order="@username">@username</td>
                <td class="govuk-table__cell" data-order="@user.Email">@user.Email</td>
                <td class="govuk-table__cell" data-order="@user.AccountType.GetDisplayName()">@user.AccountType.GetDisplayName()</td>
                <td class="govuk-table__cell"><a condition="@(user.UserAccountId != currentUser.UserAccountId.Value)" class="govuk-link" asp-action="AmendExternalUserAccount" asp-route-userId="@user.UserAccountId">Amend<span class="govuk-visually-hidden">&nbsp;@user.FirstName @user.LastName</span></a></td>
            </tr>
        }
        </tbody>
    </table>

</div>

@section Scripts
{
    <partial name="Partials/_DataTablesJs"/>
    <script src="~/js/external-user-list.js" asp-append-version="true"></script>
}

@section Css
{
    <partial name="Partials/_DataTablesCss"/>
    <link rel="stylesheet" href="~/css/user-account-selectable-list.css" aria-busyasp-append-version="true"/>
}