@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.Common;
@using Forestry.Flo.Services.Common.Infrastructure
@using Forestry.Flo.Services.Common.Models
@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.ActivityFeedViewModel;


<div class="govuk-form-group" id="activity-feed">
    <h2 class="govuk-heading-m">@Model.ActivityFeedTitle</h2>

    <div class="moj-timeline">
        @foreach (var activityFeedItem in Model.ActivityFeedItemModels)
        {
            ActivityFeedItemCategory activityFeedItemCategory = activityFeedItem.ActivityFeedItemType.GetActivityFeedItemTypeAttribute().Value;
            switch (activityFeedItemCategory)
            {
                case ActivityFeedItemCategory.CaseNote:
                    <div class="moj-timeline__item" data-type="@activityFeedItem.ActivityFeedItemType.ToString()" data-category="@activityFeedItemCategory">

                        <div class="moj-timeline__header">
                            <button class="activity-avatar-button" type="button">
                                <img class="activity-avatar" data-forename="@activityFeedItem.CreatedByUser?.FirstName" data-surname="@activityFeedItem.CreatedByUser?.LastName" data-role="@activityFeedItem.CreatedByUser?.AccountType" alt="Avatar">
                            </button>
                            <h2 class="moj-timeline__title">@activityFeedItem.ActivityFeedItemType.GetDisplayName()</h2>

                            <p class="moj-timeline__byline">by @activityFeedItem.CreatedByUser?.FullName</p>

                        </div>

                        <p class="moj-timeline__date">
                            @DateTimeDisplay.GetDateTimeDisplayString(activityFeedItem.CreatedTimestamp)
                        </p>

                        <div class="moj-timeline__description">
                            <p class="show-line-breaks">@activityFeedItem.Text</p>
                        </div>

                    </div>

                    break;

                case ActivityFeedItemCategory.Notification:
                    switch (activityFeedItem.ActivityFeedItemType)
                    {
                        @*consultee comment formatted same as public register comment*@
                        case ActivityFeedItemType.ConsulteeComment:
                        case ActivityFeedItemType.PublicRegisterComment:
                            <div class="moj-timeline__item" data-type="@activityFeedItem.ActivityFeedItemType.ToString()" data-category = "@activityFeedItemCategory">

                                <div class="moj-timeline__header">
                                    <h2 class="moj-timeline__title">@activityFeedItem.ActivityFeedItemType.GetDisplayName()</h2>

                                    <p class="moj-timeline__byline"> from @activityFeedItem.Source</p>

                                </div>

                                <p class="moj-timeline__date">
                                    @DateTimeDisplay.GetDateTimeDisplayString(activityFeedItem.CreatedTimestamp)
                                </p>

                                <div class="moj-timeline__description">
                                    <p class="show-line-breaks">@activityFeedItem.Text</p>
                                </div>

                            </div>
                            break;
                        default:
                            <div class="moj-timeline__item" data-type="@activityFeedItem.ActivityFeedItemType.ToString()" data-category = "@activityFeedItemCategory">

                                <div class="moj-timeline__header">
                                    <h2 class="moj-timeline__title">@activityFeedItem.Text</h2>
                                </div>

                                <p class="moj-timeline__date">
                                    @DateTimeDisplay.GetDateTimeDisplayString(activityFeedItem.CreatedTimestamp)
                                </p>

                            </div>
                            break;
                    }
                    break;
            }
        }

        <div style="display: none" id="empty-activity-feed-item">
            <h2 id="empty-activity-feed-text" class="moj-timeline__title no-activity-items">No activity to display.</h2>
        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/activity-feed-filters.css" aria-busyasp-append-version="true" />
}