@model IReadOnlyCollection<Forestry.Flo.External.Web.Models.FellingLicenceApplication.FellingLicenceApplicationSummary>

<table class="govuk-table word-break" data-module="moj-sortable-table" id="application-list-table">

    <thead class="govuk-table__head">

    <tr class="govuk-table__row">

        <th scope="col" class="govuk-table__header" aria-sort="ascending">Reference</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>

        <th scope="col" class="govuk-table__header" aria-sort="none">Property</th>

        <th scope="col" class="govuk-table__header" id="application-list-table-actions-header">Actions</th>

    </tr>

    </thead>

    <tbody class="govuk-table__body">

    @foreach (var application in Model)
    {
        <tr data-id="@application.Id" class="govuk-table__row data-row">

            <td scope="row" class="govuk-table__cell" data-order="@application.ApplicationReference">
                @application.ApplicationReference
                @if (!string.IsNullOrWhiteSpace(application.PreviousReference))
                {
                    <span>
                        (previously @application.PreviousReference)
                    </span>
                }
            </td>

            <td scope="row" class="govuk-table__cell" data-order="@application.Status">

                <vc:gds-application-status-tag application-state="@application.Status"></vc:gds-application-status-tag>

            </td>

            <td scope="row" class="govuk-table__cell" data-order="@application.PropertyName">@application.PropertyName</td>

            <td class="govuk-table__cell">

                    <a class="govuk-link" asp-controller="FellingLicenceApplication" asp-action="ApplicationTaskList" asp-route-applicationId="@application.Id">

                    View<span class="govuk-visually-hidden"> @application.ApplicationReference</span>

                </a>

            </td>

        </tr>
    }

    </tbody>

</table>

<div class="govuk-form-group">

    <label class="govuk-label govuk-label--s" for="search">
        Search
    </label>

    <input class="govuk-input govuk-input--width-10" id="search" name="search" type="text">

</div>