@using Forestry.Flo.Services.Common.Extensions
@using Microsoft.IdentityModel.Tokens
@model Forestry.Flo.External.Web.Models.PropertyProfile.PropertyProfileDetails
<table class="govuk-table" id="property-Details-table">
    <tbody class="govuk-table__body">
    
        @if (!Model.NameOfWood.IsNullOrEmpty())
        {
            <tr data-id="profile.Id" class="govuk-table__row">
                <th scope="row" class="govuk-table__header site_two_thirds" data-order="@Model.NameOfWood">
                    Name of wood
                </th>
                <td class="govuk-table__cell">
                    @Model.NameOfWood
                </td>
            </tr>
        }

        <tr data-id="profile.Id" class="govuk-table__row">
            <th scope="row" class="govuk-table__header site_two_thirds" data-order="@Model.NearestTown">
                Nearest town
            </th>
            <td class="govuk-table__cell">
                @if (@Model.NearestTown.IsNullOrEmpty())
                {
                    @:N/A
                }
                else
                {
                    @Model.NearestTown
                }

            </td>
        </tr>
        <tr data-id="profile.Id" class="govuk-table__row">
            <th scope="row" class="govuk-table__header" data-order="@Model.WoodlandManagementPlanReference">
                Woodland management plan reference
            </th>
            <td class="govuk-table__cell">
                @if (@Model.WoodlandManagementPlanReference.IsNullOrEmpty())
                {
                    @:N/A
                }
                else
                {
                    @Model.WoodlandManagementPlanReference
                }
            </td>
        </tr>
        <tr data-id="profile.Id" class="govuk-table__row">
            <th scope="row" class="govuk-table__header" data-order="@Model.WoodlandCertificationSchemeReference">
                Woodland certification scheme reference
            </th>
            <td class="govuk-table__cell">
                @if (@Model.WoodlandCertificationSchemeReference.IsNullOrEmpty())
                {
                    @:N/A
                }
                else
                {
                    @Model.WoodlandCertificationSchemeReference
                }

            </td>
        </tr>
    </tbody>
</table>