@model IEnumerable<Forestry.Flo.External.Web.Models.PropertyProfile.PropertyProfileDetails>

@{
	var selectedWoodlandOwnerId = ViewData[ViewDataKeyNameConstants.SelectedWoodlandOwnerId] as Guid? ?? null;
}

<table class="govuk-table" id="property-list-table">
	<thead class="govuk-table__head">
		<tr class="govuk-table__row">
			<th scope="col" class="govuk-table__header">Property name</th>
			<th scope="col" class="govuk-table__header">Compartments</th>
			<th scope="col" class="govuk-table__header">Actions</th>
		</tr>
	</thead>

	<tbody class="govuk-table__body">
		@foreach (var profile in Model)
		{
			<tr data-id="@profile.Id" class="govuk-table__row">
				<th scope="row" class="govuk-table__header" data-order="@profile.Name">
					<a class="govuk-link" asp-controller="PropertyProfile" asp-action="Index" asp-route-id="@profile.Id" asp-route-woodlandOwnerId="@selectedWoodlandOwnerId">@profile.Name</a>
				</th>
				<td class="govuk-table__cell">@profile.Compartments.Count()</td>
                <td class="govuk-table__cell">
                <dd class="govuk-summary-list__actions govuk-!-text-align-left govuk-!-padding-top-0">
                <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" asp-controller="PropertyProfile" asp-action="Edit" asp-route-id="@profile.Id" asp-route-woodlandOwnerId="@selectedWoodlandOwnerId">
                Manage<span class="govuk-visually-hidden"> @profile.Name</span>
                </a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" asp-controller="FellingLicenceApplication" asp-action="SelectWoodland" asp-route-woodlandOwnerId="@selectedWoodlandOwnerId" asp-route-agencySourcePage="ClientSummary">
                Start new licence application
                </a>
                </li>
                </ul>
                </dd>
                </td>
			</tr>
		}
	</tbody>
</table>
