@model IReadOnlyCollection<Forestry.Flo.External.Web.Models.WoodlandOwner.WoodlandOwnerSummary>

@if (Model.Count == 0)
{
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">No managed woodland owners</span>
            You do not yet have any approved managed woodland owners.
        </strong>
    </div>
}
else
{
    <table class="govuk-table" id="woodland-owner-list-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Contact Name</th>
            <th scope="col" class="govuk-table__header">Organisation</th>
            <th scope="col" class="govuk-table__header" id="woodland-owner-list-table-actions-header">Actions</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var woodlandOwner in Model)
        {
            <tr data-id="@woodlandOwner.Id" class="govuk-table__row">
            
                <th scope="row" class="govuk-table__header" data-order="@woodlandOwner.ContactName">@woodlandOwner.ContactName</th>

                <th scope="row" class="govuk-table__header" data-order="@woodlandOwner.OrgName">@woodlandOwner.OrgDisplayName</th>
                
                <td class="govuk-table__cell margin-right-seperate">
                        <dd class="govuk-summary-list__actions govuk-!-text-align-left govuk-!-padding-top-0">
                            <ul class="govuk-summary-list__actions-list">
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" asp-controller="Home" asp-action="WoodlandOwner" asp-route-woodlandOwnerId="@woodlandOwner.Id">
                                        View applications<span class="govuk-visually-hidden">&nbsp;for @(woodlandOwner.DisplayName)</span>
                                    </a>
                                </li>
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" asp-controller="WoodlandOwner" asp-action="ManagedClientSummary" asp-route-woodlandOwnerId="@woodlandOwner.Id" asp-route-agencyId="@woodlandOwner.AgencyId">
                                        Manage client<span class="govuk-visually-hidden">&nbsp;@(woodlandOwner.DisplayName)</span>
                                    </a>
                                </li>
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" asp-controller="FellingLicenceApplication" asp-action="SelectWoodland" asp-route-woodlandOwnerId="@woodlandOwner.Id" asp-route-agencyId="@woodlandOwner.AgencyId" asp-route-agencySourcePage="ClientSummary">
                                        Start new licence application<span class="govuk-visually-hidden">&nbsp;for @(woodlandOwner.DisplayName)</span>
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    </td>
            </tr>
        }
        </tbody>
    </table>
}