@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.FellingLicenceApplications.Extensions
@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.FellingDetailPlaybackViewModel

@{
    var willUseTreeMarking = string.IsNullOrEmpty(Model.FellingDetail.TreeMarking) ? "No" : $"Yes. {Model.FellingDetail.TreeMarking}";
    var tpoInfo = Model.FellingDetail.IsPartOfTreePreservationOrder ? $"Yes: {Model.FellingDetail.TreePreservationOrderReference}" : "No";
    var conservationAreaInfo = Model.FellingDetail.IsWithinConservationArea ? $"Yes: {Model.FellingDetail.ConservationAreaReference}" : "No";
    var willRestock = !Model.FellingDetail.IsRestocking.HasValue ? "N/A" : (Model.FellingDetail.IsRestocking.Value ? "Yes" : $"No. {Model.FellingDetail.NoRestockingReason}");
    var showRestocking = Model.FellingDetail.IsRestocking.HasValue && Model.FellingDetail.IsRestocking.Value;
}
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
            @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName
        </h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Estimated area to be felled
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.FellingDetail.AreaToBeFelled Ha
                </dd>
                <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                    <a class="govuk-link" href="@Url.Action(Model.AreaChangeLink)">Change<span class="govuk-visually-hidden"> the estimated area to be felled for the @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Estimated number of trees to be felled
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.FellingDetail.NumberOfTrees Trees
                </dd>
                <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                    <a class="govuk-link" href="@Url.Action(Model.NoofTreesChangeLink)">Change<span class="govuk-visually-hidden"> the estimated number of trees to be felled for the @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Will you use tree marking?
                </dt>
                <dd class="govuk-summary-list__value">
                    @willUseTreeMarking
                </dd>
                <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                    <a class="govuk-link" href="@Url.Action(Model.TreeMarkingChangeLink)">Change<span class="govuk-visually-hidden"> will you use tree marking for the @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    What species of trees will be felled?
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.SpeciesString
                </dd>
                <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                    <a class="govuk-link" href="@Url.Action(Model.SpeciesChangeLink)">Change<span class="govuk-visually-hidden"> the species being felled for the @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Estimated total felling volume
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.FellingDetail.EstimatedTotalFellingVolume m<sup>3</sup>
                </dd>
                <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                    <a class="govuk-link" href="@Url.Action(Model.EstimateVolumeChangeLink)">Change<span class="govuk-visually-hidden"> the estimated total felling volume for the @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is there a Tree Preservation Order (TPO)?
                </dt>
                <dd class="govuk-summary-list__value">
                    @tpoInfo
                </dd>
                <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                    <a class="govuk-link" href="@Url.Action(Model.TPOChangeLink)">Change<span class="govuk-visually-hidden"> is there a tree preservation order for the @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Is this property in a conservation area?
                </dt>
                <dd class="govuk-summary-list__value">
                    @conservationAreaInfo
                </dd>
                <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                    <a class="govuk-link" href="@Url.Action(Model.ConservationAreaChangeLink)">Change<span class="govuk-visually-hidden"> is the @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName in a conservation area</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Do you want to restock?
                </dt>
                <dd class="govuk-summary-list__value">
                    @willRestock
                </dd>
                <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing && Model.FellingDetail.OperationType.AllowedRestockingForFellingType(false).IsNullOrEmpty() == false">
                    <a class="govuk-link" href="@Url.Action(Model.WillYouRestockChangeLink)">Change<span class="govuk-visually-hidden"> do you want to restock for the @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row" condition="@showRestocking">
                <dt class="govuk-summary-list__key">
                    Restocking compartments
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.RestockingCompartmentsString
                </dd>
                <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                    <a class="govuk-link" href="@Url.Action(Model.RestockingCompartmentsChangeLink)">Change<span class="govuk-visually-hidden"> the restocking compartments for the @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName</span></a>
                </dd>
            </div>

            @foreach (var restockingCompartment in Model.RestockingCompartmentDetails)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Restocking operations in @restockingCompartment.CompartmentName
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @restockingCompartment.RestockingOperationsString
                    </dd>
                    <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                        <a class="govuk-link" href="@Url.Action(restockingCompartment.RestockingOptionsChangeLink)">Change<span class="govuk-visually-hidden"> the restocking operations in @restockingCompartment.CompartmentName for the @Model.FellingDetail.OperationType.GetDisplayName() in compartment @Model.FellingCompartmentName</span></a>
                    </dd>
                </div>
            }
        </dl>
        
        @if(showRestocking)
        {
            @foreach (var restockingCompartment in Model.RestockingCompartmentDetails)
            {
                <partial name="_RestockingCompartmentPlayback" model="@restockingCompartment" />
            }
        }

    </div>
</div>
