@using System.ClientModel.Primitives
@using System.Web
@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.Services.Common;
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.Common.User
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@using Forestry.Flo.Services.FellingLicenceApplications.Models
@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.FellingLicenceApplicationSummaryViewModel
@{
    ViewData["Title"] = "Felling Licence Application Summary";
    ViewData.ShowBackLink();

    var user = new ExternalApplicant(User);

    var habitatIds = (Model.HabitatRestorations?.Select(r => r.PropertyProfileCompartmentId) ?? []).ToHashSet();
}

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l" Condition="Model.Application.FlaTermsAndConditionsViewModel.AllowEditing">
        Check your answers
    </h1>
    <h1 class="govuk-heading-l" Condition="!Model.Application.FlaTermsAndConditionsViewModel.AllowEditing">
        Application summary
    </h1>

    @if (Model.Agency != null)
    {
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Your details</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Agency.ContactName
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Agency.ContactEmail
                        </dd>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(Model.Agency.OrganisationName))
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Agency name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Agency.OrganisationName
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Woodland owner details</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.WoodlandOwner.ContactName
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.WoodlandOwner.ContactEmail
                        </dd>
                    </div>
                    @if (Model.WoodlandOwner.IsOrganisation)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.WoodlandOwner.OrganisationName
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>
    }
    else
    {
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Your details</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.WoodlandOwner.ContactName
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.WoodlandOwner.ContactEmail
                        </dd>
                    </div>
                    @if (Model.WoodlandOwner.IsOrganisation)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.WoodlandOwner.OrganisationName
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>
    }

    @if (user.IsFcUser)
    {
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Application is for a 10-year licence</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Application is for 10-year licence?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @(Model.Application.TenYearLicence?.IsForTenYearLicence is true ? "Yes" : "No")
                        </dd>
                        <dd class="govuk-summary-list__actions" condition="Model.Application.SupportingDocumentation.AllowEditing">
                            <a class="govuk-link" href="@Url.Action("TenYearLicence", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })">Change<span class="govuk-visually-hidden">&nbsp;if the application is for a ten-year licence</span></a>
                        </dd>
                    </div>
                    @if (Model.Application.TenYearLicence?.IsForTenYearLicence is true)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Woodland management plan reference
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Model.Application.TenYearLicence?.WoodlandManagementPlanReference
                            </dd>
                            <dd class="govuk-summary-list__actions" condition="Model.Application.SupportingDocumentation.AllowEditing">
                                <a class="govuk-link" href="@Url.Action("TenYearLicence", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })">Change<span class="govuk-visually-hidden">&nbsp;the woodland management plan reference</span></a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Woodland management plan documents
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @{
                                    var wmpDocs = Model.Application.SupportingDocumentation.Documents.Where(x => x.DocumentPurpose == DocumentPurpose.WmpDocument).ToList();
                                }

                                @if (wmpDocs.Any())
                                {
                                    foreach (var document in wmpDocs)
                                    {
                                        <div>
                                            <a class="hidden-download-supporting-document"
                                            asp-controller="FellingLicenceApplication"
                                            asp-action="DownloadSupportingDocument"
                                            asp-route-applicationId="@Model.Application.ApplicationId"
                                            asp-route-documentIdentifier="@document.Id">
                                                @document.FileName
                                            </a>
                                        </div>
                                        <br/>
                                    }
                                }
                                else
                                {
                                    <div>
                                        No documents uploaded
                                    </div>
                                }

                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="@Url.Action("WmpDocuments", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })"
                                Condition="Model.Application.SupportingDocumentation.AllowEditing">Change<span class="govuk-visually-hidden">&nbsp;the woodland management plan documents</span></a>
                            </dd>
                        </div>
                    }
                </dl>
            </div>
        </div>
    }

    <div class="govuk-summary-card" condition="Model.Application.AgentAuthorityForm.StepRequiredForApplication">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Agent authority form</h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="@Url.Action("AgentAuthorityForm", "FellingLicenceApplication", new { agentAuthorityId = Model.Application.AgentAuthorityForm.AgentAuthorityId, applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })">
                        Change<span class="govuk-visually-hidden"> the agent authority form</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Agent authority form
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.Application.AgentAuthorityForm.AafDocument ?? "No")
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Woodland details</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PropertyProfile.Name
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Nearest town
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PropertyProfile.NearestTown
                    </dd>
                </div>
                @if (Model.PropertyProfile.HasWoodlandManagementPlan)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Woodland Management Plan
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.PropertyProfile.WoodlandManagementPlanReference
                        </dd>
                    </div>
                }
                @if (Model.PropertyProfile.IsWoodlandCertificationScheme)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Woodland Certification Scheme
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.PropertyProfile.WoodlandCertificationSchemeReference
                        </dd>
                    </div>
                }
            </dl>
        </div>
    </div>
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Felling schedule</h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="@Url.Action("Operations", "FellingLicenceApplication", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })"
                    Condition="Model.Application.OperationDetails.AllowEditing">
                        Change<span class="govuk-visually-hidden">&nbsp;the felling schedule</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Felling start date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @DateTimeDisplay.GetDateDisplayString(Model.Application.OperationDetails.ProposedFellingStart.CalculateDate())
                    </dd>
                </div>
            </dl>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Felling completion date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @DateTimeDisplay.GetDateDisplayString(Model.Application.OperationDetails.ProposedFellingEnd.CalculateDate())
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">@FellingLicenceApplicationSection.TreeHealthIssues.GetDescription()</h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="@Url.Action("TreeHealthCheck", "FellingLicenceApplication", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })"
                    Condition="Model.Application.OperationDetails.AllowEditing">
                        Change<span class="govuk-visually-hidden">&nbsp;the tree health or public safety issues</span>
                    </a>
                </li>
            </ul>
        </div>
        @{
            var reasons = Model.Application.TreeHealth.TreeHealthIssues.NoTreeHealthIssues
                ? [ "No tree health or public safety reasons" ]
                : Model.Application.TreeHealth.TreeHealthIssues.TreeHealthIssueSelections.Select(x => x.Key).ToList();
            if (Model.Application.TreeHealth.TreeHealthIssues.OtherTreeHealthIssue)
            {
                reasons.Add($"Other - {HttpUtility.HtmlEncode(Model.Application.TreeHealth.TreeHealthIssues.OtherTreeHealthIssueDetails)}");
            }

            var reasonsOutput = string.Join("<br/>", reasons);
        }

        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Tree health or public safety reasons for this application
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Html.Raw(reasonsOutput)
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Tree health or public safety documents
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model.Application.TreeHealth.TreeHealthDocuments.Any())
                        {
                            foreach (var document in Model.Application.TreeHealth.TreeHealthDocuments)
                            {
                                <div>
                                    <a class="hidden-download-supporting-document"
                                       asp-controller="FellingLicenceApplication"
                                       asp-action="DownloadSupportingDocument"
                                       asp-route-applicationId="@Model.Application.ApplicationId"
                                       asp-route-documentIdentifier="@document.Id">
                                        @document.FileName
                                    </a>
                                </div>
                                <br />
                            }
                        }
                        else
                        {
                            <div>
                                No documents uploaded
                            </div>
                        }
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Felling and restocking details</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Felling compartments
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @foreach (var comp in Model.FellingAndRestocking.FellingCompartmentDetails)
                        {
                            <div>
                                @comp.CompartmentName <br/>
                            </div>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@Url.Action(Model.FellingAndRestocking.FellingCompartmentsChangeLink)"
                        Condition="Model.Application.FellingAndRestockingDetails.AllowEditing">Change<span class="govuk-visually-hidden">&nbsp;the felling compartments</span></a>
                    </dd>
                </div>
            </dl>

            @foreach (var compartmentDetails in Model.FellingAndRestocking.FellingCompartmentDetails)
            {
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Felling operations in compartment @compartmentDetails.CompartmentName
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @compartmentDetails.OperationsString
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@Url.Action(compartmentDetails.FellingOperationsChangeLink)"
                            Condition="Model.Application.FellingAndRestockingDetails.AllowEditing">Change<span class="govuk-visually-hidden">&nbsp;the felling operations in compartment @compartmentDetails.CompartmentName</span></a>
                        </dd>
                    </div>
                </dl>
            }
        </div>
    </div>

</div>


<div class="govuk-grid-column-full">

    <input type="hidden" id="GIS" asp-for="@Model.FellingAndRestocking.GIS"/>
    <arcgis-map id="viewDiv" class="govuk-!-margin-bottom-6" aria-label="Map of compartments within this application">
        <arcgis-scale-bar slot="bottom-right" unit="dual"></arcgis-scale-bar>
        <arcgis-zoom slot="top-right"></arcgis-zoom>
        <arcgis-compass slot="top-right"> </arcgis-compass>
        <arcgis-expand slot="top-right">
            <arcgis-basemap-gallery></arcgis-basemap-gallery>
        </arcgis-expand>
    </arcgis-map>

</div>



<div class="govuk-grid-column-two-thirds">

    @foreach (var compartment in Model.FellingAndRestocking.FellingCompartmentDetails)
    {
        <div>
            <partial name="_FellingCompartmentPlayback" model="@compartment"/>
        </div>
    }

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Constraint check</h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="@Url.Action("ConstraintsCheck", "FellingLicenceApplication", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })"
                       Condition="Model.Application.ConstraintCheck.AllowEditing">
                        Change<span class="govuk-visually-hidden">&nbsp;the constraints check</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Constraint check complete
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.Application.ConstraintCheck.ExternalLisReportRun is true ? "Yes" : "No")
                    </dd>
                </div>
            </dl>
        </div>
        @if (Model.Application.ConstraintCheck.ExternalLisReportRun is true)
        {
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Constraint check run date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @DateTimeDisplay.GetDateTimeDisplayString(Model.Application.ConstraintCheck.ExternalLisAccessedTimestamp)
                        </dd>
                    </div>
                </dl>
            </div>
        }
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Opted out of constraint check
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.Application.ConstraintCheck.NotRunningExternalLisReport == true ? "Yes" : "No")
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="govuk-summary-card" condition="@Model.Application.HabitatRestoration.StepRequiredForApplication">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Priority open habitats</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Are any of the compartments being converted into priority open habitats?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.Application.HabitatRestoration.IsPriorityOpenHabitat is true ? "Yes" : "No")
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@Url.Action("HabitatRestoration", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })"
                           Condition="Model.Application.FellingAndRestockingDetails.AllowEditing">Change<span class="govuk-visually-hidden">&nbsp;the felling compartments</span></a>
                    </dd>
                </div>
                
                <div class="govuk-summary-list__row" condition="@habitatIds.Any()">
                    <dt class="govuk-summary-list__key">
                        Compartments being converted into priority open habitats
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @foreach (var comp in Model.FellingAndRestocking.FellingCompartmentDetails.Where(c => habitatIds.Contains(c.CompartmentId)))
                        {
                            <div>
                                @comp.CompartmentName <br />
                            </div>
                        }
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@Url.Action("HabitatCompartments", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })"
                           Condition="Model.Application.FellingAndRestockingDetails.AllowEditing">Change<span class="govuk-visually-hidden">&nbsp;the felling compartments</span></a>
                    </dd>
                </div>
            </dl>

        </div>
    </div>
    
    @* if habitat restorations aren't required then there should be no habitatIds *@
    @foreach (var comp in Model.FellingAndRestocking.FellingCompartmentDetails.Where(c => habitatIds.Contains(c.CompartmentId)))
    {
        var habitat = Model.HabitatRestorations.Where(x => x.PropertyProfileCompartmentId == comp.CompartmentId).First();
            

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Priority open habitat in compartment @comp.CompartmentName</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            What type of priority open habitat is @comp.CompartmentName being converted into?
                        </dt>
                        <dd class="govuk-summary-list__value">
                                @(habitat.HabitatType?.GetDisplayName()) <br />
                                @(habitat.HabitatType == HabitatType.Other ? habitat.OtherHabitatDescription : string.Empty)

                        </dd>
                        <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="@Url.Action("HabitatType", new { applicationId = Model.Application.ApplicationId, compartmentId = comp.CompartmentId, returnToApplicationSummary = true })"
                               Condition="Model.Application.FellingAndRestockingDetails.AllowEditing">Change<span class="govuk-visually-hidden">&nbsp;the felling compartments</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                                What type of trees make up most of @comp.CompartmentName?
                        </dt>
                        <dd class="govuk-summary-list__value">
                                @(habitat.WoodlandSpeciesType?.GetDisplayName())
                        </dd>
                        <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="@Url.Action("HabitatWoodlandSpecies", new { applicationId = Model.Application.ApplicationId, compartmentId = comp.CompartmentId, returnToApplicationSummary = true })"
                               Condition="Model.Application.FellingAndRestockingDetails.AllowEditing">Change<span class="govuk-visually-hidden">&nbsp;the felling compartments</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row" condition="habitat.WoodlandSpeciesType == WoodlandSpeciesType.BroadleafWoodland">
                        <dt class="govuk-summary-list__key">
                                Are the broadleaf tree species in @comp.CompartmentName predominantly native?
                        </dt>
                        <dd class="govuk-summary-list__value">
                                @(habitat.NativeBroadleaf is null ? string.Empty : (habitat.NativeBroadleaf == true ? "Yes" : "No"))
                        </dd>
                        <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="@Url.Action("HabitatNativeBroadleaf", new { applicationId = Model.Application.ApplicationId, compartmentId = comp.CompartmentId, returnToApplicationSummary = true })"
                               Condition="Model.Application.FellingAndRestockingDetails.AllowEditing">Change<span class="govuk-visually-hidden">&nbsp;the felling compartments</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Is @comp.CompartmentName a productive woodland?
                        </dt>
                        <dd class="govuk-summary-list__value">
                                @(habitat.ProductiveWoodland is true ? "Yes" : "No")
                            </dd>
                        <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="@Url.Action("HabitatProductiveWoodland", new { applicationId = Model.Application.ApplicationId, compartmentId = comp.CompartmentId, returnToApplicationSummary = true })"
                               Condition="Model.Application.FellingAndRestockingDetails.AllowEditing">Change<span class="govuk-visually-hidden">&nbsp;the felling compartments</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row" condition="habitat.ProductiveWoodland == true">
                        <dt class="govuk-summary-list__key">
                                Are the trees in @comp.CompartmentName being felled early?
                        </dt>
                        <dd class="govuk-summary-list__value">
                                @(habitat.FelledEarly is null ? string.Empty : (habitat.FelledEarly == true ? "Yes" : "No"))
                        </dd>
                        <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="@Url.Action("HabitatFelledEarly", new { applicationId = Model.Application.ApplicationId, compartmentId = comp.CompartmentId, returnToApplicationSummary = true })"
                               Condition="Model.Application.FellingAndRestockingDetails.AllowEditing">Change<span class="govuk-visually-hidden">&nbsp;the felling compartments</span></a>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    }

    <div class="govuk-summary-card" condition="@Model.Application.EnvironmentalImpactAssessment.StepRequiredForApplication">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Environmental Impact Assessment</h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="@Url.Action("EnvironmentalImpactAssessment", "FellingLicenceApplication", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })"
                       Condition="Model.Application.SupportingDocumentation.AllowEditing">
                        Change<span class="govuk-visually-hidden">&nbsp;the Environmental Impact Assessment</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Have you completed Environmental Impact Assessment application?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.Application.EnvironmentalImpactAssessment.HasApplicationBeenCompleted is true ? "Yes" : "No")
                    </dd>
                </div>
                <div class="govuk-summary-list__row" condition="@Model.Application.EnvironmentalImpactAssessment.HasApplicationBeenCompleted is true">
                    <dt class="govuk-summary-list__key">
                        Have you sent it to us?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.Application.EnvironmentalImpactAssessment.HasApplicationBeenSent is true ? "Yes" : "No")
                    </dd>
                </div>
                <div class="govuk-summary-list__row" condition="@Model.Application.EnvironmentalImpactAssessment.HasApplicationBeenCompleted is true">
                    <dt class="govuk-summary-list__key">
                        EIA documents
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @{
                            var eiaDocs = Model.Application.SupportingDocumentation.Documents
                            .Where(x => x.DocumentPurpose is (DocumentPurpose.EiaAttachment))
                            .ToList();
                        }

                        @if (eiaDocs.Any())
                        {
                            foreach (var document in eiaDocs)
                            {
                                <div>
                                    <a class="hidden-download-supporting-document"
                                       asp-controller="FellingLicenceApplication"
                                       asp-action="DownloadSupportingDocument"
                                       asp-route-applicationId="@Model.Application.ApplicationId"
                                       asp-route-documentIdentifier="@document.Id">
                                        @document.FileName
                                    </a>
                                </div>
                                <br />
                            }
                        }
                        else
                        {
                            <div>
                                No documents uploaded
                            </div>
                        }
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="govuk-summary-card" condition="Model.PawsCompartmentDesignations.Any()">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Plantation ancient woodlands and infilled ancient wood pastures</h2>
        </div>
        <div class="govuk-summary-card__content">
            @for (var i = 0; i < Model.PawsCompartmentDesignations.Count; i++)
            {
                var paws = Model.PawsCompartmentDesignations[i];
                var divClass = i == 0 ? "govuk-body" : "govuk-body govuk-!-padding-top-5";

                <div class="@divClass">
                    <h3 class="govuk-heading-m">
                        Compartment @paws.PropertyProfileCompartmentName
                    </h3>
                </div>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Proportion of native tree species making up this compartment
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @paws.ProportionBeforeFelling?.GetDisplayName()
                        </dd>
                        <dd class="govuk-summary-list__actions" condition="@Model.FellingAndRestocking.AllowEditing">
                            <a class="govuk-link" href="@Url.Action("PawsCheck", new { applicationId = Model.Application.ApplicationId, compartmentDesignationsId = paws.Id, returnToApplicationSummary = true })">Change<span class="govuk-visually-hidden"> the proportion of native tree species making up compartment @paws.PropertyProfileCompartmentName</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Proportion of native tree species left in this compartment based on the proposed felling
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @paws.ProportionAfterFelling?.GetDisplayName()
                        </dd>
                        <dd class="govuk-summary-list__actions" condition="@Model.FellingAndRestocking.AllowEditing">
                            <a class="govuk-link" href="@Url.Action("PawsCheck", new { applicationId = Model.Application.ApplicationId, compartmentDesignationsId = paws.Id, returnToApplicationSummary = true })">Change<span class="govuk-visually-hidden"> the proportion of native tree species making up compartment @paws.PropertyProfileCompartmentName</span></a>
                        </dd>
                    </div>
                </dl>
            }
        </div>
    </div>

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Supporting documentation</h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="@Url.Action("SupportingDocumentation", "FellingLicenceApplication", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })"
                       Condition="Model.Application.SupportingDocumentation.AllowEditing">
                        Change<span class="govuk-visually-hidden">&nbsp;the supporting documentation</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Supporting documents
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @{
                            var supportingDocs = Model.Application.SupportingDocumentation.Documents
                                                    .Where(x => x.DocumentPurpose is not (DocumentPurpose.WmpDocument or DocumentPurpose.EiaAttachment or DocumentPurpose.TreeHealthAttachment))
                                                    .ToList();
                        }

                        @if (supportingDocs.Any())
                        {
                            foreach (var document in supportingDocs)
                            {
                                <div>
                                    <a class="hidden-download-supporting-document"
                                       asp-controller="FellingLicenceApplication"
                                       asp-action="DownloadSupportingDocument"
                                       asp-route-applicationId="@Model.Application.ApplicationId"
                                       asp-route-documentIdentifier="@document.Id">
                                        @document.FileName
                                    </a>
                                </div>
                                <br/>
                            }
                        }
                        else
                        {
                            <div>
                                No documents uploaded
                            </div>
                        }
                    </dd>
                </div>
            </dl>
        </div>
    </div>


    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Declaration and confirmation</h2>
            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="@Url.Action("TermsAndConditions", "FellingLicenceApplication", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })"
                       Condition="Model.Application.FlaTermsAndConditionsViewModel.AllowEditing">
                        Change<span class="govuk-visually-hidden">&nbsp;the declaration and confirmation</span>
                    </a>
					<a class="govuk-link" href="@Url.Action("TermsAndConditions", "FellingLicenceApplication", new { applicationId = Model.Application.ApplicationId, returnToApplicationSummary = true })"
					   Condition="!Model.Application.FlaTermsAndConditionsViewModel.AllowEditing">
						View<span class="govuk-visually-hidden">&nbsp;the declaration and confirmation</span>
					</a>
				</li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Declaration and confirmation accepted
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.Application.FlaTermsAndConditionsViewModel.TermsAndConditionsAccepted is true ? "Yes" : "No")
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <a asp-action="ApplicationTaskList" asp-route-applicationId="@Model.Application.ApplicationId" class="govuk-link"
       Condition="Model.Application.FlaTermsAndConditionsViewModel.AllowEditing">Return to your application</a>
    <br>

    @{
        var enabledStatuses = new[]
        {
            FellingLicenceStatus.Draft,
            FellingLicenceStatus.WithApplicant,
            FellingLicenceStatus.ReturnedToApplicant
        };

        var finalStatuses = new[]
        {
            FellingLicenceStatus.Approved,
            FellingLicenceStatus.Refused,
            FellingLicenceStatus.ReferredToLocalAuthority,
            FellingLicenceStatus.Withdrawn
        };

        if (enabledStatuses.Contains(Model.Application.ApplicationSummary.Status))
        {
            if (Model.Application.IsComplete)
            {
                <a class="govuk-button" data-module="govuk-button" asp-action="ConfirmSubmitFellingLicenceApplication" asp-route-applicationId="@Model.Application.ApplicationId"> Submit application</a>
            }
            else
            {
                <button class="govuk-button" data-module="govuk-button" disabled="disabled">Submit application</button>
            }
        }
        else if (finalStatuses.Contains(Model.Application.ApplicationSummary.Status))
        {
            var text = Model.Application.ApplicationSummary.Status == FellingLicenceStatus.ReferredToLocalAuthority
                ? "is in consultation with your local authority."
                : $"has been {Model.Application.ApplicationSummary.Status.GetDisplayNameByActorType(ActorType.ExternalApplicant).ToLower()}.";

            <p class="govuk-body">This application @text</p>
        }
        else
        {
            <p class="govuk-body">This application has been submitted.</p>
        }
    }

</div>

@section Css {
    <link rel="stylesheet" href="https://js.arcgis.com/4.34/esri/themes/light/main.css"/>
    <link rel="stylesheet" href="/css/govuk-frontend-4.2.0.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/css/map.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true"/>

    <style>
        #viewDiv {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            padding: 0;
            margin: 0;
            height: 85vh !important;
        }
    </style>
}

@* Scripts to support the compartments map *@

@section Scripts {
    <script src="https://js.arcgis.com/calcite-components/3.3.3/calcite.esm.js" type="module"></script>
    <script src="https://js.arcgis.com/4.34/"></script>
    <script type="module" src="https://js.arcgis.com/4.34/map-components/"></script>

    <script>
        require(["../../js/mapping/maps/map-compartment-selection.js?v=" + Date.now()], function (MapCompartmentSelection) {
            var mapObj = new MapCompartmentSelection("viewDiv");
        })
    </script>
}