@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.Services.Common.Extensions

@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.ProposedFellingDetailModel

@{
    ViewData["Title"] = "Felling details for " + Model.ApplicationReference + " compartment " + Model.FellingCompartmentName;

    double? compartmentTotalHectares = Model.CompartmentTotalHectares.HasValue
        ? Math.Truncate(Model.CompartmentTotalHectares.Value * 100) / 100
        : null;
    ViewData.ManuallySetBackLink(Url.Action(
        Model.ReturnToPlayback
            ? "FellingAndRestockingPlayback"
            : "ApplicationSummary",
        "FellingLicenceApplication",
        new
        {
            applicationId = Model.ApplicationId
        }));
    ViewData.ShowBackLink();
}

<partial name="Partials/_ConfirmationMessageDisplay" />
<partial name="Partials/_UserGuideDisplay" />
<partial name="_ApplicationSummaryNotes" model="@ViewBag.ApplicationSummary" />

<div class="govuk-grid-column-two-thirds">

    <form id="felling-detail-form" method="post" asp-controller="FellingLicenceApplication" asp-action="FellingDetail">

        <input aria-hidden="True" type="hidden" asp-for="Id" />
        <input aria-hidden="True" type="hidden" asp-for="ApplicationId" />
        <input aria-hidden="True" type="hidden" asp-for="ApplicationReference" />
        <input aria-hidden="True" type="hidden" asp-for="FellingCompartmentId" />
        <input aria-hidden="True" type="hidden" asp-for="FellingCompartmentName" />
        <input aria-hidden="True" type="hidden" asp-for="CompartmentTotalHectares" />
        <input aria-hidden="True" type="hidden" asp-for="OperationType" />
        <input aria-hidden="True" type="hidden" asp-for="ReturnToPlayback" />

        <div class="govuk-body">

            <fieldset class="govuk-fieldset" id="felling-detail-fields">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Felling details for @Model.ApplicationReference compartment @Model.FellingCompartmentName
                    </h1>
                </legend>
                
                <partial name="_ApplicationEditWarning.cshtml" model="@Model"/>

                <div class="govuk-form-group">
                    <p class="govuk-body">
                        Add more information about the <b>@Model.OperationType.GetDisplayName()</b> you have planned for <b>@Model.FellingCompartmentName</b>.
                    </p>
                </div>

                <govuk-form-group asp-for="AreaToBeFelled">
					<label class="govuk-heading-m" asp-for="AreaToBeFelled" id="@nameof(Model.AreaToBeFelled)Label">
                        Estimated area to be felled
                    </label>
                    <div id="area-to-be-felled-hint" class="govuk-hint">
                        Add an estimation of the total area to be felled in hectares.
                        @if (compartmentTotalHectares != null)
                        {
                            <div id="size-hint" class="govuk-hint">
                                The property profile has @($"{compartmentTotalHectares:0.00}") Ha as the gross size for this compartment.
                            </div>
                        }
                    </div>
                    <validation asp-for="AreaToBeFelled"></validation>
                    <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-5" asp-for="AreaToBeFelled" type="number" step="0.01" aria-describedby="area-to-be-felled-hint" value="@(Model.AreaToBeFelled == 0 ? "" : Model.AreaToBeFelled)">
                        <div class="govuk-input__suffix" aria-hidden="true">ha</div>
                    </div>
                </govuk-form-group>

                <govuk-form-group asp-for="NumberOfTrees">
					<label class="govuk-heading-m" asp-for="NumberOfTrees" id="@nameof(Model.NumberOfTrees)Label">
                        Estimated number of trees to be felled
                    </label>

                    <div id="no-of-trees-hint" class="govuk-hint">
                        An estimate of the total number of trees to be felled within this compartment. Required if felling individual trees, and must be a number greater than zero when provided.
                    </div>
                    <validation asp-for="NumberOfTrees"></validation>
                    <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-10" asp-for="NumberOfTrees" type="number" aria-describedby="no-of-trees-hint">
                        <div class="govuk-input__suffix" aria-hidden="true">Trees</div>
                    </div>
                </govuk-form-group>

                <govuk-form-group asp-for="IsTreeMarkingUsed" id="@nameof(Model.IsTreeMarkingUsed)Label">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-heading-m">
                            Will you use tree marking?
                        </legend>
                        <validation asp-for="IsTreeMarkingUsed"></validation>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input type="radio" class="govuk-radios__input" asp-for="IsTreeMarkingUsed" value="@true" data-aria-controls="conditional-@Html.NameFor(x => x.IsTreeMarkingUsed)">
                                <label class="govuk-label govuk-radios__label" asp-for="IsTreeMarkingUsed">
                                    Yes, I will use tree marking
                                </label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-@Html.NameFor(x => x.IsTreeMarkingUsed)">
                                <govuk-form-group asp-for="TreeMarking">
                                    <label asp-for="TreeMarking" class="@GdsConstants.GdsLabelCssClass">
                                        Explain how you will use tree marking. For example 'Red crosses to show the boundary of the area to be felled'.
                                    </label>
                                    <validation asp-for="TreeMarking"></validation>
                                    <input type="text" class="@GdsConstants.GdsInputCssClass" asp-for="TreeMarking" tabindex="0" />
                                </govuk-form-group>
                            </div>

                            <div class="govuk-radios__item">
                                <input id="felling-detail-tree-marking-no" type="radio" class="govuk-radios__input" asp-for="IsTreeMarkingUsed" value="@false">
                                <label class="govuk-label govuk-radios__label" for="felling-detail-tree-marking-no" asp-for="IsTreeMarkingUsed">
                                    No
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </govuk-form-group>

                @{
                    var viewData = new ViewDataDictionary(ViewData)
                    {
                        TemplateInfo =
                        {
                            HtmlFieldPrefix = "Species"
                        },
                        ["FormPrefix"] = "felling"
                    };
                }
                
                <govuk-form-group asp-for="Species" id="felling-tree-species-group">
                    <input type="hidden" aria-hidden="true" asp-for="Species" />
					<label class="govuk-heading-m" for="felling-tree-species-select" id="felling-tree-species-selectLabel">
                        What species of trees will be felled?
                    </label>
                    <div id="species-hint" class="govuk-hint">
                        Start typing to search, then select a species from the list.  At least one species must be selected.
                    </div>
                    <validation id="felling-tree-species-error" asp-for="Species"></validation>
                    <partial name="_TreeSpeciesSelection" model="@Model.Species" view-data="viewData" />
                </govuk-form-group>

                <govuk-form-group asp-for="EstimatedTotalFellingVolume">
                    <label class="govuk-heading-m" asp-for="EstimatedTotalFellingVolume" id="@nameof(Model.EstimatedTotalFellingVolume)Label">
                        Estimated total felling volume
                    </label>

                    <div id="estimated-total-felling-volume-hint" class="govuk-hint">
                        An estimate for the total volume of trees to be felled within this compartment in cubic metres, must be greater than zero.
                    </div>
                    <validation asp-for="EstimatedTotalFellingVolume"></validation>
                    <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-10" asp-for="EstimatedTotalFellingVolume" type="number" aria-describedby="estimated-total-felling-volume-hint">
                        <div class="govuk-input__suffix" aria-hidden="true">m<sup>3</sup></div>
                    </div>
                </govuk-form-group>

                <govuk-form-group asp-for="IsPartOfTreePreservationOrder" id="@nameof(Model.IsPartOfTreePreservationOrder)Label">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-heading-m">
                            Is there a Tree Preservation Order (TPO) for any of the trees to be felled?
                        </legend>
                        <validation asp-for="IsPartOfTreePreservationOrder"></validation>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input type="radio" class="govuk-radios__input" asp-for="IsPartOfTreePreservationOrder" value="@true" data-aria-controls="conditional-@Html.NameFor(x => x.IsPartOfTreePreservationOrder)">
                                <label class="govuk-label govuk-radios__label" asp-for="IsPartOfTreePreservationOrder">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-@Html.NameFor(x => x.IsPartOfTreePreservationOrder)">
                                <govuk-form-group asp-for="TreePreservationOrderReference">
                                    <label asp-for="TreePreservationOrderReference" class="@GdsConstants.GdsLabelCssClass">
                                        TPO number
                                    </label>
                                    <validation asp-for="TreePreservationOrderReference"></validation>
                                    <input class="@GdsConstants.GdsInputCssClass" asp-for="TreePreservationOrderReference" tabindex="0" />
                                </govuk-form-group>
                            </div>

                            <div class="govuk-radios__item">
                                <input id="felling-detail-tpo-no" type="radio" class="govuk-radios__input" asp-for="IsPartOfTreePreservationOrder" value="@false">
                                <label class="govuk-label govuk-radios__label" for="felling-detail-tpo-no" asp-for="IsPartOfTreePreservationOrder">
                                    No
                                </label>
                            </div>

                        </div>
                    </fieldset>
                </govuk-form-group>

                <govuk-form-group asp-for="IsWithinConservationArea" id="@nameof(Model.IsWithinConservationArea)Label">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-heading-m">
                            Is the property in a conservation area?
                        </legend>
                        <validation asp-for="IsWithinConservationArea"></validation>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input type="radio" class="govuk-radios__input" asp-for="IsWithinConservationArea" value="@true" data-aria-controls="conditional-@Html.NameFor(x => x.IsWithinConservationArea)">
                                <label class="govuk-label govuk-radios__label" asp-for="IsWithinConservationArea">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-@Html.NameFor(x => x.IsWithinConservationArea)">
                                <govuk-form-group asp-for="ConservationAreaReference">
                                    <label asp-for="ConservationAreaReference" class="@GdsConstants.GdsLabelCssClass">
                                        Conservation area reference
                                    </label>
                                    <validation asp-for="ConservationAreaReference"></validation>
                                    <input class="@GdsConstants.GdsInputCssClass" asp-for="ConservationAreaReference" tabindex="0" />
                                </govuk-form-group>
                            </div>

                            <div class="govuk-radios__item">
                                <input id="felling-detail-conservation-area-no" type="radio" class="govuk-radios__input" asp-for="IsWithinConservationArea" value="@false">
                                <label class="govuk-label govuk-radios__label" for="felling-detail-conservation-area-no" asp-for="IsWithinConservationArea">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </govuk-form-group>

            </fieldset>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>

        </div>
    </form>
</div>

@section Scripts 
{
    <script src="/js/accessible-autocomplete.min.js"></script>
    <script src="/js/tree-species-selection.js" asp-append-version="true"></script>
    <script src="~/js/supporting-documentation.js" asp-append-version="true"></script>
	<script src="~/js/focus-input-from-hash.js"></script>

    @if (!Model.AllowEditing)
    {
        <script src="/js/disable-form-elements.js"></script>

        <script>

            $(function () {

                disableFormElements('#felling-detail-form');
            });

        </script>
    }
}