@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.FellingAndRestockingPlaybackViewModel
@using Forestry.Flo.External.Web.Infrastructure
@{
    ViewData["Title"] = "Check your felling and restocking answers";
    ViewData.ManuallySetBackLink(Url.Action("ApplicationSummary", new { applicationId = Model.ApplicationId }));
    ViewData.ShowBackLink();
}

<partial name="Partials/_ConfirmationMessageDisplay" />
<partial name="Partials/_UserGuideDisplay" />
<partial name="_ApplicationSummaryNotes" model="@ViewBag.ApplicationSummary" />

<div class="govuk-grid-column-two-thirds">

    <form id="felling-and-restocking-playback-form" asp-controller="FellingLicenceApplication" asp-action="FellingAndRestockingPlayback">
        <input type="hidden" asp-for="ApplicationId" />
        <input type="hidden" asp-for="@Model.GIS" />
        
        <div class="govuk-body">
            <h1 class="govuk-heading-l">
                Check your felling and restocking answers
            </h1>
                
            <partial name="_ApplicationEditWarning.cshtml" model="@Model" />

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Felling and restocking details
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Felling compartments
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @foreach (var comp in Model.FellingCompartmentDetails)
                                {
                                    <div>
                                        @comp.CompartmentName <br/>
                                    </div>
                                }
                            </dd>
                            <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                                <a class="govuk-link" href="@Url.Action(Model.FellingCompartmentsChangeLink)">Change<span class="govuk-visually-hidden"> compartments with felling operations</span></a>
                            </dd>
                        </div>

                        @foreach (var compartmentDetails in Model.FellingCompartmentDetails)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Felling operations in compartment @compartmentDetails.CompartmentName
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @compartmentDetails.OperationsString
                                </dd>
                                <dd class="govuk-summary-list__actions" condition="@Model.AllowEditing">
                                    <a class="govuk-link" href="@Url.Action(compartmentDetails.FellingOperationsChangeLink)">Change<span class="govuk-visually-hidden"> felling operations in @compartmentDetails.CompartmentName</span></a>
                                </dd>
                            </div>
                        }
                    </dl>
                </div>
            </div>

            @foreach (var compartment in Model.FellingCompartmentDetails)
            {
                <div>
                    <partial name="_FellingCompartmentPlayback" model="@compartment" />
                </div>
            }

            <div class="govuk-button-group">
                <a
                    condition-disabled="@(Model.AllowEditing is false)"
                    class="govuk-button"
                    asp-action="@Model.SaveAndContinueContext.Action"
                    asp-controller="@Model.SaveAndContinueContext.Controller"
                    asp-all-route-data="@(Model.SaveAndContinueContext.Values as Dictionary<string, string>)">
                    Save and continue
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @if (!Model.AllowEditing)
    {
        <script src="/js/disable-form-elements.js"></script>

        <script>

            $(function() {

                disableFormElements('#felling-and-restocking-playback-form');
            });

        </script>
    }
}