@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.External.Web.Models.FellingLicenceApplication
@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.External.Web.Infrastructure.Display
@using Forestry.Flo.Services.Common
@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.FellingAndRestockingDetails
@{
    ViewData["Title"] = "Select compartments";
}

<partial name="Partials/_ConfirmationMessageDisplay" />
<partial name="Partials/_UserGuideDisplay" />
<partial name="_ApplicationSummaryNotes" model="@ViewBag.ApplicationSummary" />

@functions
{
    public string GetStatusStyleName(ApplicationStepStatus status)
    {
        return status switch
        {
            ApplicationStepStatus.NotStarted => "govuk-tag--grey",
            ApplicationStepStatus.InProgress => "govuk-tag--blue",
            ApplicationStepStatus.AmendmentRequired => "govuk-tag--yellow",
            _ => string.Empty
        };
    }
}

<div class="govuk-grid-column-full">
    <div class="govuk-body">

        <h1>Felling and restocking compartments</h1>

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                Contents
            </h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#navigate-by-compartment-name">
                        Navigate by compartment name
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#navigate-by-map">
                        Navigate by map
                    </a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="navigate-by-compartment-name">
                <div class="compartments-task-list">
                    <ul class="app-task-list__items">
                        @foreach (var compartment in Model.DetailsList)
                        {
                            <li class="app-task-list__item">
                                <span class="app-task-list__task-name">
                                    <a href="@Url.Action("FellingDetail", "FellingLicenceApplication", new { applicationId = Model.ApplicationId, compartmentId = compartment.CompartmentId })" aria-describedby="compartment-1-status">
                                        @compartment.CompartmentName
                                    </a>
                                </span>
                                <strong class="govuk-tag @GetStatusStyleName(compartment.Status) app-task-list__tag" id="compartment-1-status">@(compartment.Status.GetDescription())</strong>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="navigate-by-map">
                <div id="viewDivContainer">
                    <div id="viewDiv"></div>
                </div>
            </div>
        </div>
        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <a
                    class="hidden-download-supporting-document"
                    asp-action="SupportingDocumentation"
                    asp-controller="FellingLicenceApplication"
                    asp-route-applicationId="@Model.ApplicationId"
                    name="hidden-continue-button">
                    <input type="button" class="govuk-button" id="continue-button" data-module="govuk-button" value="Continue" />
                </a>
                <a class="govuk-link" asp-controller="FellingLicenceApplication" asp-action="ApplicationTaskList" asp-route-applicationId="@Model.ApplicationId" title="Abandon changes and go to the home page">Cancel</a>
            </div>
        </div>
    </div>
</div>

@section breadcrumbs
    {
    @*<partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />*@
}

    @section Css {
    <link rel="stylesheet" href="@Url.AbsoluteContent("~/lib/arcgis_js_api/javascript/4.24/esri/themes/light/main.css")" />
    <link rel="stylesheet" href="/css/map.css" />
    <style>
        ul.app-task-list__items {
            padding: 0 !important;
            margin: 0 !important;
        }

    </style>
}

    @section Scripts   {

    <script src="@Url.AbsoluteContent("~/lib/arcgis_js_api/javascript/4.24/init.js")"></script>

    <script>
        require(["/js/mapping/maps/map-felling-restock.js?v=" + Date.now()], function (FellingRestock) {
                    const mapObj = new FellingRestock("viewDiv", false);
        });
    </script>
}