@using Forestry.Flo.External.Web.Infrastructure.Display
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.ProposedRestockingDetailModel
@{
    ViewData["Title"] = "Felling and restocking details";
}
<form id="felling-restocking-details-form" method="post" asp-controller="FellingLicenceApplication" asp-action="FellingAndRestockingDetails">

    <partial name="Partials/_ConfirmationMessageDisplay" />
    <partial name="Partials/_UserGuideDisplay" />
    <partial name="Partials/_PageErrors" />

    <input aria-hidden="True" type="hidden" asp-for="ApplicationId" />
    <input aria-hidden="True" type="hidden" asp-for="RestockingCompartmentId" id="CompartmentId" />
    <input aria-hidden="True" type="hidden" asp-for="CompartmentName" />
    <input aria-hidden="True" type="hidden" asp-for="ProposedFellingDetailsId" />

    <input aria-hidden="True" type="hidden" asp-for="ReturnToApplicationSummary" />

    <div class="govuk-grid-column-full">
        <partial name="_ApplicationSummaryNotes" model="@ViewBag.ApplicationSummary" />
        <div class="govuk-body">

            <h1>Felling and restocking details</h1>

            <partial name="_ApplicationEditWarning.cshtml" model="@Model" />

            <div>
                <partial name="_RestockingDetails" model="@Model" />
            </div>
        </div>

        <div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <a class="govuk-button govuk-button--secondary govuk-!-margin-left-2" asp-controller="FellingLicenceApplication" asp-action="FellingAndRestockingDetails" asp-route-applicationid="@Model.ApplicationId" asp-route-compartmentid="@Model.RestockingCompartmentId" asp-route-returnToApplicationSummary="@Model.ReturnToApplicationSummary" title="Abandon changes and go to the felling details">Cancel</a>
        </div>
    </div>
</form>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}

@* Scripts to support _TreeSpeciesSelection control *@
@section Scripts 
{
    <script src="/js/accessible-autocomplete.min.js"></script>
    <script src="/js/tree-species-selection.js" asp-append-version="true"></script>
    <script src="/js/felling-and-restocking-details.js" asp-append-version="true"></script>
    <script src="~/js/supporting-documentation.js" asp-append-version="true"></script>

    @if (!Model.AllowEditing)
    {
        <script src="/js/disable-form-elements.js"></script>

        <script>

            $(function () {

                disableFormElements('#felling-restocking-details-form');
            });

        </script>
    }


    <script src="@Url.AbsoluteContent("~/lib/arcgis_js_api/javascript/4.24/init.js")"></script>

    <script>
        var mapName = "restockMap";
        require(["/js/mapping/maps/map-felling-restock-detail.js?v=" + Date.now()], function (FellingRestock) {


            const mapObj = new FellingRestock(mapName);
        });
    </script>
}


@section Css {
    <link rel="stylesheet" href="@Url.AbsoluteContent("~/lib/arcgis_js_api/javascript/4.24/esri/themes/light/main.css")" />
    <link rel="stylesheet" href="/css/map.css" asp-append-version="true" />
}