@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.Services.FellingLicenceApplications.DataImports.Models
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.OperationDetailsModel
@{
    ViewData["Title"] = "Proposed felling schedule";
    var backLinkAction = Model.ReturnToApplicationSummary
        ? "ApplicationSummary"
        : Model.IsForTenYearLicence is true
            ? "WmpDocuments"
            : "TenYearLicence";

    ViewData.ManuallySetBackLink(Url.Action(backLinkAction, "FellingLicenceApplication", new
    {
        applicationId = Model.ApplicationId
    }));
    ViewData.ShowBackLink();
}
<partial name="Partials/_ConfirmationMessageDisplay"/>
<partial name="Partials/_UserGuideDisplay"/>
<partial name="_ApplicationSummaryNotes" model="@ViewBag.ApplicationSummary" />

<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
    <p class="govuk-body">Provide the dates you intend to start and end the tree felling and restocking work.</p>

    <partial name="_ApplicationEditWarning.cshtml" model="@Model"/>

    <form id="operations-form" method="post">
        <input aria-hidden="True" type="hidden" asp-for="ApplicationId"/>
        <input aria-hidden="True" type="hidden" asp-for="StepComplete" value="true" />
        <input aria-hidden="True" type="hidden" asp-for="ReturnToApplicationSummary" />
        <input aria-hidden="True" type="hidden" asp-for="IsForTenYearLicence" />
        <input aria-hidden="True" type="hidden" asp-for="DisplayDateReceived" />
        <input aria-hidden="True" type="hidden" condition="@(Model.IsForTenYearLicence is true)" asp-for="ApplicationSource" />

        <div class="govuk-body">
            
            <div condition="@Model.DisplayDateReceived">

                <h2 class="govuk-heading-m">When was the application received?</h2>
                
                <govuk-form-group asp-for="DateReceived">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="date-received-hint" id="@nameof(Model.DateReceived)">
                        <legend class="govuk-fieldset__legend">
                            <h3 class="govuk-fieldset__heading">
                                Application received date
                            </h3>
                        </legend>
                        <div class="govuk-hint" id="date-received-hint">
                            For example, 27 3 2026
                        </div>
                        <input type="hidden" asp-for="DateReceived"/>
                        <validation asp-for="DateReceived"></validation>
                        <validation asp-for="DateReceived.Day"></validation>
                        <validation asp-for="DateReceived.Month"></validation>
                        <validation asp-for="DateReceived.Year"></validation>
                        @Html.EditorFor(m => m.DateReceived)
                    </fieldset>
                </govuk-form-group>
            </div>
            
            <div condition="@Model.DisplayDateReceived">
                
                <h2 class="govuk-heading-m">How was the application received?</h2>
                
                <govuk-form-group asp-for="ApplicationSource">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend">
                            <h3 class="govuk-fieldset__heading">Application Source</h3>
                        </legend>
                        <validation asp-for="ApplicationSource"></validation>
                        <select condition-disabled="@(Model.IsForTenYearLicence is true)" class="govuk-select" asp-for="ApplicationSource" asp-items="Html.GetEnumSelectList<FellingLicenceApplicationSource>().Where(x => Model.IsForTenYearLicence is true || x.Value != ((int)FellingLicenceApplicationSource.WoodlandManagementPlan).ToString())"></select>
                    </fieldset>
                </govuk-form-group>
            </div>
            <br/>

            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Do not begin any felling operations before you have received your felling licence.
                    </p>
                    <p class="govuk-body">The current processing time for applications is 3 months.</p>
                </div>
            </div>
            
            <govuk-form-group asp-for="ProposedFellingStart">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="felling-start-hint" id="@nameof(Model.ProposedFellingStart)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading govuk-heading-m">Proposed start date</h2>
                    </legend>
                    <div class="govuk-hint" id="felling-start-hint">
                        For example, 27 3 2026
                    </div>
                    <input type="hidden" asp-for="ProposedFellingStart"/>
                    <validation asp-for="ProposedFellingStart"></validation>
                    <validation asp-for="ProposedFellingStart.Day"></validation>
                    <validation asp-for="ProposedFellingStart.Month"></validation>
                    <validation asp-for="ProposedFellingStart.Year"></validation>
                    @Html.EditorFor(m => m.ProposedFellingStart)
                </fieldset>
            </govuk-form-group>

            <govuk-form-group asp-for="ProposedFellingEnd">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="felling-end-hint" id="@nameof(Model.ProposedFellingEnd)">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading govuk-heading-m">Proposed completion date</h2>
                    </legend>
                    <div class="govuk-hint" id="felling-end-hint">
                        For example, 27 3 2026
                    </div>
                    <input type="hidden" asp-for="ProposedFellingEnd" />
                    <validation asp-for="ProposedFellingEnd"></validation>
                    <validation asp-for="ProposedFellingEnd.Day"></validation>
                    <validation asp-for="ProposedFellingEnd.Month"></validation>
                    <validation asp-for="ProposedFellingEnd.Year"></validation>
                    @Html.EditorFor(m => m.ProposedFellingEnd)
                </fieldset>
            </govuk-form-group>

            <div class="govuk-button-group">
                <button class="govuk-button" type="submit" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    @if (!Model.AllowEditing)
    {
        <script src="/js/disable-form-elements.js"></script>

        <script>

            $(function() {

                disableFormElements('#operations-form');
            });

        </script>
    }
}