@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.SelectedCompartmentsModel
@using Forestry.Flo.External.Web.Models.FellingLicenceApplication
@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.FellingLicenceApplications.Extensions

@{
    ViewData["Title"] = "Select compartments";
    string actionName;
    if (Model.StepComplete != null)
    {
        if (Model.ReturnToPlayback)
        {
            actionName = "FellingAndRestockingPlayback";
        }
        else
        {
            actionName = Model.ReturnToApplicationSummary ? "ApplicationSummary" : "ApplicationTaskList";
        }
    }
    else
    {
        actionName = "UpdateSelectWoodland";
    }

    ViewData.ManuallySetBackLink(Url.Action(actionName, "FellingLicenceApplication", new { applicationId = Model.ApplicationId }));
    ViewData.ShowBackLink();

    var selectedIds = Model.SelectedCompartmentIds?.ToHashSet() ?? new HashSet<Guid>();
    var propertyHasCompartments = ViewBag.Compartments.Count > 0;
    var allowedToAddCompartment = !Model.IsForRestockingCompartmentSelection
                                  || (Model.FellingOperationType.HasValue
                                      && Model.FellingOperationType.Value.SupportsAlternativeCompartmentRestocking());
}

<partial name="Partials/_ConfirmationMessageDisplay"/>
<partial name="Partials/_UserGuideDisplay"/>
<partial name="_ApplicationSummaryNotes" model="@ViewBag.ApplicationSummary"/>


<form asp-action="CreateFromApplication" asp-controller="Compartment"
      method="post"
      id="createCompartment">
    <input aria-hidden="True" type="hidden" asp-for="ApplicationId"/>
    <input aria-hidden="True" type="hidden" asp-for="PropertyProfileId"/>
    <input aria-hidden="True" type="hidden" asp-for="IsForRestockingCompartmentSelection"/>
    <input aria-hidden="True" type="hidden" asp-for="FellingCompartmentId"/>
    <input aria-hidden="True" type="hidden" asp-for="FellingCompartmentName"/>
    <input aria-hidden="True" type="hidden" asp-for="ProposedFellingDetailsId"/>
    <input aria-hidden="True" type="hidden" asp-for="FellingOperationType"/>
    <input aria-hidden="True" type="hidden" asp-for="WoodlandOwnerId"/>
</form>

<form id="select-compartments-form" method="post">
    <input aria-hidden="True" type="hidden" asp-for="ApplicationId"/>
    <input aria-hidden="True" type="hidden" asp-for="ReturnToApplicationSummary"/>
    <input aria-hidden="True" type="hidden" asp-for="IsForRestockingCompartmentSelection"/>
    <input aria-hidden="True" type="hidden" asp-for="FellingCompartmentId"/>
    <input aria-hidden="True" type="hidden" asp-for="FellingCompartmentName"/>
    <input aria-hidden="True" type="hidden" asp-for="ProposedFellingDetailsId"/>
    <input aria-hidden="True" type="hidden" asp-for="FellingOperationType"/>
    <input aria-hidden="True" type="hidden" asp-for="WoodlandOwnerId"/>


    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    @if (Model.IsForRestockingCompartmentSelection)
                    {
                        <h1 class="govuk-fieldset__heading">
                            Where do you want to restock for the @Model.FellingOperationType!.GetDisplayName() in @Model.FellingCompartmentName?
                        </h1>
                    }
                    else
                    {
                        <h1 class="govuk-fieldset__heading">
                            Select or create a felling compartment
                        </h1>
                    }
                </legend>
            </fieldset>
        </div>

    </div>

    <partial name="_ApplicationEditWarning.cshtml" model="@Model"/>


    <div class="govuk-grid-column-full">
        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                Woodland compartments
            </h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#list">
                        List
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#map">
                        Map
                    </a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="list">
                <div class="govuk-form-group">
                    @if (!propertyHasCompartments)
                    {
                        <button condition="allowedToAddCompartment" class="govuk-button govuk-button--secondary" data-module="govuk-button" form="createCompartment">
                            Add new compartment
                        </button>
                    }
                    else
                    {
                        @if (Model.DetailsList.Any(x => x.Status != ApplicationStepStatus.NotStarted))
                        {
                            <div class="govuk-hint" id="deselect-hint">
                                Deselecting a compartment and clicking Continue will remove any felling and restocking data you may have entered for that compartment
                            </div>
                        }

                        <input type="hidden" aria-hidden="True" asp-for="@Model.GIS"/>
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            @foreach (var compartment in ViewBag.Compartments)
                            {
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="SelectedCompartmentIds_@compartment.Id" name="SelectedCompartmentIds" type="checkbox" checked="@selectedIds.Contains(compartment.Id)" value="@compartment.Id">
                                    <label class="govuk-label govuk-checkboxes__label" for="SelectedCompartmentIds_@compartment.Id">
                                        @(compartment.DisplayName + (String.IsNullOrEmpty(compartment.GISData) ? " (No map set)" : ""))
                                    </label>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="map">
                <arcgis-map id="viewDiv" aria-label="Map of the selected compartment" style="height: 85vh !important;">
                    <arcgis-scale-bar slot="bottom-right" unit="dual"></arcgis-scale-bar>
                    <arcgis-zoom slot="top-right"></arcgis-zoom>
                    <arcgis-compass slot="top-right"></arcgis-compass>
                    <arcgis-expand slot="top-right">
                        <arcgis-basemap-gallery></arcgis-basemap-gallery>
                    </arcgis-expand>
                </arcgis-map>
            </div>
        </div>
        
        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button class="govuk-button" type="submit" data-module="govuk-button">
                    Continue
                </button>
                @if (propertyHasCompartments)
                {
                    <button condition="allowedToAddCompartment" class="govuk-button govuk-button--secondary" data-module="govuk-button" form="createCompartment">
                        Add new compartment
                    </button>
                }
            </div>
        </div>
    </div>
</form>

@section Css {
    <link rel="stylesheet" href="https://js.arcgis.com/4.34/esri/themes/light/main.css"/>

    <style>
        #viewDiv {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            padding: 0;
            margin: 0;
        }
    </style>
}

@section Scripts
{
    <script src="https://js.arcgis.com/calcite-components/3.3.3/calcite.esm.js" type="module"></script>
    <script src="https://js.arcgis.com/4.34/"></script>
    <script type="module" src="https://js.arcgis.com/4.34/map-components/"></script>
    <script>
        document.handleCheckboxClick= function (event){
            let elm = document.getElementById("GIS");
            if (!elm) {
                return;
            }

            if (typeof elm.value !== "string" || elm.value.trim().length === 0) {
                return;
            }

            let gis = JSON.parse(elm.value);

            gis.every(r => {
                if (r.Id === this.value) {
                    r.Selected = this.checked;
                    return false;
                }
                return true;
            });

            elm.value = JSON.stringify(gis);
        }
        var checks = document.querySelectorAll('input[name="SelectedCompartmentIds"]');
        checks.forEach(check =>{
            check.removeEventListener('click', document.handleCheckboxClick);
        });
    </script>

    <script>
        require(["../../js/mapping/maps/map-compartment-selection.js?v=" + Date.now()], function (MapCompartmentSelection) {
            var mapObj = new MapCompartmentSelection("viewDiv");
            var checks = document.querySelectorAll('input[name="SelectedCompartmentIds"]');
            checks.forEach(check => {
                check.addEventListener('click', document.handleCheckboxClick);
            });
        })
    </script>

    @if (!Model.AllowEditing)
    {
        <script src="/js/disable-form-elements.js"></script>

        <script>

            $(function() {

                disableFormElements('#select-compartments-form');
            });

        </script>
    }
}