@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.SelectFellingOperationTypesViewModel
@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.Common

@{
    ViewData["Title"] = "Select felling options";
    ViewData.ManuallySetBackLink(Model.ReturnToPlayback
        ? Url.Action("FellingAndRestockingPlayback", "FellingLicenceApplication", new { applicationId = Model.ApplicationId })
        : Url.Action("ApplicationSummary", "FellingLicenceApplication", new { applicationId = Model.ApplicationId }));
    ViewData.ShowBackLink();
}

<partial name="Partials/_ConfirmationMessageDisplay"/>
<partial name="Partials/_UserGuideDisplay"/>
<partial name="_ApplicationSummaryNotes" model="@ViewBag.ApplicationSummary"/>


<form id="select-operation-types" method="post">

    <input type="hidden" asp-for="ApplicationId"/>
    <input type="hidden" asp-for="FellingCompartmentId"/>

    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Select the felling options for @Model.CompartmentName
                    </h1>
                </legend>
            </fieldset>
        </div>

        <partial name="_ApplicationEditWarning.cshtml" model="@Model"/>

        <input type="hidden" asp-for="@Model.GIS"/>

    </div>

    <div class="govuk-grid-column-full">

        <a class="govuk-link govuk-heading-s collapsible" href="#">View map of @Model.CompartmentName</a>
        <br/>
        <div id="mapWrapper" style="display:none;" class="mapWrapper">
            <br/>
            <arcgis-map id="viewDiv" aria-label="Map of the selected compartment">
                <arcgis-scale-bar slot="bottom-right" unit="dual"></arcgis-scale-bar>
                <arcgis-zoom slot="top-right"></arcgis-zoom>
                <arcgis-compass slot="top-right"> </arcgis-compass>
                <arcgis-expand slot="top-right">
                    <arcgis-basemap-gallery></arcgis-basemap-gallery>
                </arcgis-expand>
            </arcgis-map>
            <br/>
        </div>

    </div>

    <div class="govuk-grid-column-two-thirds">

        <govuk-form-group asp-for="OperationTypes">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h2 class="govuk-fieldset__heading">
                        Select the operations you'd like to perform for this compartment.
                    </h2>
                </legend>
            
                <validation asp-for="OperationTypes"></validation>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsClearFellingSelected" id="OperationTypes" aria-describedby="clear-felling-hint">
                        <label class="govuk-label govuk-checkboxes__label" for="OperationTypes">
                            <b>@FellingOperationType.ClearFelling.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint" id="clear-felling-hint">
                            @FellingOperationType.ClearFelling.GetDescription()
                        </div>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsFellingOfCoppiceSelected" aria-describedby="coppice-hint">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsFellingOfCoppiceSelected">
                            <b>@FellingOperationType.FellingOfCoppice.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint" id="coppice-hint">
                            @FellingOperationType.FellingOfCoppice.GetDescription()
                        </div>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsFellingIndividualTreesSelected" aria-describedby="individual-hint">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsFellingIndividualTreesSelected">
                            <b>@FellingOperationType.FellingIndividualTrees.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint" id="individual-hint">
                            @FellingOperationType.FellingIndividualTrees.GetDescription()
                        </div>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsRegenerationFellingSelected" aria-describedby="regen-hint">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsRegenerationFellingSelected">
                            <b>@FellingOperationType.RegenerationFelling.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint" id="regen-hint">
                            @FellingOperationType.RegenerationFelling.GetDescription()
                        </div>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsThinningSelected" aria-describedby="thinning-hint">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsThinningSelected">
                            <b>@FellingOperationType.Thinning.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint" id="thinning-hint">
                            @FellingOperationType.Thinning.GetDescription()
                        </div>
                    </div>

                </div>
            </fieldset>
        </govuk-form-group>
        
        <div class="govuk-button-group">
            <button class="govuk-button" type="submit" data-module="govuk-button">
                Continue
            </button>
        </div>

    </div>
</form>


@section Css {
    <link rel="stylesheet" href="https://js.arcgis.com/4.34/esri/themes/light/main.css"/>

    <style>
        #viewDiv {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            padding: 0;
            margin: 0;
            height: 85vh !important;
        }
    </style>
}

@section Scripts{

    <script src="https://js.arcgis.com/calcite-components/3.3.3/calcite.esm.js" type="module"></script>
    <script src="https://js.arcgis.com/4.34/"></script>
    <script type="module" src="https://js.arcgis.com/4.34/map-components/"></script>
    <script>
        require(["../../js/mapping/maps/map-compartment-selection.js?v=" + Date.now()], function (MapCompartmentSelection) {
            var mapObj = new MapCompartmentSelection("viewDiv");
        })
    </script>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        
        coll[0].addEventListener("click", function () {
            var content = document.getElementsByClassName("mapWrapper");
            if (content[0].style.display === "block") {
                content[0].style.display = "none";
            } else {
                content[0].style.display = "block";
            }
        });
    </script>

    @if (!Model.AllowEditing)
    {
        <script src="/js/disable-form-elements.js"></script>

        <script>

            $(function () {

                disableFormElements('#select-operation-types');
            });

        </script>
    }
}