@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.SelectRestockingOptionsViewModel
@using Forestry.Flo.External.Web.Infrastructure
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.External.Web.Infrastructure.Display
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.Common

@{
    ViewData["Title"] = "Select restocking options";
    ViewData.ManuallySetBackLink(Model.ReturnToPlayback 
        ? Url.Action("FellingAndRestockingPlayback", "FellingLicenceApplication", new { applicationId = Model.ApplicationId })
        : Url.Action("ApplicationSummary", "FellingLicenceApplication", new { applicationId = Model.ApplicationId }));
    ViewData.ShowBackLink();
}

<div class="govuk-grid-column-full">

    <partial name="Partials/_ConfirmationMessageDisplay" />
    <partial name="Partials/_UserGuideDisplay" />
    <partial name="_ApplicationSummaryNotes" model="@ViewBag.ApplicationSummary" />
    <partial name="Partials/_PageErrors" />

    <form id="select-restocking-options" method="post">

        <input type="hidden" asp-for="ApplicationId" />
        <input type="hidden" asp-for="FellingCompartmentId" />
        <input type="hidden" asp-for="RestockingCompartmentId" />
        <input type="hidden" asp-for="ProposedFellingDetailsId" />
        <input type="hidden" asp-for="FellingOperationType" />
        <input type="hidden" asp-for="RestockingCompartmentName" />
        <input type="hidden" asp-for="RestockAlternativeArea" />

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Select the restocking options for @Model.RestockingCompartmentName
                    </h1>
                </legend>
            </fieldset>
        </div>

        <partial name="_ApplicationEditWarning.cshtml" model="@Model" />

        @if (Model.RestockAlternativeArea)
        {
            <p class="govuk-body">These are the permitted restocking options for <b>@Model.FellingOperationType.GetDisplayName()</b> in <b>@Model.FellingCompartmentName</b>.  Select all restocking options that apply to your plans for this new location.</p>
            <br />
        }
        else
        {
            <p class="govuk-body">These are the permitted restocking options for <b>@Model.FellingOperationType.GetDisplayName()</b>.  Select all restocking options that apply to your plans.</p>
            <br />
        }

        <input type="hidden" asp-for="@Model.GIS" />

        <a class="govuk-link govuk-heading-s collapsible">View map of @Model.RestockingCompartmentName</a>
        <br />
        <div id="mapWrapper" style="display:none;" class="mapWrapper">
            <br />
            <div id="viewDiv" aria-label="Map of the selected compartment"></div>
            <br />
        </div>

        <br />

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            @if (Model.RestockAlternativeArea)
            {
                if (Model.IsIndividualTreesInAlternativeAreaAllowed)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsIndividualTreesInAlternativeAreaSelected">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsIndividualTreesInAlternativeAreaSelected">
                            <b>@TypeOfProposal.PlantAnAlternativeAreaWithIndividualTrees.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint">
                            @TypeOfProposal.PlantAnAlternativeAreaWithIndividualTrees.GetDescription()
                        </div>
                    </div>
                }

                if (Model.IsPlantingInAlternativeAreaAllowed)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsPlantingInAlternativeAreaSelected">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsPlantingInAlternativeAreaSelected">
                            <b>@TypeOfProposal.PlantAnAlternativeArea.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint">
                            @TypeOfProposal.PlantAnAlternativeArea.GetDescription()
                        </div>
                    </div>
                }

                if (Model.IsNaturalColonisationAllowed)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsNaturalColonisationSelected">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsNaturalColonisationSelected">
                            <b>@TypeOfProposal.NaturalColonisation.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint">
                            @TypeOfProposal.NaturalColonisation.GetDescription()
                        </div>
                    </div>
                }
            }
            else
            {
                if (Model.IsCoppiceRegrowthAllowed)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsCoppiceRegrowthSelected">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsCoppiceRegrowthSelected">
                            <b>@TypeOfProposal.RestockWithCoppiceRegrowth.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint">
                            @TypeOfProposal.RestockWithCoppiceRegrowth.GetDescription()
                        </div>
                    </div>
                }

                if (Model.IsCreateOpenSpaceAllowed)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsCreateOpenSpaceSelected">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsCreateOpenSpaceSelected">
                            <b>@TypeOfProposal.CreateDesignedOpenGround.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint">
                            @TypeOfProposal.CreateDesignedOpenGround.GetDescription()
                        </div>
                    </div>
                }

                if (Model.IsIndividualTreesAllowed)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsIndividualTreesSelected">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsIndividualTreesSelected">
                            <b>@TypeOfProposal.RestockWithIndividualTrees.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint">
                            @TypeOfProposal.RestockWithIndividualTrees.GetDescription()
                        </div>
                    </div>
                }

                if (Model.IsNaturalRegenerationAllowed)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsNaturalRegenerationSelected">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsNaturalRegenerationSelected">
                            <b>@TypeOfProposal.RestockByNaturalRegeneration.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint">
                            @TypeOfProposal.RestockByNaturalRegeneration.GetDescription()
                        </div>
                    </div>
                }

                if (Model.IsReplantFelledAreaAllowed)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" type="checkbox" asp-for="@Model.IsReplantFelledAreaSelected">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="@Model.IsReplantFelledAreaSelected">
                            <b>@TypeOfProposal.ReplantTheFelledArea.GetDisplayName()</b>
                        </label>
                        <div class="govuk-hint govuk-checkboxes__hint">
                            @TypeOfProposal.ReplantTheFelledArea.GetDescription()
                        </div>
                    </div>
                }
            }

        </div>
        <br />
        <div class="govuk-button-group">
            <button class="govuk-button" type="submit" data-module="govuk-button">
                Continue
            </button>
        </div>
    </form>
</div>

@section Css {
    <link rel="stylesheet" href="@Url.AbsoluteContent("~/lib/arcgis_js_api/javascript/4.24/esri/themes/light/main.css")" />

    <style>
        #viewDiv {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            padding: 0;
            margin: 0;
            height: 85vh !important;
        }
    </style>
}

@section Scripts {

    <script src="@Url.AbsoluteContent("~/lib/arcgis_js_api/javascript/4.24/init.js")"></script>
    <script>
        require(["../../js/mapping/maps/map-compartment-selection.js?v=" + Date.now()], function (MapCompartmentSelection) {
            var mapObj = new MapCompartmentSelection("viewDiv");
        })
    </script>

    <script>
        var coll = document.getElementsByClassName("collapsible");

        coll[0].addEventListener("click", function () {
            var content = document.getElementsByClassName("mapWrapper");
            if (content[0].style.display === "block") {
                content[0].style.display = "none";
            } else {
                content[0].style.display = "block";
            }
        });
    </script>

    @if (!Model.AllowEditing)
    {
        <script src="/js/disable-form-elements.js"></script>

        <script>

            $(function () {

                disableFormElements('#select-restocking-options');
            });

        </script>
    }
}