@using Forestry.Flo.External.Web.Infrastructure
@model Forestry.Flo.External.Web.Models.FellingLicenceApplication.TenYearLicenceApplications.TenYearLicenceApplicationViewModel

@{
    ViewData["Title"] = "Is this application for a 10-year felling licence?";
    ViewData.ManuallySetBackLink(Url.Action(Model.ReturnToApplicationSummary ? "ApplicationSummary" : "ApplicationTaskList", "FellingLicenceApplication", new
    {
        applicationId = Model.ApplicationId
    }));
    ViewData.ShowBackLink();
}

<partial name="Partials/_ConfirmationMessageDisplay"/>
<partial name="Partials/_UserGuideDisplay"/>
<partial name="_ApplicationSummaryNotes" model="@ViewBag.ApplicationSummary" />

<partial name="_ApplicationEditWarning.cshtml" model="@Model"/>

<div class="govuk-grid-column-two-thirds">
    <form method="post">
        
        @Html.HiddenFor(x => x.ApplicationId)
        @Html.HiddenFor(x => x.ReturnToApplicationSummary)
        @Html.HiddenFor(x => x.FromDataImport)
        @Html.HiddenFor(x => x.FellingLicenceStatus)
        
        @if (!Model.AllowEditing)
        {
            @Html.HiddenFor(x => x.IsForTenYearLicence)
        }

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        @ViewData["Title"]
                    </h1>
                </legend>
                <div class="govuk-inset-text">
                    To apply for a 10-year licence, a Forestry Commission approved-in-principle woodland management plan is needed.
                </div>
                <validation asp-for="IsForTenYearLicence"></validation>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input condition-disabled="@(!Model.AllowEditing)" class="govuk-radios__input" type="radio" value="true" asp-for="IsForTenYearLicence" id="is-ten-years-yes" data-aria-controls="conditional-wmp">
                        <label class="govuk-label govuk-radios__label" for="is-ten-years-yes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-wmp">
                        <div class="govuk-form-group">
                            <label class="govuk-label" asp-for="WoodlandManagementPlanReference">
                                Enter the woodland management plan reference
                            </label>
                            <validation asp-for="WoodlandManagementPlanReference"></validation>
                            <input condition-disabled="@(!Model.AllowEditing)" class="govuk-input" asp-for="WoodlandManagementPlanReference">
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <input condition-disabled="@(!Model.AllowEditing)" class="govuk-radios__input" type="radio" value="false" asp-for="IsForTenYearLicence" id="is-ten-years-no">
                        <label class="govuk-label govuk-radios__label" for="is-ten-years-no">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button class="govuk-button" type="submit" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </div>
    </form>
</div>
