@model Forestry.Flo.External.Web.Models.FcUser.FcUserHomePageViewModel

@{
    ViewData["Title"] = "FC user dashboard";
}

<div class="govuk-grid-column-full">
    <partial name="Partials/_ConfirmationMessageDisplay" />
    <partial name="Partials/_PageErrors" />

    <h1 class="govuk-heading-xl">FC user dashboard</h1>
    
    <p class="govuk-body">View list of Woodland Owners and Agencies, grouped by whether managed by FC or not.</p>

    <a type="button" class="govuk-button govuk-button--secondary" asp-controller="FcUserCreateAgency" asp-action="AgentTypeSelection" data-module="govuk-button">
        Create a new managed agency
    </a>
    
    <a type="button" class="govuk-button govuk-button--secondary" asp-controller="FcUserCreateWoodlandOwner" asp-action="ContactDetails" asp-route-reset="@true" data-module="govuk-button">
        Create a new managed woodland owner
    </a>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <div class="govuk-!-padding-bottom-2"></div>

    <h2 class="govuk-heading-l">
        Woodland Owners
    </h2>
    
    <h3 class="govuk-heading-s">
        Managed By FC
    </h3>

    @if (Model.AllWoodlandOwnersManagedByFc.Any())
    {
        <table class="govuk-table" id="fc-managed-woodlandowners-list-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Organisation/Contact name</th>
                <th scope="col" class="govuk-table__header">Contact Email</th>
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Agent/Agency name</th>
                <th scope="col" class="govuk-table__header">Agent/Agency Contact</th>
                <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body" data-module="moj-sortable-table">
            @foreach (var fcManagedWoodlandOwner in Model.AllWoodlandOwnersManagedByFc)
            {
                <tr data-id="@fcManagedWoodlandOwner.Id" class="govuk-table__row">

                    @if (fcManagedWoodlandOwner.IsOrganisation)
                    {
                        <td class="govuk-table__cell" data-order="@fcManagedWoodlandOwner.OrganisationName">@fcManagedWoodlandOwner.OrganisationName</td>
                    }
                    else
                    {
                        <td class="govuk-table__cell" data-order="@fcManagedWoodlandOwner.ContactName">@fcManagedWoodlandOwner.ContactName</td>
                    }
                    <td class="govuk-table__cell" data-order="@fcManagedWoodlandOwner.ContactEmail">@fcManagedWoodlandOwner.ContactEmail</td>

                    <td class="govuk-table__cell" data-order="@fcManagedWoodlandOwner.AgencyContactName">@fcManagedWoodlandOwner.AgencyName</td>

                    <td class="govuk-table__cell" data-order="@fcManagedWoodlandOwner.AgencyContactName">@fcManagedWoodlandOwner.AgencyContactName</td>

                    <td class="govuk-table__cell">
                        <a class="govuk-link" asp-controller="Home" asp-action="WoodlandOwner" asp-route-WoodlandOwnerId="@fcManagedWoodlandOwner.Id">
                            View
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="govuk-body">None found</p>
    }
    
    <div class="govuk-!-padding-bottom-2"></div>


    <h3 class="govuk-heading-s">
        Not Managed
    </h3>

    @if (Model.AllExternalWoodlandOwners.Any())
    {
        <table class="govuk-table" id="external-woodlandowners-list-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Organisation/Contact Name</th>
                <th scope="col" class="govuk-table__header">Contact Email</th>
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Agent/Agency Name</th>
                <th scope="col" class="govuk-table__header">Agent/Agency Contact</th>
                <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body" data-module="moj-sortable-table">
            @foreach (var externalWoodlandOwners in Model.AllExternalWoodlandOwners)
            {
                <tr data-id="@externalWoodlandOwners.Id" class="govuk-table__row">

                    @if (externalWoodlandOwners.IsOrganisation)
                    {
                        <td class="govuk-table__cell" data-order="@externalWoodlandOwners.OrganisationName">@externalWoodlandOwners.OrganisationName</td>
                    }
                    else
                    {
                        <td class="govuk-table__cell" data-order="@externalWoodlandOwners.ContactName">@externalWoodlandOwners.ContactName</td>
                    }

                    <td class="govuk-table__cell" data-order="@externalWoodlandOwners.ContactEmail">@externalWoodlandOwners.ContactEmail</td>

                    <td class="govuk-table__cell" data-order="@externalWoodlandOwners.AgencyContactName">@externalWoodlandOwners.AgencyName</td>

                    <td class="govuk-table__cell" data-order="@externalWoodlandOwners.AgencyContactName">@externalWoodlandOwners.AgencyContactName</td>

                    <td class="govuk-table__cell">
                        <a class="govuk-link" asp-controller="Home" asp-action="WoodlandOwner" asp-route-WoodlandOwnerId="@externalWoodlandOwners.Id">
                            View
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="govuk-body">None found</p>
    }
    
    <div class="govuk-!-padding-bottom-2"></div>

    <h2 class="govuk-heading-l">
        Agencies
    </h2>
   
    <h3 class="govuk-heading-s">
        Managed
    </h3>

    @if (Model.AllAgenciesManagedByFc.Any())
    {
        <table class="govuk-table" id="fc-managed-agencies-list-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Contact/Organisation name</th>
                <th scope="col" class="govuk-table__header">Contact Email</th>
                <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body" data-module="moj-sortable-table">
            @foreach (var externalAgency in Model.AllAgenciesManagedByFc)
            {
                <tr data-id="@externalAgency.Id" class="govuk-table__row">

                    @if (!string.IsNullOrEmpty(externalAgency.OrganisationName))
                    {
                        <td class="govuk-table__cell" data-order="@externalAgency.OrganisationName">@externalAgency.OrganisationName</td>
                    }
                    else
                    {
                        <td class="govuk-table__cell" data-order="@externalAgency.ContactName">@externalAgency.ContactName</td>
                    }

                    <td class="govuk-table__cell" data-order="@externalAgency.ContactEmail">@externalAgency.ContactEmail</td>

                    <td class="govuk-table__cell">
                        <a class="govuk-link" asp-controller="Home" asp-action="AgentUser" asp-route-agencyId="@externalAgency.Id">
                            View
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="govuk-body">None found</p>
    }
    
    <div class="govuk-!-padding-bottom-2"></div>

    <h3 class="govuk-heading-s">
        Not Managed
    </h3>

    @if (Model.AllExternalAgencies.Any())
    {
        <table class="govuk-table" id="external-agencies-list-table" data-module="moj-sortable-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Contact/Organisation name</th>
                <th scope="col" class="govuk-table__header">Contact Email</th>
                <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body" data-module="moj-sortable-table">
            @foreach (var externalAgency in Model.AllExternalAgencies)
            {
                <tr data-id="@externalAgency.Id" class="govuk-table__row">

                    @if (!string.IsNullOrEmpty(externalAgency.OrganisationName))
                    {
                        <td class="govuk-table__cell" data-order="@externalAgency.OrganisationName">@externalAgency.OrganisationName</td>
                    }
                    else
                    {
                        <td class="govuk-table__cell" data-order="@externalAgency.ContactName">@externalAgency.ContactName</td>
                    }

                    <td class="govuk-table__cell" data-order="@externalAgency.ContactEmail">@externalAgency.ContactEmail</td>

                    <td class="govuk-table__cell">
                        <a class="govuk-link" asp-controller="Home" asp-action="AgentUser" asp-route-agencyId="@externalAgency.Id">
                            View
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p class="govuk-body">None found</p>
    }

    <a class="govuk-link" asp-controller="LegacyDocuments" asp-action="Index">
        View all legacy documents from FLOv1
    </a>
</div>
