@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.Services.Common
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.Notifications
@model Forestry.Flo.Internal.Web.Models.ExternalConsulteeInvite.ExternalConsulteeEmailDocumentsModel

@{
    ViewBag.Title = "External consultee email documents";
    var selectedIds = Model.SelectedDocumentIds.ToHashSet();
}

<div class="govuk-grid-column-full">
    <partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary"/>
    <h1 class="govuk-heading-xl">Attach supporting documents</h1>

    <partial name="Partials/_PageErrors"/>
    <form method="post" id="emailDocumentsForm">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="ApplicationId"/>
        <input type="hidden" asp-for="ReturnUrl"/>
        <fieldset class="govuk-fieldset">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consultee name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ConsulteeName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Email
                    </dd>
                </div>
            </dl>
            <div class="govuk-form-group">
                <table class="govuk-table" id="documentation-list-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Attach</th>
                        <th scope="col" class="govuk-table__header">Document</th>
                        <th scope="col" class="govuk-table__header">Purpose</th>
                        <th scope="col" class="govuk-table__header">Upload Date</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    @foreach (var document in Model.SupportingDocuments)
                    {
                        <tr class="govuk-table__row" data-id="@document.Id">
                            <td class="govuk-table__cell">
                                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                    <input class="govuk-checkboxes__input" name="SelectedDocumentIds" type="checkbox" checked="@selectedIds.Contains(document.Id)" value="@document.Id">
                                    <label class="govuk-label govuk-checkboxes__label" asp-for="SelectedDocumentIds">
                                        <span class="govuk-visually-hidden">Select @document.FileName</span>
                                    </label>
                                </div>
                            </td>
                            <td class="govuk-table__cell">@document.FileName</td>
                            <td class="govuk-table__cell">@document.Purpose.GetDisplayName()</td>
                            <td class="govuk-table__cell">@DateTimeDisplay.GetDateTimeDisplayString(document.CreatedTimestamp)</td>
                            <td class="govuk-table__cell">
                                <input type="button" class="govuk-button" style="margin-bottom: 0" data-id="@document.Id" data-module="govuk-button" name="view-supporting-document" value="Review attachment"/>
                            </td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
            <div class="govuk-form-group">
                <div class="govuk-hint">
                    Please select no more than @NotificationConstants.MaxAttachments files to attach.
                </div>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">

                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a class="govuk-link" asp-controller="ExternalConsulteeInvite" asp-action="EmailText" asp-route-id="@Model.Id" asp-route-applicationId="@Model.ApplicationId" asp-route-returnUrl="@Model.ReturnUrl" title="Abandon changes and go to the consultee email text page">Cancel</a>

                </div>
            </div>
        </fieldset>
    </form>
    <form method="post" asp-controller="SupportingDocuments" asp-action="GetDocument" id="documentListForm">
        <input type="hidden" name="documentIdentifier"/>
        <input type="hidden" name="id" id="id" value="@Model.ApplicationId"/>
    </form>
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}

@section Scripts
{
    <script src="~/js/supporting-documentation.js" asp-append-version="true"></script>
}