@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Forestry.Flo.Internal.Web.Models.ExternalConsulteeInvite.ExternalConsulteeEmailTextModel

@{
    ViewBag.Title = "Review external consultee email text";
}

<div class="govuk-grid-column-full">
    <partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary"/>
    <h1 class="govuk-heading-xl">Check and edit the email invitation</h1>
    <p class="govuk-body">Add someone you need to consult as part of this application.</p>

    <partial name="Partials/_PageErrors"/>
    <form method="post">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="ApplicationId"/>
        <input type="hidden" asp-for="ReturnUrl"/>
        <input type="hidden" asp-for="Email"/>
        <input type="hidden" asp-for="ConsulteeName"/>
        <input type="hidden" asp-for="ApplicationDocumentsCount"/>
        <fieldset class="govuk-fieldset">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consultee name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ConsulteeName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Email
                    </dd>
                </div>
            </dl>
            <div class="govuk-form-group">
                <label class="govuk-label" asp-for="ConsulteeEmailText">
                    Email message
                </label>
                <div id="email-text-hint" class="govuk-hint">
                    This message will be sent to the consultee. You can edit it if needed.
                </div>
                <validation asp-for="ConsulteeEmailText"></validation>
                <textarea class="govuk-textarea" maxlength="600" asp-for="ConsulteeEmailText" rows="6" aria-describedby="email-text-hint"></textarea>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">

                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a class="govuk-link" asp-controller="ExternalConsulteeInvite" asp-action="Index" asp-route-id="@Model.Id" asp-route-applicationId="@Model.ApplicationId" asp-route-returnUrl="@Model.ReturnUrl" title="Abandon changes and go to the external consultee invite page">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}