@using Forestry.Flo.Services.Common
@model Forestry.Flo.Internal.Web.Models.ExternalConsulteeInvite.ReceivedConsulteeCommentsViewModel

@{
    ViewData["Title"] = "Consultee comments received";
}

<div class="govuk-grid-column-two-thirds">
    <partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary"/>
    <h1 class="govuk-heading-l">@ViewData["Title"] via link sent to @Model.ConsulteeName</h1>

    @foreach (var comment in Model.ReceivedComments)
    {
        <div class="govuk-body govuk-!-padding-bottom-5">
            <h2 class="govuk-heading-m">@comment.AuthorName on @DateTimeDisplay.GetDateDisplayString(comment.CreatedTimestamp)</h2>
            <p>@comment.Comment</p>
            @if (comment.Attachments.Any())
            {
                <div>
                    <h3 class="govuk-heading-s">Attachments</h3>
                    <ul class="govuk-list--bullet">
                        @foreach (var attachment in comment.Attachments)
                        {
                            <li>
                                <a class="govuk-link" asp-controller="SupportingDocuments" asp-action="GetDocument" asp-route-id="@Model.ApplicationId" asp-route-documentIdentifier="@attachment.Key">
                                    @attachment.Value
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
    
    <div>
        <a asp-action="Index" asp-route-id="@Model.ApplicationId" class="govuk-link">Back to consultation task</a>
    </div>

</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}