@using Forestry.Flo.Internal.Web.Models.ExternalConsulteeInvite
@using Forestry.Flo.Services.Common
@using Forestry.Flo.Services.Common.Extensions
@model Forestry.Flo.Internal.Web.Models.ExternalConsulteeInvite.ExternalConsulteeInviteFormModel

@{
    ViewData["Title"] = "Add a new consultee";
}

<partial name="Partials/_FellingLicenceApplicationSummary" model="Model.FellingLicenceApplicationSummary"/>

<div class="govuk-grid-column-two-thirds width-limit-override">
    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    <form method="post">
        <input type="hidden" asp-for="ApplicationId"/>
        <input type="hidden" asp-for="PublicRegisterAlreadyCompleted" />
        
        @for (int i = 0; i < Model.SelectedDocumentIds.Count; i++)
        {
            <input id="selected-document-@i" type="hidden" asp-for="SelectedDocumentIds[i]" />
        }
        
        <govuk-form-group asp-for="ConsulteeName">
            <label class="govuk-label" asp-for="ConsulteeName"></label>
            <validation asp-for="ConsulteeName"></validation>
            <input class="govuk-input govuk-input--width-20" type="text" asp-for="ConsulteeName">
        </govuk-form-group>
        
        <govuk-form-group asp-for="Email">
            <label class="govuk-label" asp-for="Email"></label>
            <validation asp-for="Email"></validation>
            <input class="govuk-input govuk-input--width-20" type="text" asp-for="Email">
        </govuk-form-group>
        
        <govuk-form-group asp-for="Purpose">
            <label class="govuk-label" asp-for="Purpose"></label>
            <validation asp-for="Purpose"></validation>
            <div class="govuk-radios" data-module="govuk-radios">
                @foreach (ExternalConsulteeInvitePurpose value in Enum.GetValues(typeof(ExternalConsulteeInvitePurpose)))
                {
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" asp-for="Purpose" type="radio" value="@value" aria-describedby="@value-hint" id="purpose-@value.ToString()">
                        <label class="govuk-label govuk-radios__label" for="purpose-@value.ToString()">
                            @value.GetDisplayName()
                        </label>
                        <div id="@value-hint" class="govuk-hint govuk-radios__hint">
                            @value.GetDescription()
                        </div>
                    </div>
                }
            </div>
        </govuk-form-group>
        
        <govuk-form-group asp-for="AreaOfFocus">
            <label class="govuk-label" asp-for="AreaOfFocus"></label>
            <validation asp-for="AreaOfFocus"></validation>
            <div id="focus-hint" class="govuk-hint">
                Explain what you want the consultee to focus on
            </div>
            <textarea class="govuk-textarea" rows="4" aria-describedby="focus-hint" asp-for="AreaOfFocus"></textarea>
        </govuk-form-group>
        
        <div class="govuk-form-group">
            <h2 class="govuk-heading-m">Documents for the consultee</h2>
            <p class="govuk-body">
                These documents will not be attached to the email. They will be shown on the
                consultee application page where they can review and leave comments.
            </p>
            @if (Model.ConsulteeDocuments == null || Model.ConsulteeDocuments!.NotAny())
            {
                <p class="govuk-body">No supporting documents for this application are available to share with consultees</p>
            }
            else
            {
                <table class="govuk-table" id="documents-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Document</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var document in Model.ConsulteeDocuments!.Where(x => Model.SelectedDocumentIds.Any(y => y == x.Id)))
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__cell">@document.FileName</th>
                                <td class="govuk-table__cell">
                                    <a id="remove-@document.Id" class="govuk-link" href="#remove-@document.Id" data-id="@document.Id">Remove<span class="govuk-visually-hidden">&nbsp;@document.FileName</span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
        
        <govuk-form-group asp-for="ExemptFromConsultationPublicRegister">
            <label class="govuk-label" asp-for="ExemptFromConsultationPublicRegister"></label>
            <validation asp-for="ExemptFromConsultationPublicRegister"></validation>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" asp-for="ExemptFromConsultationPublicRegister" type="radio" value="true" id="exempt-yes">
                    <label class="govuk-label govuk-radios__label" for="exempt-yes">
                        Yes
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" asp-for="ExemptFromConsultationPublicRegister" type="radio" value="false" id="exempt-no">
                    <label class="govuk-label govuk-radios__label" for="exempt-no">
                        No
                    </label>
                </div>
            </div>
        </govuk-form-group>

        <div class="govuk-form-group">
            <div class="govuk-button-group">
                
                <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                    Send invitation
                </button>
                <a class="govuk-link" asp-controller="ExternalConsulteeInvite" asp-action="Index" asp-route-Id="@Model.ApplicationId" title="Abandon changes and go to the previous page">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/js/invite-consultee.js" asp-append-version="true"></script>
}
@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="Model.Breadcrumbs"/>
}