@model Forestry.Flo.Internal.Web.Models.ExternalConsulteeInvite.ExternalConsulteeReInviteModel

@{
    ViewBag.Title = "Send another external party invite email";
}

<div class="govuk-grid-column-full">
    <partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary"/>
    <h1 class="govuk-heading-xl">Send another external party invite email to be consulted on the application</h1>
    
    <partial name="Partials/_PageErrors"/>
    <form method="post">
        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="ApplicationId"/>
        <input type="hidden" asp-for="ReturnUrl"/>
        <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend">
                    An invitation email has already been sent to the provided email address. Select Continue to send another invitation email again.
                </legend>
            </div>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Consultee name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ConsulteeName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Purpose
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Purpose
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Email
                    </dd>
                </div>
            </dl>
            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                    <a class="govuk-link" href="@Model.ReturnUrl" title="Abandon changes and go to the home page">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}