@using Forestry.Flo.Services.Common
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@using Forestry.Flo.Services.FellingLicenceApplications.Models.ExternalConsultee
@using Forestry.Flo.Services.FileStorage.Configuration
@using Forestry.Flo.Services.FileStorage.Services
@using Microsoft.Extensions.Options
@inject IOptions<UserFileUploadOptions> Settings
@inject FileTypesProvider FileTypesProvider
@model Forestry.Flo.Internal.Web.Models.ExternalConsulteeReview.AddConsulteeCommentModel

@{
    var allowedTypes = (Settings?.Value ?? new UserFileUploadOptions()).AllowedFileTypes
        .Where(x => x.FileUploadReasons.Contains(FileUploadReason.SupportingDocument));
    var allowedExtensions = allowedTypes.SelectMany(x => x.Extensions).ToArray();
    var maxFileSize = (Settings?.Value ?? new UserFileUploadOptions()).MaxFileSizeBytes;
    var maxNumberDocs = (Settings?.Value ?? new UserFileUploadOptions()).MaxNumberDocuments;
    var currentNumberDocs = 0;
}

<div id="external-consultee-comment">
    <form method="post" enctype="multipart/form-data" asp-action="Index" asp-controller="ExternalConsulteeReview">

        <input asp-for="ApplicationId"/>
        <input asp-for="AccessCode"/>
        <input asp-for="AuthorContactEmail"/>
        <input asp-for="LinkExpiryDateTime"/>
        
        <input id="allowed-extensions" aria-hidden="true" class="govuk-visually-hidden" type="hidden" value="@string.Join(", ", allowedExtensions)" />
        <input id="allowed-max-size" aria-hidden="true" class="govuk-visually-hidden" type="hidden" value="@maxFileSize" />
        <input id="allowed-max-size-description" aria-hidden="true" class="govuk-visually-hidden" type="hidden" value="@FileSizeToStringConverter.SizeSuffix(maxFileSize)" />
        <input id="allowed-number-documents" aria-hidden="true" class="govuk-visually-hidden" type="hidden" value="@maxNumberDocs" />
        <input id="current-number-documents" aria-hidden="true" class="govuk-visually-hidden" type="hidden" value="@currentNumberDocs" />

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend>
                    <h1 class="govuk-heading-m">Leave a comment (optional)</h1>
                </legend>

                <div class="govuk-hint">
                    Tell us anything you'd like us to consider. Do not include personal or sensitive information.
                </div>

                <govuk-form-group asp-for="AuthorName">
                    <label class="govuk-label" asp-for="AuthorName"></label>
                    <validation asp-for="AuthorName"/>
                    <input class="govuk-input" asp-for="AuthorName"/>
                </govuk-form-group>

                <govuk-form-group asp-for="Comment">
                    <label class="govuk-label" asp-for="Comment"></label>
                    <validation asp-for="Comment"/>
                    <textarea id="Comment" class="govuk-textarea govuk-js-character-count" rows="4" asp-for="Comment"></textarea>
                    <div class="govuk-hint govuk-character-count__message">
                        You can enter up to @DataValueConstants.ConsulteeCommentMaxLength characters
                    </div>
                </govuk-form-group>

                <div class="govuk-form-group" id="file-select-group">
                    <label for="supporting-documentation-files" class="govuk-label">Upload a file</label>
                    <p id="supporting-documentation-files-error" class="govuk-error-message govuk-visually-hidden" aria-hidden="true">
                        <span class="govuk-visually-hidden">Error:</span><span id="file-upload-error-text"></span>
                    </p>
                    <input type="file" multiple class="custom-file-input govuk-file-upload" id="supporting-documentation-files" name="consulteeAttachmentFiles" runat="server"/>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <div class="govuk-button-group">
                            <button id="save-case-note-btn" class="govuk-button save-button-padding" data-module="govuk-button" type="submit">Save feedback</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>