@using Forestry.Flo.Internal.Web.Controllers.FellingLicenceApplication
@model BreadcrumbsModel

<div class="govuk-breadcrumbs no-print">
    <ol class="govuk-breadcrumbs__list">
        @foreach (var breadCrumb in Model.Breadcrumbs)
        {
            <li class="govuk-breadcrumbs__list-item">
                @if (string.IsNullOrWhiteSpace(breadCrumb.RouteId))
                {
                    <a class="govuk-breadcrumbs__link" asp-controller="@breadCrumb.Controller" asp-action="@breadCrumb.Action">@breadCrumb.Text</a>
                }
                else
                {
                    if (@breadCrumb.Controller == nameof(FellingLicenceApplicationController))
                    {
                        <a class="govuk-breadcrumbs__link" asp-controller="@breadCrumb.Controller" asp-action="@breadCrumb.Action" asp-route-applicationId="@breadCrumb.RouteId">@breadCrumb.Text</a>
                    }
                    else
                    {
                        <a class="govuk-breadcrumbs__link" asp-controller="@breadCrumb.Controller" asp-action="@breadCrumb.Action" asp-route-id="@breadCrumb.RouteId">@breadCrumb.Text</a>    
                    }
                }
            </li>
        }
    </ol>
</div>