@using Forestry.Flo.Internal.Web.Models.FellingLicenceApplication
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Forestry.Flo.Internal.Web.Models.FellingLicenceApplication.FellingLicenceApplicationReviewSummaryModel

@{
    var activityFeed = new ActivityFeedModel
    {
        ApplicationId = Model.Id,
        ShowFilters = true,
        ActivityFeedItemModels = Model.ActivityFeedItems,
        HostingPage = Url.Action("ApplicationSummary", "FellingLicenceApplication", new { id = Model.Id })!,
        NewCaseNoteType = CaseNoteType.CaseNote,
        ShowAddCaseNote = @Model.IsEditable
    };

}

<div id = "felling-restocking-summary">
    <div class="govuk-body">

        <h1>Application information</h1>
        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                Contents
            </h2>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#activity-feed-tab">
                        Activity
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#felling-details-tab">
                        Felling and restocking
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#operations-tab">
                        Proposed felling schedule
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#woodland-owner-details-tab">
                        Contacts
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#supporting-documents-tab">
                        Documents (@Model.Documents.Count())
                    </a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="activity-feed-tab">
                <partial name="Partials/_ActivityFeed" model="@activityFeed" />
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="felling-details-tab">
                <partial name="Partials/_FellingDetails" model="@Model.FellingAndRestockingDetail" />
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="operations-tab">
                <partial name="Partials/_OperationDetails" model="@Model.OperationDetailsModel" />
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="woodland-owner-details-tab">
                <partial name="Partials/_WoodlandOwnerDetails" model="@Model.ApplicationOwner" />
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="supporting-documents-tab">
                <partial name="Partials/_SupportingDocumentation" model ="@Model" />
            </div>
        </div>
    </div>
</div>
