@{
	ViewData["Title"] = "Larch flyover update";
    const string flyoverDateId = "flyover-date";
}
@model Forestry.Flo.Internal.Web.Models.FellingLicenceApplication.LarchFlyoverModel
<style>
	.no-border-left {
		border-left: none;
		padding-left: 0;
		margin-left: 0;
	}

	.no-margin-bottom {
		padding-bottom: 0;
		margin-bottom: 0;
	}
</style>

<div class="govuk-grid-column-two-thirds">

	<partial name="Partials/_ConfirmationMessageDisplay" />

	<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

	<partial name="Partials/_PageErrors" />

	<form id="admin-officer-review" method="post">
		<input type="hidden" asp-for="SubmissionDate" />

		<div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group">
                <legend class="govuk-label--m" for="@flyoverDateId">Flight date</legend>
                <div class="govuk-hint">
                    For example, 24 6 2022
                </div>
                <validation asp-for="FlyoverDate.Day"></validation>
                <validation asp-for="FlyoverDate.Month"></validation>
                <validation asp-for="FlyoverDate.Year"></validation>
                <validation asp-for="FlyoverDate"></validation>
				@Html.EditorFor(m => m.FlyoverDate, new { htmlAttributes = new { id = flyoverDateId } })
            </fieldset>
		</div>

		<div class="govuk-form-group">
			<label class="govuk-label--m" for="flight-observations">
				Flight observations
			</label>
			<validation asp-for="FlightObservations"></validation>
			<input class="govuk-input" id="flight-observations" asp-for="FlightObservations" type="text">
		</div>

        @Html.EditorFor(m => m.FormLevelCaseNote)

		<div class="govuk-button-group">
			<button condition="@(!Model.Disabled)" type="submit" class="govuk-button" data-module="govuk-button">
				Continue
			</button>

			<a class="govuk-button govuk-button--secondary" asp-action="Index" asp-route-id="@Model.ApplicationId"
			   title="Back to review">Back</a>

		</div>
		<input asp-for="ApplicationId" />
	</form>
</div>
