@using Forestry.Flo.Services.Common.User
@using Forestry.Flo.Services.Common.Extensions
@model Forestry.Flo.Internal.Web.Models.UserAccount.UserRegistrationDetailsModel

<fieldset class="govuk-fieldset">
    <div class="govuk-form-group">
        <validation asp-for="FirstName"></validation>
        <label asp-for="FirstName" class="@GdsConstants.GdsLabelCssClass"></label>
        <input class="@GdsConstants.GdsInputCssClass" asp-for="FirstName" />
    </div>
    <div class="govuk-form-group">
        <validation asp-for="LastName"></validation>
        <label asp-for="LastName" class="@GdsConstants.GdsLabelCssClass"></label>
        <input class="@GdsConstants.GdsInputCssClass" asp-for="LastName" />
    </div>
    <div class="govuk-form-group">
        <validation asp-for="RequestedAccountType"></validation>
        <label asp-for="RequestedAccountType" class="@GdsConstants.GdsLabelCssClass"></label>
        <select condition-disabled="!Model.AllowRoleChange" class="@GdsConstants.GdsInputCssClass govuk-input--width-20" asp-for="RequestedAccountType" asp-items="@(Html.GetEnumSelectList<AccountTypeInternal>().Where(x => Model.DisallowedRoles.NotAny(y => y.GetDisplayName() == x.Text)))">
            <option value="None" selected>Select ...</option>
        </select>
    </div>
    <div class="govuk-form-group" id="account-type-other-group">
        <validation asp-for="RequestedAccountTypeOther"></validation>
        <label asp-for="RequestedAccountTypeOther" class="@GdsConstants.GdsLabelCssClass"></label>
        <select condition-disabled="!Model.AllowRoleChange" class="@GdsConstants.GdsInputCssClass" asp-for="RequestedAccountTypeOther" asp-items="@(Html.GetEnumSelectList<AccountTypeInternalOther>())">
        </select>
    </div>
    <div condition="@Model.AllowSetCanApproveApplications" class="govuk-form-group" id="can-approve-applications-group">
        <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" type="checkbox" asp-for="CanApproveApplications"/>
            <label asp-for="CanApproveApplications" class="govuk-label govuk-checkboxes__label"></label>
        </div>
    </div>
</fieldset>