@model Forestry.Flo.Internal.Web.Models.FellingLicenceApplication.ApplicationOwnerModel
<div id = "application-summary">
    <h2 class="govuk-heading-m">Contact information</h2>
    <table class="govuk-table" id="application-list-table">
        <tbody class="govuk-table__body">

            @if (Model.Agency is not null)
            {
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Managed by agency</th>
                    <td class="govuk-table__cell">@Model.Agency.OrganisationName</td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Agency contact name</th>
                    <td class="govuk-table__cell">@Model.Agency.ContactName</td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Agency contact email</th>
                    <td class="govuk-table__cell">@Model.Agency.ContactEmail</td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Agency address</th>
                    <td class="govuk-table__cell">
                        @if (!string.IsNullOrWhiteSpace(Model.Agency.Address?.Line1))
                        {
                            @Model.Agency.Address?.Line1 <br />
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Agency.Address?.Line2))
                        {
                            @Model.Agency.Address?.Line2 <br />
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Agency.Address?.Line3))
                        {
                            @Model.Agency.Address?.Line3 <br />
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Agency.Address?.Line4))
                        {
                            @Model.Agency.Address?.Line4 <br />
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Agency.Address?.PostalCode))
                        {
                            @Model.Agency.Address?.PostalCode <br />
                        }
                    </td>
                </tr>

                <tr>
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Agent authority form</th>
                    <td class="govuk-table__cell">
                        <partial name="Partials/_ApplicationAgentAuthorityForm" model="@Model.AgentAuthorityForm" />
                    </td>
                </tr>
            }

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Woodland owner name</th>
                <td class="govuk-table__cell">@Model.WoodlandOwner.ContactName</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Woodland owner email</th>
                <td class="govuk-table__cell">@Model.WoodlandOwner.ContactEmail</td>
            </tr>

            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Woodland owner Address</th>
                <td class="govuk-table__cell">
                    @if (!string.IsNullOrWhiteSpace(Model.WoodlandOwner.ContactAddress?.Line1))
                    {
                        @Model.WoodlandOwner.ContactAddress?.Line1 <br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.WoodlandOwner.ContactAddress?.Line2))
                    {
                        @Model.WoodlandOwner.ContactAddress?.Line2 <br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.WoodlandOwner.ContactAddress?.Line3))
                    {
                        @Model.WoodlandOwner.ContactAddress?.Line3 <br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.WoodlandOwner.ContactAddress?.Line4))
                    {
                        @Model.WoodlandOwner.ContactAddress?.Line4 <br />
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.WoodlandOwner.ContactAddress?.PostalCode))
                    {
                        @Model.WoodlandOwner.ContactAddress?.PostalCode <br />
                    }
                </td>
            </tr>
            
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-one-third">Woodland owner telephone</th>
                <td class="govuk-table__cell">@Model.WoodlandOwner.ContactTelephone</td>
            </tr>

            @if (Model.WoodlandOwner.IsOrganisation)
            {

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Organisation name</th>
                    <td class="govuk-table__cell">@Model.WoodlandOwner.OrganisationName</td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">Organisation address</th>
                    <td class="govuk-table__cell">
                        @if (!string.IsNullOrWhiteSpace(Model.WoodlandOwner.OrganisationAddress?.Line1))
                        {
                            @Model.WoodlandOwner.OrganisationAddress?.Line1 <br />
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.WoodlandOwner.OrganisationAddress?.Line2))
                        {
                            @Model.WoodlandOwner.OrganisationAddress?.Line2 <br />
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.WoodlandOwner.OrganisationAddress?.Line3))
                        {
                            @Model.WoodlandOwner.OrganisationAddress?.Line3 <br />
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.WoodlandOwner.OrganisationAddress?.Line4))
                        {
                            @Model.WoodlandOwner.OrganisationAddress?.Line4 <br />
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.WoodlandOwner.OrganisationAddress?.PostalCode))
                        {
                            @Model.WoodlandOwner.OrganisationAddress?.PostalCode <br />
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
