@{
    ViewData["Title"] = "Felling licence application data report";
}
@using Forestry.Flo.Internal.Web.Models.Reports
@using Forestry.Flo.Services.Common
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.FellingLicenceApplications.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model Forestry.Flo.Internal.Web.Models.Reports.ReportRequestViewModel

<div class="govuk-grid-column-full">


<h1 class="govuk-heading-l">@ViewData["Title"]</h1>
<partial name="Partials/_ConfirmationMessageDisplay"/>
<partial name="Partials/_UserGuideDisplay"/>
<partial name="Partials/_PageErrors"/>

<form id="search-criteria" method="post" asp-action="SubmitFellingLicenceApplicationsDataReport" asp-controller="Reports">

<div class="moj-filter-layout">
<div class="moj-filter-layout__filter">
<div class="moj-filter">
<div class="moj-filter__header">
    <div class="moj-filter__header-title">
        <h2 class="govuk-heading-s">Filters</h2>
    </div>
</div>
<div class="moj-filter__content">

<div class="moj-filter__selected">
    <div class="moj-filter__selected-heading">
        <div class="moj-filter__heading-title">
            <h2 class="govuk-heading-m">Selected filters</h2>
        </div>
    </div>
    <div id="confirmed-felling-type-filters">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Confirmed felling operation<br/>
            <span class="moj-badge moj-badge--green no-filter-applied">(all)</span>
        </h3>
        <ul class="moj-filter-tags">
            @foreach (var fellingOperationType in Model.SelectedConfirmedFellingOperationTypes)
            {
                <li data-key="@fellingOperationType" data-name="@fellingOperationType.GetDisplayName()" data-filtercategory="confirmed-felling-type-filters">
                    <a class="moj-filter__tag" href="#">
                        @fellingOperationType.GetDisplayName()<span class="govuk-visually-hidden">Remove this filter</span>
                    </a>
                </li>
            }
        </ul>
    </div>
    <p></p>
    <div id="confirmed-felling-tree-species-filters">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            Confirmed felling species<br/>
            <span class="moj-badge moj-badge--green no-filter-applied">(all)</span>
        </h3>
        <ul class="moj-filter-tags">
            @foreach (var modelSelectedConfirmedFellingSpecies in Model.SelectedConfirmedFellingSpecies)
            {
                <li data-key="@modelSelectedConfirmedFellingSpecies.Key" data-name="@modelSelectedConfirmedFellingSpecies.Name" data-filtercategory="confirmed-felling-tree-species-filters">
                    <a class="moj-filter__tag" href="#">
                        @modelSelectedConfirmedFellingSpecies.Name<span class="govuk-visually-hidden">Remove this filter</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="moj-filter__options">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <label asp-for="DateRangeType">
                                    Date type
                                </label>
                            </legend>
                            <div class="govuk-form-group">
                                <select asp-for="DateRangeType" class="govuk-select" asp-items="@Html.GetEnumSelectList<DateRangeTypeForReporting>()"></select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                Date range
                            </legend>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" role="group">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                                        <h2 class="govuk-fieldset__heading">
                                            From
                                        </h2>
                                    </legend>
                                    <div class="govuk-date-input" id="search-date-from">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" asp-for="FromDay"></label>
                                                <input asp-for="FromDay" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" asp-for="FromMonth"></label>
                                                <input asp-for="FromMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" asp-for="FromYear"></label>
                                                <input asp-for="FromYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" role="group">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                                        <h2 class="govuk-fieldset__heading">
                                            To
                                        </h2>
                                    </legend>
                                    <div class="govuk-date-input" id="search-date-to">
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" asp-for="ToDay"></label>
                                                <input asp-for="ToDay" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" asp-for="ToMonth"></label>
                                                <input asp-for="ToMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                        <div class="govuk-date-input__item">
                                            <div class="govuk-form-group">
                                                <label class="govuk-label govuk-date-input__label" asp-for="ToYear"></label>
                                                <input asp-for="ToYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" inputmode="numeric">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <label for="CurrentStatus">
                                    Current status
                                </label>
                            </legend>
                            <div class="govuk-form-group">
                                <select class="govuk-select" id="CurrentStatus" name="CurrentStatus">
                                    <option value="">Any</option>
                                    @foreach (FellingLicenceApplicationStatusesForReporting state in Enum.GetValues(typeof(FellingLicenceApplicationStatusesForReporting)))
                                    {
                                        var isSelected = Model.CurrentStatus.HasValue && Model.CurrentStatus == state;
                                        <option value="@state" selected="@isSelected">@state.GetDisplayName()</option>
                                    }
                                </select>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                Admin hub assigned
                            </legend>
                            @foreach (var adminHub in Model!.AdminHubs)
                            {
                                var id = $"admin-hub-check-{adminHub.Id}";

                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input id="@id" class="govuk-checkboxes__input" type="checkbox" name="SelectedAdminHubIds" value="@adminHub.Id"
                                               @(Model != null && Model.AdminHubs != null && Model.SelectedAdminHubIds.Contains(adminHub.Id) ? "checked" : "")>
                                        <label for="@id" class="govuk-label govuk-checkboxes__label">@adminHub.Name</label>
                                    </div>
                                </div>
                            }
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <label for="SelectedAdminOfficerId">
                                    Operations admin officer assigned
                                </label>
                            </legend>
                            <div class="govuk-form-group">
                                <select class="govuk-select" id="SelectedAdminOfficerId" name="SelectedAdminOfficerId">
                                    <option value="">Any</option>
                                    @foreach (var user in Model.ConfirmedFcUsers)
                                    {
                                        var isSelected = Model.SelectedAdminOfficerId.HasValue && Model.SelectedAdminOfficerId == user.Id;
                                        <option value="@user.Id" selected="@isSelected">@user.FullName (@user.Email)</option>
                                    }
                                </select>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <label for="SelectedWoodlandOfficerId">
                                    Woodland officer assigned
                                </label>
                            </legend>
                            <div class="govuk-form-group">
                                <select class="govuk-select" id="SelectedWoodlandOfficerId" name="SelectedWoodlandOfficerId">
                                    <option value="">Any</option>
                                    @foreach (var user in Model.ConfirmedFcUsers)
                                    {
                                        var isSelected = Model.SelectedWoodlandOfficerId.HasValue && Model.SelectedWoodlandOfficerId == user.Id;
                                        <option value="@user.Id" selected="@isSelected">@user.FullName (@user.Email)</option>
                                    }
                                </select>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <label for="confirmed-felling-type-select">
                                    Confirmed felling operation
                                </label>
                            </legend>
                            <select class="govuk-select" id="confirmed-felling-type-select" name="confirmed-felling-type-select">
                                <option value="">Select ...</option>
                                @{
                                    @foreach (FellingOperationTypeForReporting fellingType in Enum.GetValues(typeof(FellingOperationTypeForReporting)))
                                    {
                                        <option value="@fellingType">@fellingType.GetDisplayName()</option>
                                    }
                                }
                            </select>
                            <button disabled="disabled" aria-disabled="true" id="add-confirmed-felling-type-btn" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
                                Add
                            </button>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <label for="confirmed-felling-tree-species-select">
                                    Confirmed felling species
                                </label>
                            </legend>
                            <select class="govuk-select" id="confirmed-felling-tree-species-select" name="tree-species-select">
                                <option value="">Select ...</option>
                                @{
                                    var treeSpeciesValues = TreeSpeciesFactory.SpeciesDictionary.Values;
                                    foreach (var treeSpeciesValue in treeSpeciesValues)
                                    {
                                        <option value="@treeSpeciesValue.Code">@treeSpeciesValue.Name</option>
                                    }
                                }
                            </select>
                            <button disabled="disabled" aria-disabled="true" id="add-tree-species-btn" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" data-module="govuk-button">
                                Add
                            </button>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="moj-filter__options">
    <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">
            <button id="submit-reportquery" class="govuk-button  moj-button-menu__item" data-prevent-double-click="true" data-module="govuk-button">
                Download report
            </button>
            <a class="govuk-button govuk-button--secondary govuk-button moj-button-menu__item" data-module="govuk-button" role="button" draggable="false"
               asp-controller="Reports" asp-action="FellingLicenceApplicationsDataReport">
                Reset
            </a>
            <a class="govuk-button govuk-button--secondary govuk-button moj-button-menu__item" data-module="govuk-button" role="button" draggable="false"
               asp-controller="Reports" asp-action="Index">
                Return to report list
            </a>
        </div>
    </div>
</div>
</div>
</div>
</div>
</form>
</div>

@section Scripts {
    <script src="~/js/reporting-felling-licence-applications.js" asp-append-version="true"></script>
}