@model Forestry.Flo.External.Web.Models.PropertyProfile.PropertyProfileDetails
@using Forestry.Flo.External.Web.Infrastructure

@{
    ViewData["Title"] = @Model.Name;
    var selectedWoodlandOwnerId = ViewData[ViewDataKeyNameConstants.SelectedWoodlandOwnerId] as Guid? ?? null;
    ViewData.ShowBackLink();
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">@Model.Name</H2>
            <partial name="Partials/_PropertyDetails" model="Model"/>
        </div>


        <div class="govuk-grid-column-full">

            <div class="govuk-grid-column-two-thirds">
                <div>
                    <input type="hidden" asp-for="@Model.NearestTown"/>
                    @foreach (var item in Model.Compartments)
                    {
                        <input type="hidden" id="@item.Id" value="@item.GISData" data-label="@item.DisplayName" data-group="compartments_GIS"/>
                    }
                    <arcgis-map id="viewDiv" class="profileMap">
                        <arcgis-expand slot="top-right">
                            <arcgis-basemap-gallery></arcgis-basemap-gallery>
                        </arcgis-expand>
                    </arcgis-map>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <partial name="Partials/_CompartmentList" model="Model"/>
            </div>
        </div>
    </div>
</main>
<div class="govuk-button-group">
    <a class="govuk-link" asp-controller="PropertyProfile" asp-action="BackToWoodlands" asp-route-woodlandOwnerId="@selectedWoodlandOwnerId" asp-route-agencyId="@Model.AgencyId" title="Cancel">Back To Woodlands</a>
</div>

@section Scripts
{
    <partial name="Partials/_DataTablesJs"/>
    <script src="~/js/compartment-list.js" asp-append-version="true"></script>
    <script src="https://js.arcgis.com/calcite-components/3.3.3/calcite.esm.js" type="module"></script>
    <script src="https://js.arcgis.com/4.34/"></script>
    <script type="module" src="https://js.arcgis.com/4.34/map-components/"></script>
    <script type="module">
        require(["/js/mapping/maps/map-profile-page.js?v=" + Date.now()], function (ProfileMap) {
            var mapObj = new ProfileMap("viewDiv");
        })
    </script>
}

@section Css
{
    <link rel="stylesheet" href="https://js.arcgis.com/4.34/esri/themes/light/main.css"/>
    <partial name="Partials/_DataTablesCss"/>
}