@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@using Forestry.Flo.Services.FellingLicenceApplications.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.Services.FellingLicenceApplications.Extensions;

@model Forestry.Flo.Internal.Web.Models.WoodlandOfficerReview.AmendConfirmedRestockingDetailsViewModel;

@{
    var rd = Model.ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails;
    ViewData["Title"] = $"Amend restocking details for compartment {rd.RestockingCompartmentNumber}";
    var user = new InternalUser(User);


    var rt = rd.OperationType.AllowedRestockingForFellingType(false)
        .Where(x => x != TypeOfProposal.DoNotIntendToRestock);

    var allowedRestocking =
        (new[] { TypeOfProposal.None })
        .Concat(rt)
        .Select(x => new SelectListItem()
        {
            Text = x.GetDisplayName(),
            Value = x.ToString()
        });
var compartments = Model.FellingLicenceApplicationSummary.DetailsList
    .Where(x => x.CompartmentId != Model.ConfirmedFellingRestockingDetails.CompartmentId)
    .GroupBy(x => x.CompartmentId)
    .Select(g => g.First())
    .Select(x => new SelectListItem()
    {
        Text = x.CompartmentName,
        Value = x.CompartmentId.ToString()
    });
}

<div class="govuk-grid-column-full">

    <partial name="Partials/_ConfirmationMessageDisplay" />
    <partial name="Partials/_UserGuideDisplay" />
    <partial name="Partials/_PageErrors" />
    <partial name="Partials/_FellingLicenceApplicationSummary" model="Model.FellingLicenceApplicationSummary" />

    <form method="post">
        <input aria-hidden="True" type="hidden" asp-for="ApplicationId" />
        <input aria-hidden="True" type="hidden" asp-for="ConfirmedFellingRestockingDetails.CompartmentId" />
		<input aria-hidden="True" type="hidden" asp-for="ConfirmedFellingRestockingDetails.CompartmentNumber" />
		<input aria-hidden="True" type="hidden" asp-for="ConfirmedFellingRestockingDetails.TotalHectares" />
        <input aria-hidden="True" type="hidden" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.OperationType" />
		<input aria-hidden="True" type="hidden" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.ConfirmedRestockingDetailsId" />
        <input aria-hidden="True" type="hidden" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.ConfirmedRestockingSpecies" />
        <input aria-hidden="True" type="hidden" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.ConfirmedFellingDetailsId" />


        <h1 class="govuk-heading-l">@ViewBag.Title</h1>

        <div class="govuk-grid-column-one-half">
            <div class="govuk-body">
                <div class="govuk-form-group">
                    <label class="govuk-heading-m" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockingProposal">
                        Restocking operation type
                    </label>
                    <div id="felling-type-hint" class="govuk-hint">
                        The applicant proposed @rd.OldValue(nameof(rd.RestockingProposal), rd.RestockingProposal?.GetDisplayName())
                    </div>
                    <select class="govuk-select"
                            asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockingProposal"
                            asp-items=allowedRestocking>
                    </select>
                </div>

                <div class="govuk-form-group" id="@nameof(rd.RestockingCompartmentId)">
				    <label class="govuk-heading-m" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockingCompartmentId">
					    Alternative compartments
				    </label>
				    <div id="felling-type-hint" class="govuk-hint">
					    The applicant proposed @rd.OldValue(nameof(rd.RestockingCompartmentNumber), rd.RestockingCompartmentNumber)
				    </div>
				    <select class="govuk-select"
						    asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockingCompartmentId"
                            asp-items=compartments
                            id="ConfirmedFellingRestockingDetails_ConfirmedRestockingDetails_RestockingCompartmentId">
				    </select>
			    </div>
				<input type="hidden" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockingCompartmentNumber" id="ConfirmedFellingRestockingDetails_ConfirmedRestockingDetails_RestockingCompartmentNumber" />

				<div class="govuk-form-group" id="@nameof(rd.RestockArea)">
                    <label class="govuk-heading-m" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockArea">
                        Estimated area to be restocked
					</label>
					<div id="area-to-be-felled-hint" class="govuk-hint">
                        The applicant proposed @rd.OldValue("Area", rd.RestockArea)
					</div>
                    <validation asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockArea"></validation>
					<div class="govuk-input__wrapper">
						<input class="govuk-input govuk-input--width-5"
                               asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockArea"
							   type="number" step="0.01"
							   aria-describedby="area-to-be-felled-hint"
                               value="@(rd.RestockArea)">
						<div class="govuk-input__suffix" aria-hidden="true">ha</div>
					</div>
				</div>
                <div class="govuk-form-group" id="@nameof(rd.PercentOpenSpace)">
                    <label class="govuk-heading-m" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.PercentOpenSpace">
                        Estimated percentage of the area that will be restocked
                    </label>
                    <div id="area-to-be-felled-hint" class="govuk-hint">
                    </div>
                    <validation asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.PercentOpenSpace"></validation>
                    <div class="govuk-input__wrapper">
						<input class="govuk-input govuk-input--width-5 input-readonly" disabled="disabled" aria-readonly="true"
                               asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.PercentOpenSpace"
                               type="number" step="0.01"
                               aria-describedby="area-to-be-felled-hint"
                               value="@(Model.ConfirmedFellingRestockingDetails.TotalHectares.HasValue ? Math.Round((rd.RestockArea ?? 0) / Model.ConfirmedFellingRestockingDetails.TotalHectares.Value * 100, 2) : string.Empty)"
							   >
                        <div class="govuk-input__suffix" aria-hidden="true">%</div>
                    </div>
                </div>

                <div class="govuk-form-group" id="restocking-density-group">
                    <label class="govuk-heading-m" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockingDensity">
                        Estimate of the restocking density
                    </label>
                    <div id="no-of-trees-hint" class="govuk-hint">
                        The applicant proposed @rd.OldValue(nameof(rd.RestockingDensity), rd.RestockingDensity)
                    </div>
                    <validation asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockingDensity"></validation>
                    <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-5"
                               asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.RestockingDensity"
                               type="number"
                               autocomplete="stems-per-ha"
                               aria-describedby="stems-per-ha">
                        <div class="govuk-input__suffix" aria-hidden="true">Stems per Ha</div>
                    </div>
                </div>

                <div class="govuk-form-group" id="number-of-trees-group">
                    <label class="govuk-heading-m" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.NumberOfTrees">
                        Estimated number of trees to be restocked
                    </label>
                    <div id="no-of-trees-hint" class="govuk-hint">
                        The applicant proposed @(string.IsNullOrEmpty(rd.OldValue(nameof(rd.NumberOfTrees), rd.NumberOfTrees)?.ToString()) ? "0" : rd.OldValue(nameof(rd.NumberOfTrees), rd.NumberOfTrees))
                    </div>
                    <validation asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.NumberOfTrees"></validation>
                    <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-10"
                               asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.NumberOfTrees"
                               type="number"
                               autocomplete="stems-per-ha"
                               aria-describedby="stems-per-ha">
                        <div class="govuk-input__suffix" aria-hidden="true">Trees</div>
                    </div>
                </div>

                @{
                    var viewData = new ViewDataDictionary(ViewData)
                    {
                        TemplateInfo =
                                {
                                HtmlFieldPrefix = "Species"
                                },
                        ["FormPrefix"] = "restocking"
                    };
                }

                <div id="restocking-tree-species-selection-form-group" class="govuk-form-group">
                    <input type="hidden" aria-hidden="true" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.ConfirmedRestockingSpecies" />
                    <label class="govuk-heading-m" for="restocking-tree-species-select">
                        What species of trees will be restocked?
                    </label>
                    <div id="restocking-species-hint" class="govuk-hint">
                        The applicant proposed @rd.OldValue("RestockingSpecies", rd.ListRestockingSpecies())
                    </div>
                    <div id="species-hint" class="govuk-hint">
                        Start typing to search, then select a species from the list.
                    </div>
                    <validation id="restocking-tree-species-error" asp-for="ConfirmedFellingRestockingDetails.ConfirmedRestockingDetails.ConfirmedRestockingSpecies"></validation>
                    <partial name="Partials/_TreeSpeciesSelection" model="@Model.Species" view-data="viewData" />
                </div>

                <div class="govuk-form-group">
                    <div class="govuk-button-group">

                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Save amendments
                        </button>

                        <a class="govuk-link" asp-action="ConfirmedFellingAndRestocking" asp-route-id="@Model.ApplicationId" title="Abandon changes and return to the summary">Cancel</a>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="/js/accessible-autocomplete.min.js"></script>
    <script src="/js/tree-species-selection.js" asp-append-version="true"></script>
    <script src="/js/amend-restocking-details.js" asp-append-version="true"></script>

    @if (!Model.Editable(user))
    {
        <script src="/js/disable-form-elements.js"></script>

        <script>

            $(function () {

                disableFormElements('#felling-detail-form');
            });

        </script>
    }
}

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}