@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.FellingLicenceApplications.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.Internal.Web.Infrastructure.Display
@using Forestry.Flo.Internal.Web.Infrastructure


@{
	ViewData["Title"] = "Confirm felling and restocking";
}

@model Forestry.Flo.Internal.Web.Models.WoodlandOfficerReview.ConfirmedFellingRestockingDetailsModel


@{
	var user = new InternalUser(User);
}
<div class="govuk-grid-column-full">

	<partial name="Partials/_ConfirmationMessageDisplay" />
	<partial name="Partials/_UserGuideDisplay" />
	<partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary" />
	<partial name="Partials/_PageErrors" />

	<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

	@if (Model.FellingLicenceApplicationSummary?.DetailsList is not null)
	{
		@foreach (var item in Model.FellingLicenceApplicationSummary?.DetailsList!)
		{
			<input type="hidden" id="@item.CompartmentId" value="@item.GISData" data-label="@item.CompartmentName" data-group="compartments_GIS" />
		}
	}

    @functions {
        public void RenderSummaryRow(string key, string? measure, object? value, object? oldValue = null)
        {
            bool hasValue = value != null && !string.IsNullOrWhiteSpace(value.ToString());
            bool hasOldValue = oldValue != null && !string.IsNullOrWhiteSpace(oldValue.ToString());
            bool hasMeasure = !string.IsNullOrEmpty(measure);

            if (!hasOldValue)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">@key</dt>
                    <dd class="govuk-summary-list__value">
                        @if (hasValue)
                        {
                            @value
                            @if (hasMeasure)
                            {
                                @(" " + measure)
                            }
                        }
                    </dd>
                </div>
            }
            else
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">@key</dt>
                    <dd class="govuk-summary-list__value">
                        @oldValue
                        @if (hasMeasure)
                        {
                            @(" " + measure)
                        }
                    </dd>
                </div>
                <div class="govuk-summary-list__row" style="background:#fff3bf;">
                    <dt class="govuk-summary-list__key">
                        <span aria-hidden="true" style="margin-right: 4px;">↳</span>
                        @key (amended)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @value
                        @if (hasMeasure)
                        {
                            @(" " + measure)
                        }
                    </dd>
                </div>
            }
        }
    }

	<form method="post">
		@for (int i = 0; i < Model.Compartments.Length; i++)
		{
			var compartment = Model.Compartments[i];
			for (int j = 0; j < compartment.ConfirmedFellingDetails.Length; j++)
			{
				var confirmedFellingDetail = compartment.ConfirmedFellingDetails[j];
				var restockCount = confirmedFellingDetail.ConfirmedRestockingDetails.Count(x => x.RestockingProposal!=null);
                var shouldShowRevert = confirmedFellingDetail is { ProposedFellingDetailsId: not null, AmendedProperties.Count: > 0 };

                <div class="govuk-summary-card" id="felling-operation-card">
                    <div class="govuk-summary-card__title-wrapper" style="background: #f3f2f1; display: flex; align-items: flex-start; justify-content: space-between;">
                        <div>
                            <span class="govuk-summary-card__title" style="font-size: 1.1rem;">
                                <strong>@confirmedFellingDetail.OperationType!.GetDisplayName() with related restocking in compartment @compartment.CompartmentNumber</strong>
                            </span>
                            <div class="govuk-body-s govuk-!-margin-top-1">
                                <strong>Location:</strong> Croydon
                                <strong class="govuk-!-margin-left-3">Compartment size:</strong> 32 Ha
                            </div>
                        </div>
                        <ul condition="@shouldShowRevert" class="govuk-summary-card__actions">
                            @{
                                var visibleId = $"delete-amendments-visible-{confirmedFellingDetail.ConfirmedFellingDetailsId}";
                                var invisibleId = $"delete-amendments-invisible-{confirmedFellingDetail.ConfirmedFellingDetailsId}";
                            }
                            <li class="govuk-summary-card__action">
                                <a
                                    class="delete-amendments-invisible"
                                    id="@invisibleId"
                                    hidden="hidden"
                                    aria-hidden="true"
                                    tabindex="-1"
                                    asp-action="RevertAmendedConfirmedFellingDetails"
                                    asp-route-applicationId="@Model.ApplicationId"
                                    asp-route-proposedFellingDetailsId="@confirmedFellingDetail.ProposedFellingDetailsId">
                                </a>
                                <a id="@visibleId" href="#@visibleId" class="govuk-link delete-amendments-visible">
                                    Delete amendments (revert to proposed felling and restocking)
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-summary-card__content" id="felling-card-content">
                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                            <div id="compartments-display">
                                <div class="govuk-accordion__section ">
                                    <div class="govuk-accordion__section-header">
                                        <span class="govuk-accordion__section-heading">
                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                            </span>
                                        </span>
                                    </div>
                                    <div id="accordion-default-content" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                        <style>
									        #viewDiv-@i-@j {
										        border-color: black;
										        border-style: solid;
										        border-width: 1px;
										        padding: 0;
										        margin: 0;
										        height: 50vh !important;
									        }
								        </style>

                                        <div class="profileMap" id="viewDiv-@i-@j"></div>
                                        <script type="module">
									        require(["../../js/mapping/maps/map-profile-page.js?v=" + Date.now()], function (ProfileMap) {
										        var mapObj = new ProfileMap("viewDiv-@i-@j", true);
									        });
								        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-row govuk-!-margin-bottom-6">
                            <div class="govuk-grid-column-one-half">
                                <div class="govuk-summary-card">
                                    <div class="govuk-summary-card__title-wrapper">
                                        <h2 class="govuk-summary-card__title">Felling operation</h2>
                                        <ul class="govuk-summary-card__actions">
                                            <li class="govuk-summary-card__action">
                                                <a class="govuk-link govuk-link--no-visited-state" href="#">Show on map</a>
                                            </li>
                                            <li class="govuk-summary-card__action">
                                                <a href="@Url.Action("AmendConfirmedFellingDetails", 
                                                             new { applicationId = Model.ApplicationId, confirmedFellingDetailsId = confirmedFellingDetail.ConfirmedFellingDetailsId })" 
                                                   aria-describedby="felling-and-restocking">
                                                    Amend
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="govuk-summary-card__content">
                                        <dl class="govuk-summary-list">
                                            @{
                                                RenderSummaryRow("Felling operation type", null, confirmedFellingDetail.OperationType!.GetDisplayName(), confirmedFellingDetail.OldValue(nameof(confirmedFellingDetail.OperationType))); 
                                            }
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Compartment area</dt>
                                                <dd class="govuk-summary-list__value">@compartment.ConfirmedTotalHectares Ha</dd>
                                            </div>
                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">Designations</dt>
                                                <dd class="govuk-summary-list__value">@compartment.Designation</dd>
                                            </div>
                                            @{
                                                RenderSummaryRow("Area to be felled", "Ha", confirmedFellingDetail.AreaToBeFelled, confirmedFellingDetail.OldValue(nameof(confirmedFellingDetail.AreaToBeFelled))); 
                                            }

                                            <div class="govuk-summary-list__row">
                                                <dt class="govuk-summary-list__key">% compartment area to be felled</dt>
                                                <dd class="govuk-summary-list__value">
                                                    @(compartment.TotalHectares.HasValue
                                                        ? Math.Round((confirmedFellingDetail.AreaToBeFelled ?? 0) / compartment.TotalHectares!.Value * 100, 2) + "%"
                                                        : string.Empty)
                                                </dd>
                                            </div>
                                            @{
                                                RenderSummaryRow("Species", null, confirmedFellingDetail.ListFellingSpecies(), confirmedFellingDetail.OldValue("FellingSpecies"));

                                                RenderSummaryRow("Estimated number of trees to be felled", "Trees", confirmedFellingDetail.NumberOfTrees, confirmedFellingDetail.OldValue(nameof(confirmedFellingDetail.NumberOfTrees)));

                                                RenderSummaryRow("Estimated total felling volume", "m³", confirmedFellingDetail.EstimatedTotalFellingVolume, confirmedFellingDetail.OldValue(nameof(confirmedFellingDetail.EstimatedTotalFellingVolume)));

                                                RenderSummaryRow("Will you use tree marking?", null,
                                                    string.IsNullOrWhiteSpace(confirmedFellingDetail.TreeMarking)
                                                        ? "No"
                                                        : "Yes, " + confirmedFellingDetail.TreeMarking,
                                                    string.IsNullOrWhiteSpace(confirmedFellingDetail.OldValue("TreeMarking")?.ToString())
                                                        ? null
                                                        : "Yes, " + confirmedFellingDetail.OldValue("TreeMarking"));

                                                RenderSummaryRow("TPO", null, 
                                                    confirmedFellingDetail.IsPartOfTreePreservationOrder == true ? "Yes" : "No", 
                                                    confirmedFellingDetail.OldValue("IsPartOfTreePreservationOrder")?.ToString() == "True" ? "Yes" : null);

                                                RenderSummaryRow("TPO Reference", null, 
                                                    confirmedFellingDetail.IsPartOfTreePreservationOrder == true ? confirmedFellingDetail.TreePreservationOrderReference : "N/A", 
                                                    confirmedFellingDetail.OldValue("IsPartOfTreePreservationOrder")?.ToString() == "True" ? confirmedFellingDetail.OldValue("TreePreservationOrderReference") : null);

                                                RenderSummaryRow("CA", null, 
                                                    confirmedFellingDetail.IsWithinConservationArea == true ? "Yes" : "No", 
                                                    confirmedFellingDetail.OldValue("IsWithinConservationArea")?.ToString() == "True" ? "Yes" : null);

                                                RenderSummaryRow("CA Reference", null, 
                                                    confirmedFellingDetail.IsWithinConservationArea == true ? confirmedFellingDetail.ConservationAreaReference : "N/A", 
                                                    confirmedFellingDetail.OldValue("IsWithinConservationArea")?.ToString() == "True" ? confirmedFellingDetail.OldValue("ConservationAreaReference") : null);

                                                RenderSummaryRow("Do you want to restock", null, 
                                                    confirmedFellingDetail.IsRestocking == null 
                                                        ? "N/A" 
                                                        : (confirmedFellingDetail.IsRestocking == true ? "Yes" : "No"), 
                                                    confirmedFellingDetail.OldValue("IsRestocking") == null
                                                        ? "N/A"
                                                        : (confirmedFellingDetail.OldValue("IsRestocking")?.ToString() == "True" ? "Yes" : "No")
                                                );
                                            }
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-grid-column-one-half">

                                @for (int k = 0; k < restockCount; k++)
                                {
                                    var restockingDetail = confirmedFellingDetail.ConfirmedRestockingDetails.Any() ? confirmedFellingDetail.ConfirmedRestockingDetails[k] : null;

						        <div class="govuk-summary-card">
							        <div class="govuk-summary-card__title-wrapper">
								        <h2 class="govuk-summary-card__title">Restocking operation</h2>
								        <ul class="govuk-summary-card__actions">
									        <li class="govuk-summary-card__action">
										        <a class="govuk-link govuk-link--no-visited-state" href="#">Show on map</a>
									        </li>
									        <li class="govuk-summary-card__action">
										        <a href="@Url.Action("AmendConfirmedRestockingDetails", 
											        new { applicationId = Model.ApplicationId, confirmedFellingDetailsId = confirmedFellingDetail.ConfirmedFellingDetailsId, confirmedRestockingDetailsId = confirmedFellingDetail.ConfirmedRestockingDetails[k].ConfirmedRestockingDetailsId })" 
										        aria-describedby="felling-and-restocking">
											        Amend
										        </a>
									        </li>
								        </ul>
							        </div>
							        <div class="govuk-summary-card__content">
								        <dl class="govuk-summary-list">
									        @{
										        RenderSummaryRow("Restocking operation type", "", restockingDetail!.RestockingProposal!.GetDisplayName(), restockingDetail.OldValue(nameof(restockingDetail.RestockingProposal)));
										        RenderSummaryRow("Restocking compartment", "", restockingDetail.RestockingCompartmentNumber, restockingDetail.OldValue(nameof(restockingDetail.RestockingCompartmentNumber)));
									        }
									        <div class="govuk-summary-list__row">
										        <dt class="govuk-summary-list__key">Estimated percentage of the area that will be restocked</dt>
										        <dd class="govuk-summary-list__value">
											        @(compartment.TotalHectares.HasValue
																						? Math.Round((restockingDetail.RestockArea ?? 0) / compartment.TotalHectares!.Value * 100, 2) + "%"
																						: string.Empty)
										        </dd>
									        </div>
                                                @{
                                                    if (restockingDetail.RestockingProposal != Forestry.Flo.Services.FellingLicenceApplications.Entities.TypeOfProposal.CreateDesignedOpenGround)
                                                    {
                                                        RenderSummaryRow("Estimated area to be restocked", " Ha", restockingDetail.RestockArea, restockingDetail.OldValue("Area"));
                                                        if (restockingDetail.RestockingProposal == Forestry.Flo.Services.FellingLicenceApplications.Entities.TypeOfProposal.RestockWithIndividualTrees ||
                                                            restockingDetail.RestockingProposal == Forestry.Flo.Services.FellingLicenceApplications.Entities.TypeOfProposal.PlantAnAlternativeAreaWithIndividualTrees)
                                                        {
                                                            var oldNumberOfTrees = restockingDetail.OldValue(nameof(restockingDetail.NumberOfTrees), restockingDetail.NumberOfTrees);
                                                            RenderSummaryRow("Estimated number of trees to be restocked", " Trees", restockingDetail.NumberOfTrees, string.IsNullOrEmpty(oldNumberOfTrees?.ToString()) ? "0" : oldNumberOfTrees);
                                                        }
                                                        else
                                                        {
                                                            RenderSummaryRow("Estimate of the restocking density", "", restockingDetail.RestockingDensity, restockingDetail.OldValue((nameof(restockingDetail.RestockingDensity))));
                                                        }
                                                        RenderSummaryRow("Species and restocking percentage", "", restockingDetail.ListRestockingSpecies(), restockingDetail.OldValue("RestockingSpecies"));
                                                    }
									            }
								        </dl>
							        </div>
						        </div>
						        }
					        </div>
				        </div>
			        </div>
		        </div>
			}
		}
		<input asp-for="ApplicationId" />
        <br />

        <div class="govuk-button-group">
            <a
                condition="@(Model.Editable(user))"
                id="add-felling-operation"
                data-prevent-double-click="true"
                asp-action="SelectFellingCompartment"
                asp-route-applicationId="@Model.ApplicationId"
                class="govuk-button govuk-button--secondary"
                data-module="govuk-button">

                Add felling operation

            </a>
        </div>

        <div class="govuk-form-group">
			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
					<h2 class="govuk-fieldset__heading">Review actions</h2>
				</legend>
				<div class="govuk-hint">
					If there are any issues with the application that require changes from the applicant, click here.
				</div>
				<div class="govuk-button-group">
					<button condition-disabled="@(!Model.Editable(user) || !Model.IsAmended)" id="save-btn" data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
						Send amendments to application for confirmation
					</button>
				</div>
				<div class="govuk-button-group">
					<button condition-disabled="@(!(Model.Editable(user) && !Model.IsAmended))" id="save-btn" data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
						Confirm felling and restocking
					</button>
				</div>
				<div class="govuk-hint">
					When you have completed your review and the application is ready to pass on to the assigned Approver, click Submit Review to progress the application.
				</div>
			</fieldset>
		</div>

    </form>

</div>

@section Scripts
{
	<!-- Following below guidance ensure it all works-->
	<!-- Load DataTables and its extensions -->
	<partial name="Partials/_DataTablesJs" />

	<!-- Other scripts follow -->
	<script src="~/js/confirmed-felling-and-restocking.js" asp-append-version="true"></script>
    <script src="~/js/display-user-icon.js" asp-append-version="true"></script>
    <script src="~/js/confirmed-felling-and-restocking-revert-amendments.js" asp-append-version="true"></script>

	<!-- ArcGIS scripts and styles -->
	<script src="~/lib/arcgis_js_api/javascript/4.24/init.js"></script>
	<script type="module" src="~/lib/arcgis_js_api/javascript/calcite/calcite/calcite.esm.js"></script>
	<link rel="stylesheet" href="@Url.AbsoluteContent("~/lib/arcgis_js_api/javascript/4.24/esri/themes/light/main.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.AbsoluteContent("~/lib/arcgis_js_api/javascript/calcite/calcite/calcite.css")" />

	<!-- Map script -->
	<script type="module">
		require(["../../js/mapping/maps/map-profile-page.js?v=" + Date.now()], function (ProfileMap) {
			var mapObj = new ProfileMap("viewDiv0", true);
		});
	</script>
}

@section Css
{
	<link async rel="stylesheet" href="~/css/felling-and-restocking.css?v1.1" aria-busyasp-append-version="true" />
	<partial name="Partials/_DataTablesCss" />
}


@section breadcrumbs
{
	<partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}