@using Forestry.Flo.Services.Common.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.Internal.Web.Infrastructure.Display
@using Forestry.Flo.Internal.Web.Infrastructure
@using Forestry.Flo.Internal.Web.Models.FellingLicenceApplication
@using Forestry.Flo.Internal.Web.Models.WoodlandOfficerReview
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@using Forestry.Flo.Services.FellingLicenceApplications.Extensions

@model Forestry.Flo.Internal.Web.Models.WoodlandOfficerReview.ConfirmedFellingRestockingDetailsModel
@{
    ViewData["Title"] = "Confirm felling and restocking";
    var user = new InternalUser(User);
    const string newDetailClassName = "new-confirmed-detail";
    const string deletedDetailClassName = "deleted-confirmed-detail";
}

<div class="govuk-grid-column-full">

    <partial name="Partials/_ConfirmationMessageDisplay" />
    <partial name="Partials/_UserGuideDisplay" />
    <partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary" />
    <partial name="Partials/_PageErrors" />

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    @foreach (var item in Model.SubmittedFlaPropertyCompartments)
    {
        <input type="hidden" id="@item.SubmittedCompartmentId" value="@item.GisData" data-label="@item.Label" data-group="compartments_GIS" name="@item.SubmittedCompartmentId" />
    }

    @functions {
        public void RenderSummaryRow(string key, string? measure, object? value, object? oldValue = null)
        {
            var hasValue = value != null && !string.IsNullOrWhiteSpace(value.ToString());
            var hasOldValue = oldValue != null && !string.IsNullOrWhiteSpace(oldValue.ToString());
            var hasMeasure = !string.IsNullOrEmpty(measure);

            if (!hasOldValue || value == oldValue)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">@key</dt>
                    <dd class="govuk-summary-list__value">
                        @if (hasValue)
                        {
                            @value
                            @if (hasMeasure)
                            {
                                @(" " + measure)
                            }
                        }
                    </dd>
                </div>
            }
            else
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">@key</dt>
                    <dd class="govuk-summary-list__value">
                        @oldValue
                        @if (hasMeasure)
                        {
                            @(" " + measure)
                        }
                    </dd>
                </div>
                <div class="govuk-summary-list__row" style="background:#fff3bf;">
                    <dt class="govuk-summary-list__key">
                        <span aria-hidden="true" style="margin-right: 4px;">↳</span>
                        @key (amended)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @value
                        @if (hasMeasure)
                        {
                            @(" " + measure)
                        }
                    </dd>
                </div>
            }
        }
    }

	<form method="post">
		@for (var i = 0; i < Model.Compartments.Length; i++)
        {
            var compartment = Model.Compartments[i];
            var deletedFellingDetails = Model.DeletedFellingOperations(compartment.CompartmentId);

            for (var j = 0; j < compartment.ConfirmedFellingDetails.Length; j++)
            {
                var confirmedFellingDetail = compartment.ConfirmedFellingDetails[j];
                var restockCount = confirmedFellingDetail.ConfirmedRestockingDetails.Count(x => x.RestockingProposal!=null);
                var canAddRestocking = confirmedFellingDetail.OperationType!.Value
                    .AllowedRestockingForFellingType(false)
                    .Any(x => x != TypeOfProposal.DoNotIntendToRestock)
                    && !Model.ConfirmedFellingAndRestockingComplete;

                var deletedRestockingDetails = Model.DeletedRestockingOperations(confirmedFellingDetail.ProposedFellingDetailsId);
                var confirmedFellingType = confirmedFellingDetail.GetConfirmedFellingType(deletedRestockingDetails.Any());

                var shouldShowRevert = confirmedFellingType is not (ConfirmedFellingType.Unmodified or ConfirmedFellingType.NewFelling);

                shouldShowRevert = shouldShowRevert && Model.Amendment.CanCurrentUserAmend;
                var fellingClassName = confirmedFellingType is ConfirmedFellingType.NewFelling 
                    ? newDetailClassName 
                    : string.Empty;

                var headingSuffix = confirmedFellingType switch
                {
                    ConfirmedFellingType.NewFelling => "(new)",
                    ConfirmedFellingType.Amended => "(amended)",
                    _ => string.Empty
                };

                var viewDivId = $"viewDiv-{i}-{j}";

                HashSet<Guid> relevantCompartmentIds = [ compartment.SubmittedFlaPropertyCompartmentId!.Value ];

                foreach(var restockingDetail in confirmedFellingDetail.ConfirmedRestockingDetails)
                { 
                    relevantCompartmentIds.Add(restockingDetail.RestockingCompartmentId);
                }

                @foreach (var deletedRestocking in deletedRestockingDetails)
                {
                    var submittedCompartmentId = Model.SubmittedFlaPropertyCompartments.First(x =>
                        x.PropertyCompartmentId == deletedRestocking.CompartmentId ||
                        x.SubmittedCompartmentId == deletedRestocking.CompartmentId)
                        .SubmittedCompartmentId;
                    relevantCompartmentIds.Add(submittedCompartmentId);
                }

                <input type="hidden" 
                       id='@($"{viewDivId}-filters")' 
                       value="@(string.Join(",", relevantCompartmentIds.Select(x => x.ToString())))"/>

                <div class="govuk-summary-card" id="felling-operation-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <div>
                            <span class="govuk-summary-card__title" style="font-size: 1.1rem;">
                                <strong>@confirmedFellingDetail.OperationType!.GetDisplayName() with related restocking in compartment @compartment.CompartmentNumber @headingSuffix</strong>
                            </span>
                            <div class="govuk-body-s compartment-info">
                                <strong condition="@compartment.NearestTown is not null">Location: @compartment.NearestTown</strong>
                                <strong>Compartment size:</strong> @compartment.TotalHectares!.Value.FormatDoubleForDisplay() Ha
                            </div>
                        </div>
                        <ul condition="@shouldShowRevert" class="govuk-summary-card__actions">
                            @{
                                var visibleId = $"delete-amendments-visible-{confirmedFellingDetail.ConfirmedFellingDetailsId}";
                                var invisibleId = $"delete-amendments-invisible-{confirmedFellingDetail.ConfirmedFellingDetailsId}";
                            }
                            <li class="govuk-summary-card__action">
                                <a
                                    class="delete-amendments-invisible"
                                    id="@invisibleId"
                                    hidden="hidden"
                                    aria-hidden="true"
                                    tabindex="-1"
                                    asp-action="RevertAmendedConfirmedFellingDetails"
                                    asp-route-applicationId="@Model.ApplicationId"
                                    asp-route-proposedFellingDetailsId="@confirmedFellingDetail.ProposedFellingDetailsId">
                                </a>
                                <a id="@visibleId" href="#@visibleId" class="govuk-link delete-amendments-visible">
                                    Delete amendments (revert to proposed felling and restocking)
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-summary-card__content" id="felling-card-content">
                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                            <div id="compartments-display">
                                <div class="govuk-accordion__section govuk-accordion__section--expanded">
                                    <div class="govuk-accordion__section-header">
                                        <span class="govuk-accordion__section-heading">
                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                            </span>
                                        </span>
                                    </div>
                                    <div id="accordion-default-content" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                        <style>
									        #viewDiv-@i-@j {
										        border-color: black;
										        border-style: solid;
										        border-width: 1px;
										        padding: 0;
										        margin: 0;
										        height: 50vh !important;
									        }
								        </style>

                                        <div class="profileMap" id="viewDiv-@i-@j"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-row govuk-!-margin-bottom-6">
                            <div class="govuk-grid-column-one-half">
                                <div class="govuk-summary-card @fellingClassName">
                                    <div class="govuk-summary-card__title-wrapper">
                                        <h2 class="govuk-summary-card__title">
                                            @(confirmedFellingType is ConfirmedFellingType.NewFelling 
                                                ? "Felling operation (new)" 
                                                : "Felling operation")
                                        </h2>
                                        <ul class="govuk-summary-card__actions">
                                            <li class="govuk-summary-card__action">
                                                <a class="govuk-link govuk-link--no-visited-state view-on-map" href="#@(viewDivId)" onclick="viewOnMap('@(viewDivId)', '@compartment.SubmittedFlaPropertyCompartmentId')">Show on map</a>
                                            </li>
                                            <li condition="@Model.Amendment.CanCurrentUserAmend" class="govuk-summary-card__action">
                                                <a id="amend-link-felling-@(confirmedFellingDetail.ConfirmedFellingDetailsId)"
                                                   href="@Url.Action("AmendConfirmedFellingDetails", new { applicationId = Model.ApplicationId, confirmedFellingDetailsId = confirmedFellingDetail.ConfirmedFellingDetailsId })" 
                                                   aria-describedby="felling-and-restocking">
                                                    Amend
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    @await Html.PartialAsync("_FellingDetailSummary", new FellingDetailViewModel(confirmedFellingDetail, compartment))
                                </div>
                            </div>
                            <div class="govuk-grid-column-one-half">
                                @for (var k = 0; k < restockCount; k++)
                                {
                                    var restockingDetail = confirmedFellingDetail.ConfirmedRestockingDetails.Any() ? confirmedFellingDetail.ConfirmedRestockingDetails[k] : null;
                                    if (restockingDetail is null)
                                    {
                                        continue;
                                    }

                                    var isNew = restockingDetail?.ProposedRestockingDetailsId is null;
                                    var restockingClassName = isNew ? newDetailClassName : string.Empty; 

						            <div class="govuk-summary-card @restockingClassName">
							            <div class="govuk-summary-card__title-wrapper">
                                            <h2 class="govuk-summary-card__title">
                                                @(isNew 
                                                    ? "Restocking operation (new)" 
                                                    : "Restocking operation")
                                            </h2>
								            <ul class="govuk-summary-card__actions">
                                                <li class="govuk-summary-card__action">
                                                    <a class="govuk-link govuk-link--no-visited-state view-on-map" href="#@(viewDivId)" onclick="viewOnMap('@(viewDivId)', '@restockingDetail!.RestockingCompartmentId')">Show on map</a>
                                                </li>
                                                <li condition="@Model.Amendment.CanCurrentUserAmend" class="govuk-summary-card__action">
										            <a id="amend-link-restocking-@(restockingDetail.ConfirmedRestockingDetailsId)" href="@Url.Action("AmendConfirmedRestockingDetails", 
											            new { applicationId = Model.ApplicationId, confirmedFellingDetailsId = confirmedFellingDetail.ConfirmedFellingDetailsId, confirmedRestockingDetailsId = confirmedFellingDetail.ConfirmedRestockingDetails[k].ConfirmedRestockingDetailsId })" 
										            aria-describedby="felling-and-restocking">
											            Amend
										            </a>
									            </li>
								            </ul>
							            </div>
                                        @await Html.PartialAsync("_RestockingDetailSummary", new RestockingDetailViewModel(restockingDetail!))
                                    </div>
						        }
                                
                                @foreach(var deletedRestocking in deletedRestockingDetails)
                                {
                                    var submittedCompartmentId = Model.SubmittedFlaPropertyCompartments.First(x => x.PropertyCompartmentId == deletedRestocking.CompartmentId).SubmittedCompartmentId;

                                    <div class="govuk-summary-card @deletedDetailClassName">
                                        <div class="govuk-summary-card__title-wrapper">
                                            <h2 class="govuk-summary-card__title">Restocking operation (deleted)</h2>
                                            <ul class="govuk-summary-card__actions">
                                                <li class="govuk-summary-card__action">
                                                    <a class="govuk-link govuk-link--no-visited-state view-on-map" href="#@(viewDivId)" onclick="viewOnMap('@(viewDivId)', '@submittedCompartmentId')">Show on map</a>
                                                </li>
                                            </ul>
                                        </div>
                                        @await Html.PartialAsync("_RestockingDetailSummary", new RestockingDetailViewModel(deletedRestocking))
                                    </div>
                                }
                                <div class="govuk-button-group">
                                    <a
                                        condition="@(Model.Editable(user) && canAddRestocking && Model.Amendment.CanCurrentUserAmend)"
                                        id="add-button-restocking-@confirmedFellingDetail.ConfirmedFellingDetailsId"
                                        data-prevent-double-click="true"
                                        asp-action="AddConfirmedRestockingDetails"
                                        asp-route-applicationId="@Model.ApplicationId"
                                        asp-route-compartmentId="@compartment.CompartmentId"
                                        asp-route-fellingDetailsId="@confirmedFellingDetail.ConfirmedFellingDetailsId"
                                        class="govuk-button govuk-button--secondary"
                                        data-module="govuk-button">

                                        Add restocking operation

                                    </a>
                                </div>
                            </div>
				        </div>
			        </div>
		        </div>
			}

            @foreach (var deletedFelling in deletedFellingDetails)
            {
                var viewDivId = $"viewDiv-{i}-{deletedFelling.Id}";

                HashSet<Guid> relevantCompartmentIds = [ compartment.SubmittedFlaPropertyCompartmentId!.Value ];

                foreach(var restockingDetail in deletedFelling.ProposedRestockingDetails)
                { 
                    var submittedCompartmentId = Model.SubmittedFlaPropertyCompartments
                        .First(x => x.PropertyCompartmentId == restockingDetail.CompartmentId)
                        .SubmittedCompartmentId;

                    relevantCompartmentIds.Add(submittedCompartmentId);
                }

                <input type="hidden" 
                       id='@($"{viewDivId}-filters")' 
                       value="@(string.Join(",", relevantCompartmentIds.Select(x => x.ToString())))"/>

                <div class="govuk-summary-card" id="felling-operation-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <div>
                            <span class="govuk-summary-card__title" style="font-size: 1.1rem;">
                                <strong>@deletedFelling.OperationType!.GetDisplayName() with related restocking in compartment @compartment.CompartmentNumber (deleted)</strong>
                            </span>
                            <div class="govuk-body-s compartment-info">
                                <strong condition="@compartment.NearestTown is not null">Location: @compartment.NearestTown</strong>
                                <strong>Compartment size:</strong> @compartment.TotalHectares!.Value.FormatDoubleForDisplay() Ha
                            </div>
                        </div>
                        <ul condition="@Model.Amendment.CanCurrentUserAmend" class="govuk-summary-card__actions">
                            @{
                                var visibleId = $"delete-amendments-visible-{deletedFelling.Id}";
                                var invisibleId = $"delete-amendments-invisible-{deletedFelling.Id}";
                            }
                            <li class="govuk-summary-card__action">
                                <a
                                    class="delete-amendments-invisible"
                                    id="@invisibleId"
                                    hidden="hidden"
                                    aria-hidden="true"
                                    tabindex="-1"
                                    asp-action="RevertAmendedConfirmedFellingDetails"
                                    asp-route-applicationId="@Model.ApplicationId"
                                    asp-route-proposedFellingDetailsId="@deletedFelling.Id">
                                </a>
                                <a id="@visibleId" href="#@visibleId" class="govuk-link delete-amendments-visible">
                                    Delete amendments (revert to proposed felling and restocking)
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="govuk-summary-card__content" id="felling-card-content">
                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                            <div id="compartments-display">
                                <div class="govuk-accordion__section govuk-accordion__section--expanded">
                                    <div class="govuk-accordion__section-header">
                                        <span class="govuk-accordion__section-heading">
                                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                                            </span>
                                        </span>
                                    </div>
                                    <div id="accordion-default-content" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                                        <style>
									        #viewDiv-@i-@deletedFelling.Id {
										        border-color: black;
										        border-style: solid;
										        border-width: 1px;
										        padding: 0;
										        margin: 0;
										        height: 50vh !important;
									        }
								        </style>

                                        <div class="profileMap" id="@viewDivId"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-grid-row govuk-!-margin-bottom-6">
                            <div class="govuk-grid-column-one-half">
                                <div class="govuk-summary-card @deletedDetailClassName">
                                    <div class="govuk-summary-card__title-wrapper">
                                        <h2 class="govuk-summary-card__title">Felling operation (deleted)</h2>
                                        <ul class="govuk-summary-card__actions">
                                            <li class="govuk-summary-card__action">
                                                <a class="govuk-link govuk-link--no-visited-state view-on-map" href="#@(viewDivId)" onclick="viewOnMap('@(viewDivId)', '@compartment.SubmittedFlaPropertyCompartmentId')">Show on map</a>
                                            </li>
                                        </ul>
                                    </div>
                                    @await Html.PartialAsync("_FellingDetailSummary", new FellingDetailViewModel(deletedFelling, compartment))
                                </div>
                            </div>
                            <div class="govuk-grid-column-one-half">          
                                @foreach(var deletedRestocking in deletedFelling.ProposedRestockingDetails)
                                {
                                    var submittedCompartmentId = Model.SubmittedFlaPropertyCompartments
                                        .First(x => x.PropertyCompartmentId == deletedRestocking.CompartmentId)
                                        .SubmittedCompartmentId;

                                    <div class="govuk-summary-card @deletedDetailClassName">
                                        <div class="govuk-summary-card__title-wrapper">
                                            <h2 class="govuk-summary-card__title">Restocking operation (deleted)</h2>
                                            <ul class="govuk-summary-card__actions">
                                                <li class="govuk-summary-card__action">
                                                    <a class="govuk-link govuk-link--no-visited-state view-on-map" href="#@(viewDivId)" onclick="viewOnMap('@(viewDivId)', '@submittedCompartmentId')">Show on map</a>
                                                </li>
                                            </ul>
                                        </div>
                                        @await Html.PartialAsync("_RestockingDetailSummary", new RestockingDetailViewModel(deletedRestocking))
                                    </div>
                                }
                            </div>
                        </div>
			        </div>
		        </div>
            }
		}
		<input asp-for="ApplicationId" />
        <br />

        <div class="govuk-button-group">
            <a
                condition="@(Model.Editable(user) && !Model.ConfirmedFellingAndRestockingComplete && Model.Amendment.CanCurrentUserAmend)"
                id="add-felling-operation"
                data-prevent-double-click="true"
                asp-action="SelectFellingCompartment"
                asp-route-applicationId="@Model.ApplicationId"
                class="govuk-button govuk-button--secondary"
                data-module="govuk-button">

                Add felling operation

            </a>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">Review actions</h2>
                </legend>

                <div condition="@(Model.Amendment.AmendmentState is AmendmentStateEnum.NoAmendment)" class="govuk-body">
                </div>

                <div condition="@((Model.Amendment.AmendmentState is AmendmentStateEnum.NewAmendment || Model.Amendment.AmendmentState is AmendmentStateEnum.Completed) && Model.Amendment.CanCurrentUserAmend)" class="govuk-body">
                    Please provide details and reasoning for the amendments

                    <textarea rows="5" class="@GdsConstants.GdsTextAreaCssClass" name="amendmentReason">@Model.Amendment.AmendmentReason</textarea>

                    <div class="govuk-button-group">
                        <button 
                            condition-disabled="@(!Model.Editable(user) || !ViewContext.ModelState.IsValid)"
                            asp-controller="WoodlandOfficerReview"
                            asp-action="SendAmendmentsToApplicant"
                            id="save-btn" 
                            data-prevent-double-click="true" 
                            type="submit" 
                            class="govuk-button" 
                            data-module="govuk-button">
                            Send amendments to applicant for confirmation
                        </button>
                    </div>
                </div>

                <div condition="@(Model.Amendment.AmendmentState is AmendmentStateEnum.SentToApplicant)" class="govuk-body">
                    <p>Amendments sent @Model.Amendment.AmendmentsSentDate?.ToString("dd/MM/yyyy") - see case notes/timeline for further detail.</p>
                    <p>The applicant has been sent the amendments for confirmation</p>
                </div>

                <div condition="@(Model.Amendment.AmendmentState is AmendmentStateEnum.ApplicantAgreed)" class="govuk-hint">
                    <p>The applicant has agreed with the amendments - see case notes/timeline for further detail</p>
                </div>

                <div condition="@(Model.Amendment.AmendmentState is AmendmentStateEnum.ApplicantDisagreed && Model.Amendment.CanCurrentUserAmend)" class="govuk-body">
                    <p>The applicant does not agree with the amendments, providing the following reasons:</p>
                    <p>@Model.Amendment.ApplicantDisagreementReason</p>
                </div>

                <div condition="@((Model.Amendment.AmendmentState is AmendmentStateEnum.ApplicantAgreed || Model.Amendment.AmendmentState is AmendmentStateEnum.ApplicantDisagreed) && Model.Amendment.CanCurrentUserAmend)" class="govuk-body">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-heading-m" id="@Html.IdFor(x => x.Amendment.FurtherAmendments)">
                                Are further amendments required?
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">

                                <div class="govuk-radios__item">
                                    <input id="make-further-amendments-yes"
                                           type="radio" class="govuk-radios__input"
                                           asp-for="Amendment.FurtherAmendments"
                                           value="@true"
                                           data-aria-controls="conditional-@Html.NameFor(x => x.Amendment.FurtherAmendments)">
                                    <label class="govuk-label govuk-radios__label" for="make-further-amendments-yes" asp-for="Amendment.FurtherAmendments">
                                        Yes
                                    </label>
                                </div>

                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-@Html.NameFor(x => x.Amendment.FurtherAmendments)">
                                    <div class="govuk-form-group">
                                        <div class="govuk-button-group">
                                            <button 
                                                condition-disabled="@(!Model.Editable(user) || !ViewContext.ModelState.IsValid)"
                                                asp-controller="WoodlandOfficerReview"
                                                asp-action="MakeFurtherAmendments"
                                                asp-route-applicationId="@Model.ApplicationId"
                                                asp-route-amendmentReviewId="@Model.Amendment.AmendmentReviewId"
                                                id="confirm-btn" 
                                                data-prevent-double-click="true"
                                                type="submit" 
                                                class="govuk-button" 
                                                data-module="govuk-button">
                                                Make further amendments
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="govuk-radios__item">
                                    <input id="make-further-amendments-no" type="radio" class="govuk-radios__input" asp-for="Amendment.FurtherAmendments" value="@false">
                                    <label class="govuk-label govuk-radios__label" for="make-further-amendments-no" asp-for="Amendment.FurtherAmendments">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div condition="@(Model.Amendment.AmendmentState is not AmendmentStateEnum.Completed && !Model.ConfirmedFellingAndRestockingComplete)" class="govuk-body">
                    <input type="hidden" asp-for="Amendment.AmendmentReviewId" />
                    <div class="govuk-button-group">
                        <button 
                            condition-disabled="@(!Model.Editable(user) || !ViewContext.ModelState.IsValid)"
                            asp-controller="WoodlandOfficerReview"
                            asp-action="ConfirmFellingAndRestocking"
                            id="confirm-btn" 
                            data-prevent-double-click="true"
                            type="submit" 
                            class="govuk-button" 
                            data-module="govuk-button">
                            Confirm felling and restocking
                        </button>
                    </div>
                </div>

            </fieldset>
        </div>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    @{
        var activityFeedModel = new ActivityFeedModel
        {
            ActivityFeedTitle = "Woodland Officer Review Comments",
            ActivityFeedItemModels = Model.ActivityFeedItems,
            ShowAddCaseNote = true,
            ShowFilters = false,
            NewCaseNoteType = CaseNoteType.WoodlandOfficerReviewComment,
            DefaultCaseNoteFilter = CaseNoteType.WoodlandOfficerReviewComment,
            ApplicationId = Model.ApplicationId,
            HostingPage = $"{Url.Action("ConfirmedFellingAndRestocking", new { id = Model.ApplicationId })!}#activity-feed"
        };
    }

    <partial name="Partials/_ActivityFeed" model="@activityFeedModel"/>

</div>

@section Scripts
{
	<!-- Following below guidance ensure it all works-->
	<!-- Load DataTables and its extensions -->
	<partial name="Partials/_DataTablesJs" />

	<!-- Other scripts follow -->
	<script src="~/js/confirmed-felling-and-restocking.js" asp-append-version="true"></script>
    <script src="~/js/display-user-icon.js" asp-append-version="true"></script>
    <script src="~/js/confirmed-felling-and-restocking-revert-amendments.js" asp-append-version="true"></script>
    <script src="~/js/confirmed-felling-and-restocking-mapping.js" asp-append-version="true"></script>

	<!-- ArcGIS scripts and styles -->
    <script src="https://js.arcgis.com/4.24/"></script>
	<script type="module" src="~/lib/arcgis_js_api/javascript/calcite/calcite/calcite.esm.js"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.24/esri/themes/light/main.css" />
	<link rel="stylesheet" type="text/css" href="@Url.AbsoluteContent("~/lib/arcgis_js_api/javascript/calcite/calcite/calcite.css")" />
}

@section Css
{
	<link async rel="stylesheet" href="~/css/felling-and-restocking.css?v1.1" aria-busyasp-append-version="true" />
    <partial name="Partials/_DataTablesCss" />
}


@section breadcrumbs
{
	<partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}