@{
	ViewData["Title"] = "Record the result of the EIA screening";
	var user = new InternalUser(User);
}
@using Forestry.Flo.Internal.Web.Services.FellingLicenceApplication.WoodlandOfficerReview
@using Forestry.Flo.Services.Common
@model Forestry.Flo.Internal.Web.Models.WoodlandOfficerReview.EiaScreeningViewModel

<div class="govuk-grid-column-two-thirds">
    
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                This application may need an Environmental Impact Assessment (EIA) decision
            </p>
            <p>
                Use this section to record the outcome of your Environmental Impact Assessment (EIA) screening.
            </p>
            <p>
                Use the information provided, including the application and any submitted EIA forms or related documents, to assess this case.
            </p>
        </div>
    </div>

    <partial name="Partials/_ConfirmationMessageDisplay" />
    <partial name="Partials/_UserGuideDisplay" />
    <partial name="Partials/_PageErrors" />

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <h2 class="govuk-heading-m">EIA forms</h2>
    
    @if (Model.EiaDocumentModels.Any())
    {
        <table class="govuk-table" data-module="moj-sortable-table" id="documentation-list-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" aria-sort="none">File name</th>
                <th scope="col" class="govuk-table__header" aria-sort="descending">Date</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var document in Model.EiaDocumentModels)
            {
                <tr class="govuk-table__row" data-id="@document.Id">
                    <td class="govuk-table__cell wrapped-text">
                        <a class="hidden-download-supporting-document"
                           asp-controller="SupportingDocuments"
                           asp-action="GetDocument"
                           asp-route-id="@Model.ApplicationId"
                           asp-route-documentIdentifier="@document.Id">
                            @document.FileName
                        </a>
                    </td>
                    <td class="govuk-table__cell" data-sort-value="@document.CreatedTimestamp.Ticks">@DateTimeDisplay.GetDateTimeDisplayString(document.CreatedTimestamp)</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else{
        <p class="govuk-body">No EIA documents uploaded</p>
    }

    <h2 class="govuk-heading-m">EIA form request history</h2>
    
    <div class="govuk-form-group">
        @if (Model.RequestHistoryItems.Any())
        {
            @foreach (var requestHistory in Model.RequestHistoryItems)
            {
                <p class="govuk-body">
                    <b>Requested by @requestHistory.RequestedBy on @DateTimeDisplay.GetDateDisplayString(requestHistory.RequestedOn) at @DateTimeDisplay.GetTimeDisplayString(requestHistory.RequestedOn)</b> 
                    <br/>
                    @RequestTypeDescriptions.GetDisplayText(requestHistory.RequestType)
                </p>
            }
        }
        else
        {
            <p class="govuk-body">No EIA form request history</p>
        }
    </div>

    <form method="post">
        <input hidden="hidden" aria-hidden="True" asp-for="ApplicationId" />
        
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Confirm the EIA screening has been completed in line with the G&R EIA code
                    </h1>
                </legend>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <validation asp-for="ScreeningCompleted"></validation>
                    <div class="govuk-checkboxes__item">
                        <input condition-disabled="@(!Model.Editable(user))" class="govuk-checkboxes__input" asp-for="ScreeningCompleted" type="checkbox">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="ScreeningCompleted">
                            Screening has been completed
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <button type="submit"
                condition="@(Model.Editable(user))"
                class="govuk-button"
                data-module="govuk-button">
            Complete the WO EIA review
        </button>

    </form>

</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}
