@using Forestry.Flo.Internal.Web.Infrastructure
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.FellingLicenceApplications.Configuration
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@using NodaTime

@{
    ViewData["Title"] = "Consultation public register";
}

@model Forestry.Flo.Internal.Web.Models.WoodlandOfficerReview.PublicRegisterViewModel
@inject IOptions<WoodlandOfficerReviewOptions> Settings

@{
    var user = new InternalUser(User);
    var isActiveOnRegister = Model.PublicRegister.ConsultationPublicRegisterExpiryTimestamp.HasValue && 
                             Model.PublicRegister.ConsultationPublicRegisterRemovedTimestamp.HasNoValue();
    var hasUnreviewedComments = Model.ReceivedPublicRegisterComments.Any(x => !x.Reviewed);
}

<partial name="Partials/_PageErrors"/>
<partial name="Partials/_ConfirmationMessageDisplay"/>
<partial name="Partials/_UserGuideDisplay"/>
<partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary"/>

<div class="govuk-grid-column-two-thirds width-limit-override">

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    
    
    @if (!Model.PublicRegister.ConsultationPublicRegisterPublicationTimestamp.HasValue)
    {
        <form method="post" asp-action="SaveExemption">
        
            <input asp-for="ApplicationId"/>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="exempt-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Should this application be exempt from the consultation public register?
                        </h2>
                    </legend>
                    <div id="exempt-hint" class="govuk-hint">
                        Select 'Yes' if the application meets the exemption criteria.
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input condition-disabled="@(!Model.Editable(user))" class="govuk-radios__input" id="exempt-yes" name="exempt" type="radio" value="@true" data-aria-controls="conditional-reason" />
                            <label class="govuk-label govuk-radios__label" for="exempt-yes">Yes</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason">
                            <div class="govuk-form-group">
                                <label class="govuk-hint" for="exemption-reason">
                                    Give reason for exemption
                                </label>
                                <validation asp-for="PublicRegister.WoodlandOfficerConsultationPublicRegisterExemptionReason"></validation>
                                <textarea condition-disabled="@(!Model.Editable(user))" id="exemption-reason" class="govuk-textarea" rows="4" asp-for="PublicRegister.WoodlandOfficerConsultationPublicRegisterExemptionReason"></textarea>
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input condition-disabled="@(!Model.Editable(user))" class="govuk-radios__input" id="exempt-no" name="exempt" type="radio" value="@false" />
                            <label class="govuk-label govuk-radios__label" for="exempt-no">No</label>
                        </div>
                    </div>
                    <input id="exempt-backing-field" type="hidden" asp-for="PublicRegister.WoodlandOfficerSetAsExemptFromConsultationPublicRegister"/>
                    
                    <br/>

                    <div class="govuk-button-group" id="save-exemption-form">
                        <button condition="@Model.Editable(user)" id="save-exemption-btn" class="govuk-button" data-module="govuk-button" type="submit">Save exemption</button>
                        <a class="govuk-link" asp-action="Index" asp-route-id="@Model.ApplicationId">Back to woodland officer review</a>
                    </div>
                </fieldset>
                
            </div>

        </form>

        <form method="post" asp-action="PublishToConsultationPublicRegister" id="publish-form">

            <input asp-for="ApplicationId"/>
            
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-described-by="publish-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            How long should it stay on the consultation public register?
                        </h2>
                    </legend>
                    <div id="publish-hint" class="govuk-hint">
                        Select 'Yes' if the application meets the exemption criteria.
                    </div>
                    <div class="govuk-form-group" condition="@Model.Editable(user)">
                        <label for="pr-period-days" class="govuk-body govuk-label--s">Period on public register (days)</label>
                        <validation asp-for="PublicRegister.ConsultationPublicRegisterPeriodDays"></validation>

                        <div class="govuk-input__wrapper">
                            <input condition-disabled="@(!Model.Editable(user))" id="pr-period-days" class="govuk-input govuk-input--width-5" asp-for="PublicRegister.ConsultationPublicRegisterPeriodDays" type="text" inputmode="numeric" step="1" value="@(Model.PublicRegister?.ConsultationPublicRegisterPeriodDays ?? Settings.Value.PublicRegisterPeriod.Days)" />
                            <div class="govuk-input__suffix" aria-hidden="true">days</div>
                        </div>
                    </div>
                </fieldset>
                
                <br/>
                
                <div class="govuk-button-group">
                    <button condition="@Model.Editable(user)" id="publish-btn" type="submit" class="govuk-button" data-module="govuk-button">
                        Publish to public register
                    </button>
                    <a class="govuk-link" asp-action="Index" asp-route-id="@Model.ApplicationId">Back to woodland officer review</a>
                </div>
            </div>
        </form>

        <div class="govuk-button-group" id="back-link-no-forms">
            <a class="govuk-link" asp-action="Index" asp-route-id="@Model.ApplicationId">Back to woodland officer review</a>
        </div>
    }

    @if (Model.PublicRegister.ConsultationPublicRegisterPublicationTimestamp.HasValue)
    {
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Published to public register date
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PublicRegister.ConsultationPublicRegisterPublicationTimestamp.Value.ToString("dd/MM/yyyy")
                </dd>
            </div>

            <div condition="@Model.PublicRegister.ConsultationPublicRegisterRemovedTimestamp.HasValue" class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Removed from public register date
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PublicRegister.ConsultationPublicRegisterRemovedTimestamp!.Value.ToString("dd/MM/yyyy")
                </dd>
            </div>
            
            <div condition="@isActiveOnRegister" class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Expires on public register date
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PublicRegister.ConsultationPublicRegisterExpiryTimestamp!.Value.ToString("dd/MM/yyyy")
                </dd>
            </div>
        </dl>

        @if (isActiveOnRegister)
        {
            <form asp-action="RemoveFromPublicRegister" method="post">
                <input asp-for="ApplicationId"/>
                <input asp-for="RemoveFromPublicRegister.ApplicationReference"/>
                <input asp-for="RemoveFromPublicRegister.EsriId"/>
                <div class="govuk-hint">
                    Once the application has expired on the consultation public register, or earlier if required, click this button
                    to remove the application from the consultation public register.  This will complete the public register stage of the review.
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-button-group">
                        <button condition="@Model.Editable(user)" condition-disabled="@hasUnreviewedComments" type="submit" class="govuk-button">
                            Remove from public register
                        </button>
                    </div>
                </div>
            </form>
        }

        <br/>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div>
                    <h2 class="govuk-heading-m">Received public register comments</h2>
                    
                    @if (Model.ReceivedPublicRegisterComments.Any())
                    {
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Date submitted</th>
                                    <th scope="col" class="govuk-table__header">Comment</th>
                                    <th scope="col" class="govuk-table__header">Status</th>
									<th scope="col" class="govuk-table__header">Actions</th>
								</tr>
                            </thead>
                            <tbody class="govuk-table__body">

                            @foreach (var notification in Model.ReceivedPublicRegisterComments.OrderByDescending(x => x.CreatedTimestamp))
                            {
                                <tr class="govuk-table__row">
										<td class="govuk-table__cell">@notification.CreatedTimestamp.ToString("g")</td>
                                        <td class="govuk-table__cell">@notification.Text</td>
                                        <td class="govuk-table__cell">@notification.Status</td>
                                        <td class="govuk-table__cell">
                                            <a class="govuk-link" asp-action="ReviewComment" condition="@Model.Editable(user)"
                                               asp-route-id="@Model.ApplicationId" asp-route-commentId="@notification.Id">View</a>
                                        </td>
                                    </tr>
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div condition="@(!Model.PublicRegister.ConsultationPublicRegisterExpiryTimestamp.HasValue)" class="govuk-hint">None received to date.</div>
                        <div condition="@(Model.PublicRegister.ConsultationPublicRegisterExpiryTimestamp.HasValue)" class="govuk-hint">None were received.</div>
                    }
                </div>
            </div>
        </div>
     
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <a asp-controller="WoodlandOfficerReview" asp-action="Index" asp-route-id="@Model.ApplicationId" class="govuk-link">Back to woodland officer review</a>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/js/public-register.js" asp-append-version="true"></script>
}

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}