@using Forestry.Flo.Internal.Web.Infrastructure
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.FellingLicenceApplications.Configuration
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options
@using NodaTime
@using Forestry.Flo.Services.Common

@{
    ViewData["Title"] = "Comment received";
}

@model Forestry.Flo.Internal.Web.Models.WoodlandOfficerReview.ReviewCommentModel

@{
    var user = new InternalUser(User);
}

<div class="govuk-grid-column-full">
    
    <partial name="Partials/_ConfirmationMessageDisplay"/>
    <partial name="Partials/_UserGuideDisplay"/>

    <h1 class="govuk-heading-m">@ViewData["Title"]</h1>
    
    <partial name="Partials/_PageErrors"/>

    <form method="post"
          asp-action="ReviewComment"
          asp-route-id="@Model.ApplicationId"
          asp-route-commentId="@Model.Comment.Id">

        <input asp-for="ApplicationId"/>
		<div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="exempt-hint">
                <div class="govuk-form-group">
                    <p class="govuk-body">
                        @DateTimeDisplay.GetDateTimeDisplayString(Model.Comment.CreatedTimestamp, " at ") <br />
                        <a class="govuk-link" href="@Model.CommentDeepLink">
                            View all comments on the consultation public register
                        </a>
                    </p>

                    <p class="govuk-body">
                        @Model.Comment.Text
                    </p>
                </div>
            </fieldset>
            </div>
        @if (Model.Comment.Reviewed)
        {
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="exempt-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Responses
                        </h2>
                    </legend>
                    <div id="exempt-hint" class="govuk-body">
                        @Model.Comment.LastUpdatedUser <br />
                        @DateTimeDisplay.GetDateTimeDisplayString(Model.Comment.LastUpdatedDate, " at ")
                    </div>
                    <div class="govuk-form-group">
                        <p class="govuk-body">
                            @Model.Comment.Response
                        </p>
                    </div>

                </fieldset>
            </div>
            <div class="govuk-button-group" id="back-link-no-forms">
                <a class="govuk-button" asp-action="PublicRegister" asp-route-id="@Model.ApplicationId">Close</a>
            </div>
        }
        else
        {
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="exempt-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Respond to this comment
                        </h2>
                    </legend>
                    <div id="exempt-hint" class="govuk-hint">
                        Your response will be saved to this FLA.
                    </div>
                    <div class="govuk-form-group">
                        <validation asp-for="Comment.Response"></validation>
                        <textarea class="govuk-textarea" rows="4" asp-for="Comment.Response"></textarea>
                    </div>

                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" asp-for="Comment.Reviewed" type="checkbox">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="Comment.Reviewed">
                            Mark as reviewed
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group" id="back-link-no-forms">
                <button id="save-response-btn" class="govuk-button" data-module="govuk-button" type="submit">Save response</button>
            </div>
        }
    </form>

</div>

@section Scripts
{
    <script src="~/js/public-register.js" asp-append-version="true"></script>
}

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}