@model Forestry.Flo.Internal.Web.Models.WoodlandOfficerReview.SelectFellingCompartmentModel

@{
    ViewData["Title"] = "Select felling compartment";
}

<partial name="Partials/_ConfirmationMessageDisplay" />
<partial name="Partials/_UserGuideDisplay" />
<partial name="Partials/_FellingLicenceApplicationSummary" model="Model.FellingLicenceApplicationSummary" />

<div class="govuk-grid-column-two-thirds width-limit-override">

    <form method="post">
        <input aria-hidden="True" type="hidden" asp-for="ApplicationId" />

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h1 class="govuk-tabs__title">
                @ViewData["Title"]
            </h1>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#list">
                        List
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#map">
                        Map
                    </a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="list">
                <div class="govuk-form-group">
                    <input type="hidden" aria-hidden="True" asp-for="@Model.GisData"/>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading">
                                    Which compartment do you want to add a felling operation to?
                                </h1>
                            </legend>
                            <validation asp-for="SelectedCompartmentId"></validation>
                            <div class="govuk-radios" data-module="govuk-radios">
                                @foreach (var compartment in Model.SelectableCompartments)
                                {
                                    var id = $"compartment-radio-item-{compartment.Id}";
                                    <div class="govuk-radios__item">
                                        @Html.RadioButtonFor(x => x.SelectedCompartmentId, compartment.Id, new { @class = "govuk-radios__input", @id = @id })
                                        <label class="govuk-label govuk-radios__label" for="@id">
                                            @compartment.DisplayName
                                        </label>
                                    </div>
                                }
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="map">
                <arcgis-map id="viewDiv" aria-label="Map of the selected compartment">
                    <arcgis-scale-bar slot="bottom-right" unit="dual"></arcgis-scale-bar>
                    <arcgis-zoom slot="top-right"></arcgis-zoom>
                    <arcgis-compass slot="top-right"></arcgis-compass>
                    <arcgis-expand slot="top-right">
                        <arcgis-basemap-gallery></arcgis-basemap-gallery>
                    </arcgis-expand>
                </arcgis-map>
            </div>
        </div>

        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button class="govuk-button" type="submit" data-module="govuk-button">
                    Continue
                </button>
                
                <a class="govuk-link" asp-action="ConfirmedFellingAndRestocking" asp-route-id="@Model.ApplicationId">Back to confirmed felling and restocking summary</a>
            </div>
        </div>
    </form>
</div>

    @section Css {
        <link rel="stylesheet" href="https://js.arcgis.com/4.34/esri/themes/light/main.css" />

    <style>
        #viewDiv {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            padding: 0;
            margin: 0;
            height: 85vh !important;
        }
    </style>
}

@section Scripts
{
    <script src="https://js.arcgis.com/calcite-components/3.3.3/calcite.esm.js" type="module"></script>
    <script src="https://js.arcgis.com/4.34/"></script>
    <script type="module" src="https://js.arcgis.com/4.34/map-components/"></script>

    <script>
        document.handleCheckboxClick= function (event){
            let elm = document.getElementById("GisData");
            if (!elm) {
                return;
            }

            if (typeof elm.value !== "string" || elm.value.trim().length === 0) {
                return;
            }

            let gis = JSON.parse(elm.value);

            gis.every(r => {
                if (r.Id === this.value) {
                    r.Selected = this.checked;
                    return false;
                }
                return true;
            });

            elm.value = JSON.stringify(gis);
        }
        var checks = document.querySelectorAll('input[name="SelectedCompartmentId"]');
        checks.forEach(check =>{
            check.removeEventListener('click', document.handleCheckboxClick);
        });
    </script>

    <script>
        require(["../../js/mapping/maps/map-compartment-selection.js?v=" + Date.now()], function (MapCompartmentSelection) {
            var mapObj = new MapCompartmentSelection("viewDiv");
            var checks = document.querySelectorAll('input[name="SelectedCompartmentIds"]');
            checks.forEach(check => {
                check.addEventListener('click', document.handleCheckboxClick);
            });
        })
    </script>
}

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}