@using NodaTime

@{
    ViewData["Title"] = "Is a site visit needed?";
    var user = new InternalUser(User);
}

@model Forestry.Flo.Internal.Web.Models.WoodlandOfficerReview.SiteVisitViewModel

<partial name="Partials/_PageErrors" />
<partial name="Partials/_ConfirmationMessageDisplay" />
<partial name="Partials/_UserGuideDisplay" />
<partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary" />

<div class="govuk-grid-column-two-thirds">
    
    <form method="post">

        <input asp-for="ApplicationId"/>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="site-visit-needed-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        @ViewData["Title"]
                    </h1>
                </legend>
                <div id="site-visit-needed-hint" class="govuk-hint">
                    Select 'Yes' if a site visit is needed before making a decision
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input condition-disabled="@(!Model.Editable(user))" class="govuk-radios__input" id="site-visit-needed-yes" asp-for="SiteVisitNeeded" value="true" type="radio" />
                        <label class="govuk-label govuk-radios__label" for="site-visit-needed-yes">Yes</label>
                    </div>
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input condition-disabled="@(!Model.Editable(user))" class="govuk-radios__input" id="site-visit-needed-no" asp-for="SiteVisitNeeded" value="false" type="radio" />
                        <label class="govuk-label govuk-radios__label" for="site-visit-needed-no">No</label>
                    </div>
                </div>
            </fieldset>
            <br/>

            <fieldset condition="@Model.Editable(user)" class="govuk-fieldset govuk-visually-hidden" aria-hidden="True" id="not-needed-reason">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        Why is a site visit not needed?
                    </h2>
                </legend>
                @Html.EditorFor(m => m.SiteVisitNotNeededReason)
                <br/>
            </fieldset>
            
            <div class="govuk-visually-hidden" aria-hidden="true" id="preparation-notes">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Prepare for site visit
                        </h2>
                    </legend>
                    <p class="govuk-body">
                        Before you carry out the site visit, make sure you've reviewed all the documents and agreed access arrangements.
                    </p>
                    <p class="govuk-body">
                        You can record preparation notes and print or download an application summary if needed.
                    </p>
                    <p class="govuk-body">
                        <a class="govuk-link" target="_blank" asp-action="SiteVisitSummary" asp-route-id="@Model.ApplicationId">Print or download an application summary to take to the site visit</a>
                    </p>
                    <br/>
                </fieldset>

                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Have site visit arrangements been made?
                        </h2>
                    </legend>
                    <div id="site-visit-arrangments-hint" class="govuk-hint">
                        For example, agreeing a date, confirming parking or access arrangements.
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input condition-disabled="@(!Model.Editable(user))" class="govuk-radios__input" id="site-visit-arrangements-yes" asp-for="SiteVisitArrangementsMade" value="true" type="radio" />
                            <label class="govuk-label govuk-radios__label" for="site-visit-arrangements-yes">Yes</label>
                        </div>
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input condition-disabled="@(!Model.Editable(user))" class="govuk-radios__input" id="site-visit-arrangements-no" asp-for="SiteVisitArrangementsMade" value="false" type="radio" />
                            <label class="govuk-label govuk-radios__label" for="site-visit-arrangements-no">No</label>
                        </div>
                    </div>
                    <br/>
                </fieldset>
                
                <fieldset condition="@Model.Editable(user)" class="govuk-fieldset govuk-visually-hidden" aria-hidden="True" id="arrangement-notes">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Site visit arrangement notes
                        </h2>
                    </legend>
                    @Html.EditorFor(m => m.SiteVisitArrangementNotes)
                    <br/>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button id="submit-button" condition="@Model.Editable(user)" class="govuk-button" data-prevent-double-click="true" data-module="govuk-button" type="submit" disabled="disabled">Continue</button>
                    <a asp-controller="WoodlandOfficerReview" asp-action="Index" asp-route-id="@Model.ApplicationId" class="govuk-link">Back to woodland officer review</a>
                </div>
            </div>
        </div>

    </form>

    <partial name="Partials/_ActivityFeed" model="@Model.SiteVisitComments"/>

</div>

@section Scripts
{
    <script src="~/js/site-visit.js" asp-append-version="true"></script>
    <script src="~/js/add-case-note.js" asp-append-version="true"></script>
    <script src="~/js/display-user-icon.js" asp-append-version="true"></script>
    <script src="~/js/filter-activity-feed.js" asp-append-version="true"></script>
}

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}