@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@model Forestry.Flo.Internal.Web.Models.WoodlandOfficerReview.UpdateDesignationsViewModel


@{
    ViewData["Title"] = "Designations for " + Model.CompartmentDesignations.CompartmentName;
    var user = new InternalUser(User);

    var saveButtonText = Model.NextCompartmentId.HasValue
        ? "Save and continue to next compartment"
        : "Save and return to designations";

    var pawsHint = (Model.ProposedCompartmentDesignations?.CrossesPawsZones.Count ?? 0) == 0
        ? "Compartment does not cross any PAWS zones."
        : Model.ProposedCompartmentDesignations.CrossesPawsZones.Count == 1
            ? "Compartment crosses PAWS zone: " + Model.ProposedCompartmentDesignations.CrossesPawsZones[0]
            : "Compartment crosses PAWS zones: " + string.Join(", ", Model.ProposedCompartmentDesignations.CrossesPawsZones);
}

<partial name="Partials/_ConfirmationMessageDisplay" />
<partial name="Partials/_UserGuideDisplay" />
<partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary" />

<div class="govuk-grid-column-two-thirds width-limit-override">

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    
    <p class="govuk-body">@Model.CompartmentsReviewed of @Model.TotalCompartments compartments reviewed</p>
    
    <form method="post">
        <input asp-for="ApplicationId" />
        <input type="hidden" asp-for="CompartmentDesignations.SubmittedFlaCompartmentId"/>
        <input type="hidden" asp-for="CompartmentDesignations.Id" />
        <input asp-for="NextCompartmentId" />
        <input type="hidden" asp-for="CompartmentDesignations.CompartmentName"/>

        <govuk-form-group asp-for="CompartmentDesignations" id="CompartmentDesignations">
            <fieldset class="govuk-fieldset" aria-describedby="designations-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        Designations
                    </h2>
                </legend>
                <validation asp-for="CompartmentDesignations"></validation>
                <div id="designations-hint" class="govuk-hint">
                    Use the LIS report to check whether this compartment has designations.
                    Record the correct designations below, or confirm that no designations
                    apply.
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" asp-for="CompartmentDesignations.Sssi">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="CompartmentDesignations.Sssi">
                            SSSI
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" asp-for="CompartmentDesignations.Sacs">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="CompartmentDesignations.Sacs">
                            SACs
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" asp-for="CompartmentDesignations.Spa">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="CompartmentDesignations.Spa">
                            SPA
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" asp-for="CompartmentDesignations.Ramsar">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="CompartmentDesignations.Ramsar">
                            RAMSAR
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" asp-for="CompartmentDesignations.Sbi">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="CompartmentDesignations.Sbi">
                            SBI (local wildlife sites)
                        </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input condition="@(Model.ProposedCompartmentDesignations != null)" class="govuk-checkboxes__input" asp-for="CompartmentDesignations.Paws" aria-describedby="paws-hint" data-aria-controls="paws-values">
                        <input condition="@(Model.ProposedCompartmentDesignations == null)" class="govuk-checkboxes__input" asp-for="CompartmentDesignations.Paws" data-aria-controls="paws-values">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="CompartmentDesignations.Paws">
                            PAWS
                        </label>
                        <div id="paws-hint" class="govuk-hint govuk-checkboxes__hint" condition="@(Model.ProposedCompartmentDesignations != null)">
                            @pawsHint
                        </div>
                    </div>
                    <div class="govuk-checkboxes__conditional" id="paws-values">
                        <govuk-form-group asp-for="CompartmentDesignations.ProportionBeforeFelling" class="govuk-form-group">
                            <label class="govuk-label" asp-for="CompartmentDesignations.ProportionBeforeFelling">What proportion of native tree species make up this compartment</label>
                            <div id="proportion-before-hint" class="govuk-hint" condition="(Model.ProposedCompartmentDesignations.ProportionBeforeFelling.HasValue)">
                                The applicant answered: @Model.ProposedCompartmentDesignations.ProportionBeforeFelling.GetDisplayName()
                            </div>
                            <validation asp-for="CompartmentDesignations.ProportionBeforeFelling"></validation>
                            <select class="govuk-select" asp-for="CompartmentDesignations.ProportionBeforeFelling" asp-items="Html.GetEnumSelectList<NativeTreeSpeciesProportion>()" condition="(@Model.ProposedCompartmentDesignations.ProportionBeforeFelling.HasValue)" aria-describedby="proportion-before-hint">
                                <option value="">Select an option</option>
                            </select>
                            <select class="govuk-select" asp-for="CompartmentDesignations.ProportionBeforeFelling" asp-items="Html.GetEnumSelectList<NativeTreeSpeciesProportion>()" condition="(@Model.ProposedCompartmentDesignations.ProportionBeforeFelling.HasNoValue())">
                                <option value="">Select an option</option>
                            </select>
                        </govuk-form-group>
                        <govuk-form-group asp-for="CompartmentDesignations.ProportionAfterFelling" class="govuk-form-group">
                            <label class="govuk-label" asp-for="CompartmentDesignations.ProportionAfterFelling">What proportion of native tree species will be left in the compartment based on the proposed felling</label>
                            <div id="proportion-after-hint" class="govuk-hint" condition="(Model.ProposedCompartmentDesignations.ProportionAfterFelling.HasValue)">
                                The applicant answered: @Model.ProposedCompartmentDesignations.ProportionAfterFelling.GetDisplayName()
                            </div>
                            <validation asp-for="CompartmentDesignations.ProportionAfterFelling"></validation>
                            <select class="govuk-select" asp-for="CompartmentDesignations.ProportionAfterFelling" asp-items="Html.GetEnumSelectList<NativeTreeSpeciesProportion>()" condition="(@Model.ProposedCompartmentDesignations.ProportionAfterFelling.HasValue)" aria-describedby="proportion-after-hint">
                                <option value="">Select an option</option>
                            </select>
                            <select class="govuk-select" asp-for="CompartmentDesignations.ProportionAfterFelling" asp-items="Html.GetEnumSelectList<NativeTreeSpeciesProportion>()" condition="(@Model.ProposedCompartmentDesignations.ProportionAfterFelling.HasNoValue())">
                                <option value="">Select an option</option>
                            </select>
                        </govuk-form-group>
                        <div class="govuk-form-group" condition="Model.ProposedCompartmentDesignations != null">
                            <label class="govuk-label">Are you restoring this compartment?</label>
                            <div class="govuk-hint">The applicant answered: @(Model.ProposedCompartmentDesignations.IsRestoringCompartment is true ? "Yes" : "No")</div>
                        </div>
                        <div class="govuk-form-group" condition="Model.ProposedCompartmentDesignations is { IsRestoringCompartment: true }">
                            <label class="govuk-label">Why is this compartment being restored?</label>
                            <div class="govuk-hint">The applicant answered: @Model.ProposedCompartmentDesignations.RestorationDetails</div>
                        </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" asp-for="CompartmentDesignations.Other" data-aria-controls="conditional-other">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="CompartmentDesignations.Other">
                            Other designation
                        </label>
                    </div>
                    <div class="govuk-checkboxes__conditional" id="conditional-other">
                        <div class="govuk-form-group">
                            <label class="govuk-label" asp-for="CompartmentDesignations.OtherDesignationDetails">
                                Explain the other designations identified in the LIS report
                            </label>
                            <validation asp-for="CompartmentDesignations.OtherDesignationDetails"></validation>
                            <textarea class="govuk-textarea" asp-for="CompartmentDesignations.OtherDesignationDetails" rows="3"></textarea>
                        </div>
                    </div>
                
                    <div class="govuk-checkboxes__divider">or</div>
                
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" asp-for="CompartmentDesignations.None">
                        <label class="govuk-label govuk-checkboxes__label" asp-for="CompartmentDesignations.None">
                            None
                        </label>
                    </div>
                </div>
            </fieldset>
        </govuk-form-group>
        
        <div class="govuk-hint">
            Saving this compartment will make it @(Model.CompartmentDesignations.Id.HasValue ? Model.CompartmentsReviewed : Model.CompartmentsReviewed + 1) of @Model.TotalCompartments reviewed
        </div>
        <div class="govuk-button-group">
            <button id="submit-button" condition="@Model.Editable(user)" class="govuk-button" data-prevent-double-click="true" data-module="govuk-button" type="submit">@saveButtonText</button>
            <a asp-action="ViewDesignations" asp-route-id="@Model.ApplicationId" class="govuk-link">Back to designations</a>
        </div>
    </form>

</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}