@using Forestry.Flo.Services.Common.User
@model Forestry.Flo.External.Web.Models.UserAccount.ListUsersLinkedWoodlandOwnerModel

@{
    ViewBag.Title = "View a list of users that can manage your applications";
    Layout = "_Layout";

    var users = Model.WoodlandOwnerUsers.OrderBy(x => x.FullName);
    var currentUser = new ExternalApplicant(User);
}

<div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">Users for @currentUser.WoodlandOwnerName</h1>
    <partial name="Partials/_ConfirmationMessageDisplay" />

    <table class="govuk-table" id="users-linked-list-table">
        <thead class="govuk-table__head site_max_width">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Email</th>
            <th scope="col" class="govuk-table__header">User type</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var user in users)
        {
            <tr class="govuk-table__row" data-id="@user.UserAccountId">
                <td class="govuk-table__cell">@user.FirstName @user.LastName</td>
                <td class="govuk-table__cell">@user.Email</td>
                <td class="govuk-table__cell">
                    @switch (@user.AccountType)
                    {
                        case AccountTypeExternal.WoodlandOwner:
                            @:Woodland owner
                            break;
                        case  AccountTypeExternal.WoodlandOwnerAdministrator:
                            @:Woodland owner administrator
                            break;
                        case AccountTypeExternal.Agent:
                            @:Agent
                            break;
                        case AccountTypeExternal.AgentAdministrator:
                            @:Agency administrator
                            break;
                        case AccountTypeExternal.FcUser:
                            @:FC User
                            break;
                        default:
                            @:Unknown
                            break;
                    }</td>
            </tr>
        
        }
        </tbody>
    </table>
</div>

<user-is-in-role role-name="WoodlandOwnerAdministrator">
    <br />
    <form asp-action="InviteUserToOrganisation" asp-controller="Account" method="Get">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Invite another user to manage applications for @currentUser.WoodlandOwnerName
        </button>
    </form>
</user-is-in-role>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}