@using Forestry.Flo.Internal.Web.Controllers.FellingLicenceApplication
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Forestry.Flo.Services.FellingLicenceApplications.Entities
@using Forestry.Flo.Services.Common.Extensions
@using Forestry.Flo.Services.Common.User
@model Forestry.Flo.Internal.Web.Models.FellingLicenceApplication.ApproveRefuseReferApplicationModel

@{
    ViewBag.Title = "Approve, refuse or refer an application";
    var actionName = Model.RequestedStatus switch
    {
        FellingLicenceStatus.Approved => "ApproveApplication",
        FellingLicenceStatus.Refused => "RefuseApplication",
        FellingLicenceStatus.ReferredToLocalAuthority => nameof(ApproverReviewController.ReferApplicationToLocalAuthority),
        _ => ""
    };
}

<partial name="Partials/_FellingLicenceApplicationSummary" model="@Model.FellingLicenceApplicationSummary"/>

<div class="govuk-grid-column-two-thirds width-limit-override">
    <h1 class="govuk-heading-m">
        Confirm that you wish to set the status of application @Model.FellingLicenceApplicationSummary!.ApplicationReference to
        <b>@Model.RequestedStatus.GetDisplayNameByActorType(ActorType.InternalUser)</b>
    </h1>
    <form>
        <div class="govuk-form-group">
            <div class="govuk-button-group">
                <button data-prevent-double-click="true" type="submit" asp-action="@actionName" asp-route-id="@Model.FellingLicenceApplicationSummary.Id" class="govuk-button" data-module="govuk-button">
                    Confirm
                </button>
                <a class="govuk-link" asp-action="Index" asp-route-id="@Model.FellingLicenceApplicationSummary!.Id" title="Abandon changes and go to the previous page">Cancel</a>
            </div>
        </div>
    </form>

</div>

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs"/>
}