@model Forestry.Flo.External.Web.Models.WoodlandOwner.OrganisationDetailsFormModel
@{
    ViewData["Title"] = "What are the organisation details for this woodland owner?";
}
<div class="govuk-grid-column-two-thirds">

    <form method="post">

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    @ViewData["Title"]
                </h1>
            </legend>

            <div class="govuk-form-group">
                <label asp-for="OrganisationName" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="OrganisationName"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationName" />
            </div>

            <div class="govuk-form-group">
                <label asp-for="OrganisationAddress.Line1" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="OrganisationAddress.Line1"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line1" autocomplete="address-line1" />
            </div>

            <div class="govuk-form-group">
                <label asp-for="OrganisationAddress.Line2" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="OrganisationAddress.Line2"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line2" autocomplete="address-line2" />
            </div>

            <div class="govuk-form-group">
                <label asp-for="OrganisationAddress.Line3" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="OrganisationAddress.Line3"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line3" autocomplete="address-level2" />
            </div>

            <div class="govuk-form-group">
                <label asp-for="OrganisationAddress.Line4" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="OrganisationAddress.Line4"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.Line4" />
            </div>

            <div class="govuk-form-group">
                <label asp-for="OrganisationAddress.PostalCode" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="OrganisationAddress.PostalCode"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="OrganisationAddress.PostalCode" autocomplete="postal-code" />
            </div>

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                    <a class="govuk-link" asp-controller="FcUserCreateWoodlandOwner" asp-action="ContactDetails" title="Abandon changes and go to the previous page">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>

@section breadcrumbs
    {
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}
