@model Forestry.Flo.External.Web.Models.AgentAuthorityForm.ContactDetailsFormModel

@{
    ViewData["Title"] = "Who will you be managing applications for?";
}

<div class="govuk-grid-column-two-thirds">

    <form method="post">

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    @ViewData["Title"]
                </h1>
            </legend>

            <input type="hidden" asp-for="FromSummary">

            <govuk-form-group asp-for="ContactName">
                <label asp-for="ContactName" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactName"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactName" />

                <div id="contact-name-guidance" class="govuk-hint">
                    If the applicant is an organisation, enter the name of the main point of contact within the organisation. Otherwise, enter the full name of the applicant.
                </div>
            </govuk-form-group>

            <govuk-form-group asp-for="ContactEmail">
                <label asp-for="ContactEmail" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactEmail"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactEmail" />
            </govuk-form-group>
            
            <govuk-form-group asp-for="ContactTelephoneNumber">
                <label asp-for="ContactTelephoneNumber" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactTelephoneNumber"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactTelephoneNumber" autocomplete="tel" />
            </govuk-form-group>

            <govuk-form-group asp-for="ContactAddress.Line1">
                <label asp-for="ContactAddress.Line1" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactAddress.Line1"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line1" autocomplete="address-line1" />
            </govuk-form-group>

            <govuk-form-group asp-for="ContactAddress.Line2">
                <label asp-for="ContactAddress.Line2" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactAddress.Line2"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line2" autocomplete="address-line2" />
            </govuk-form-group>

            <govuk-form-group asp-for="ContactAddress.Line3">
                <label asp-for="ContactAddress.Line3" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactAddress.Line3"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line3" autocomplete="address-level2" />
            </govuk-form-group>

            <govuk-form-group asp-for="ContactAddress.Line4">
                <label asp-for="ContactAddress.Line4" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactAddress.Line4"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.Line4" autocomplete="address-level1"/>
            </govuk-form-group>

            <govuk-form-group asp-for="ContactAddress.PostalCode">
                <label asp-for="ContactAddress.PostalCode" class="@GdsConstants.GdsLabelCssClass"></label>
                <validation asp-for="ContactAddress.PostalCode"></validation>
                <input class="@GdsConstants.GdsInputCssClass" asp-for="ContactAddress.PostalCode" autocomplete="postal-code" />
            </govuk-form-group>

            <govuk-form-group asp-for="IsOrganisation">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                            Is the applicant an organisation?
                        </h2>
                    </legend>
                    <validation asp-for="IsOrganisation"></validation>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="IsOrganisation" id="isorg-true" type="radio" value="true">
                            <label class="govuk-label govuk-radios__label" asp-for="IsOrganisation" for="isorg-true">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="IsOrganisation" id="isorg-false" type="radio" value="false">
                            <label class="govuk-label govuk-radios__label" asp-for="IsOrganisation" for="isorg-false">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </govuk-form-group>

            <div class="govuk-form-group">
                <div class="govuk-button-group">
                    <button data-prevent-double-click="true" type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>

                    <a class="govuk-link" asp-controller="Home" asp-action="AgentUser" title="Abandon changes and go to the agent authority forms page">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>    

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}
