@using Forestry.Flo.Services.Common.Extensions
@model Forestry.Flo.External.Web.Models.Agency.AgentAuthorityFormsViewModel

@{
    ViewData["Title"] = "Your Managed Woodland Owners";
}

<div class="govuk-grid-column-full">

    <partial name="Partials/_PageErrors" />
    <partial name="Partials/_ConfirmationMessageDisplay" />
    <partial name="Partials/_UserGuideDisplay" />
    
    <h1 class="govuk-heading-xl">Your managed woodland owners</h1>

    <table class="govuk-table" id="agent-authorities-list-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Contact/Organisation name</th>
            <th scope="col" class="govuk-table__header">Contact Email</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        @foreach (var form in Model.AgentAuthorityForms)
        {
            <tr data-id="@form.Id" class="govuk-table__row">

                @if (form.WoodlandOwner.IsOrganisation)
                {
                    <th scope="row" class="govuk-table__header" data-order="@form.WoodlandOwner.OrganisationName">@form.WoodlandOwner.OrganisationName</th>
                }
                else
                {
                    <th scope="row" class="govuk-table__header" data-order="@form.WoodlandOwner.ContactName">@form.WoodlandOwner.ContactName</th>
                }

                <th scope="row" class="govuk-table__header" data-order="@form.WoodlandOwner.ContactEmail">@form.WoodlandOwner.ContactEmail</th>

                <th scope="row" class="govuk-table__header" data-order="@form.Status.GetDisplayName()">@form.Status.GetDisplayName()</th>
                
                <td class="govuk-table__cell">

                    <a class="govuk-link" asp-controller="AgentAuthorityFormDocuments" asp-action="Index" asp-route-agentAuthorityId="@form.Id">
                    View agent authority
                </a>
            </td>
            </tr>
        }
        </tbody>
    </table> 


    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="show-deactivated" name="show-deactivated" type="checkbox">
                    <label class="govuk-label govuk-checkboxes__label" for="show-deactivated">
                        Include deactivated authority requests
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    
    <div class="govuk-button-group">
        <a type="button" class="govuk-button" asp-action="ContactDetails" asp-route-reset="@true" asp-route-AgencyId="@Model.AgencyId" data-module="govuk-button">
            Add agent authority form
        </a>
        <user-is-fc-user>
            <a class="govuk-link" asp-controller="FcUser" asp-action="Index" title="Back"> Back </a>
        </user-is-fc-user>
        <user-is-not-fc-user>
            <a class="govuk-link" asp-controller="Home" asp-action="AgentUser" asp-route-AgencyId="@Model.AgencyId" title="Back"> Back </a>
        </user-is-not-fc-user>
    </div>
</div>

@section Scripts
{
    <partial name="Partials/_DataTablesJs" />
    <script src="~/js/agent-authority-forms.js" asp-append-version="true"></script>
}

@section Css
{
    <partial name="Partials/_DataTablesCss" />
}

@section breadcrumbs
{
    <partial name="Partials/_BreadcrumbsMenu" model="@Model.Breadcrumbs" />
}
